{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<div style="display: flex;justify-content: center;align-content: center;">

    <button type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#pa">
    Add New Senior Management
</button>

<!-- Modal -->
<div class="modal fade" id="pa" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/addseniormanagement" enctype="multipart/form-data">
            
                <h1 style="text-align:center">Add New Senior Management</h1>
    
                
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input name="name" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="name" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Position</label>
                    <input name="position" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="position held" required>
                </div>
           
                <div class="form-group">
                    <label for="exampleFormControlFile1">Choose Board Member Image</label><br>
                    <input name="management_image" type="file" class="form-control-file" id="exampleFormControlFile1" required>
                </div>
             
        
    
                <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">cover_page_title</label>
                    <input name="cover_page_title" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_title">
                </div> -->
    <!-- 
                <div class="form-group">
                    <label for="exampleFormControlInput1">item route name</label>
                    <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_title">
                </div> -->
    
                <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">cover_page_description</label>
                    <input name="cover_page_description" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_description">
                </div> -->
    
                <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">Choose gallery image </label><br>
                    <input name="gallery_image" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">Choose cover image</label><br>
                    <input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">PDF</label><br>
                    <input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                <!-- <div>
                    <label for="exampleFormControlTextarea1">body text</label>
                    <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div> -->
    
                <!-- <div class="form-group">
                    <label for="cover_page_image">cover page image</label><br>
                    <input name="cover_page_image" type="file" class="form-control-file" id="cover_page_image">
                </div> -->
    <!-- 
                <div class="form-group">
                    <label for="exampleFormControlInput1">Sort Order</label>
                    <input name="sort_order" type="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="sort_order">
                </div> -->
    
                <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>



   
</div>

 

    <!-- <h1 style="text-align: center;">List of Items For {{ category_name }}</h1> -->

    <div class="container">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">name</th>
                    <th scope="col">position</th>
                    
                    <th scope="col">picture_Url</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for item in items%}
                <tr>
                    
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.position}}</td>
                    
                    <td>{{item.fileurl[:40]}}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal{{item.id}}">
                            edit
                        </button>
    
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    <form action="/admin/edit/seniormanagement/{{item.id}}" method="post" enctype="multipart/form-data">
    
                                        <h1 style="text-align:center">Edit Senior Management</h1>

            
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input name="name" type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="name" value="{{item.name}}" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Position</label>
                <input name="position" type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="position held" value="{{item.position}}" required>
            </div>
     
            <div class="form-group">
                <label for="exampleFormControlFile1">Choose  Senior Management Image</label><br>
                <input name="board_image" type="file" class="form-control-file" id="exampleFormControlFile1"  value="{{item.fileurl}}" >
            </div>
            <input type="hidden" name="file" value="{{item.fileurl}}">
            <div class="modal-footer">
    
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </form>
                                    </div>
    
                                        </div>
                                        
                                </div>
                            </div>
                        </td>
                    
                    
                    

                    <td>
                        <form action="/seniormanagement/delete/{{item.id}}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script>
        function myFunction() {
          document.getElementById("exampleFormControlTextarea1").value = "Fifth Avenue, New York City";
        }
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#table_id').DataTable();
      });
    </script>
    {% endblock %}