{% extends "backend/layout/base_navbar.html" %}

{% block content %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
    Create
</button>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create new user</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create_user" method="post" > 
          <div class="form-group">
            <label for="username">Email</label>
            <input name="email" type="text" class="form-control" id="username"  placeholder="Enter username" required>
          </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input name="username" type="text" class="form-control" id="username"  placeholder="Enter username" required>
            </div>
            <div class="form-group">
              <label for="Password1">Password</label>
              <input name="password" type="password" class="form-control" id="Password1" placeholder="Password" required>
            </div>
            <div class="form-group">
              <label for="username">Role</label>
              <select class="form-select" name="role" aria-label=".form-select-lg example" style="width:100%" required>
                <option selected>Choose a role</option>
                <option value="Admin">Admin</option>
                <option value="Employee">Employee</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h3>Users</h3>
     <!--The .table-bordered class adds borders to a table -->
    <p> </p>          
    <table class="table table-bordered" id = 'table1'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Role</th>
          <th>Password</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for record in myUsers %}
        <tr>
          <td>{{record.id}}</td>
          <td>{{record.username}}</td>
          <td>{{record.role}}</td>
          <td>{{record.password}}</td>
          <td>
            <button type="button" class="delete btn-danger" data-toggle="modal" data-target="#deleteModal{{record.id}}">
                delete
            </button>
    
              <!-- Modal -->
              <div class="modal fade" id="deleteModal{{record.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="deleteModalLabel">Delete User</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/delete_user" method="post">
                        <div class="form-group">
                        <label >User id:</label>
                        <input name='user_id' type="name" class="form-control" value="{{record.id}}"  >
                        </div>
                        <div class="form-group">
                        <p>Do you want to delete this user permanently? </p>
                        </div>
                        <input type="submit"  class="submit" value="Yes">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    
<script>
    $(document).ready( function () {
    $('#table1').DataTable();
    } );
</script>
  


{% endblock %}