{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<style>

</style>
<div style="display: flex;justify-content: center;align-content: center;">

    <button type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#pa">
    Add New Category
</button>

<!-- Modal -->
<div class="modal fade" id="pa" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form style="max-width: 65vw; margin-top: 5%; width: 100%;" method="post" action="/admin/category">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Category Name</label>
                        <input name="category" type="text" class="form-control" id="exampleFormControlInput1" placeholder=".."
                            required>
                    </div>
        
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Route Name</label>
                        <input name="category_route_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder=".."
                            required>
                    </div>
        
                    <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



   
</div>

<div class="container">
    
   



    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Route Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Items</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories%}
            <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.category_name}}</td>
                <td>{{category.category_route_name}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal{{category.id}}">
                        edit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{category.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/admin/edit/category/{{category.id}}" method="post">

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="usr">Title</label>
                                            <input required type="text" class="form-control" id="title"
                                                name="category_name" value="{{category.category_name}}">
                                        </div>

                                        <div class="form-group">
                                            <label for="usr">Route Name</label>
                                            <input required type="text" class="form-control" id="title"
                                                name="category_route_name" value="{{category.category_route_name}}">
                                        </div>

                                    </div>
                                    <div class="modal-footer">

                                        <button type="submit" class="btn btn-primary">submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </td>
                <td>
                    <form action="/admin/delete/category/{{category.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

                <td>
                    <a href='/admin/category/{{category.id}}/items' class="btn btn-danger">Manage Items</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
    


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
