{% extends "backend/layout/base_navbar.html" %}

{% block content %}

<style>
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
  }
</style>
<div class="container">
    <h3 style="text-align: center; margin: bottom 20px; fon">Messages</h3>
    <table class="table table-hover table-bordered" id="myTable">
        
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">FULL NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MESSAGE</th>
          </tr>
        </thead>
        <tbody>
            {% for i in cont %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.full_name }}</td>
                <td>{{i.email}}</td>
                <td>{{i.message}}</td>
            </tr>
            {% endfor %}
        </tbody>  
    </table>
</div>

  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}