{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<style>
    @media only screen and (min-width: 1200px)  {
        .hh{
            display: flex; margin: 0 auto; max-width: 800px;
            
        }
        .dd{margin-left: 150px;}
    }
</style>
<div class="hh" >
    <div class="" style="width: 400px;">
        <canvas id="bar-chart" width="450" height="350"></canvas>
    </div>
    <div class="dd"  style=" width: 400px;">
        <canvas id="line-chart" width="450" height="250"></canvas>
    </div>
</div>

    <!-- <div class="row mt-3">
        <div class="col" style="height: 800px; width: 900px;">
            <canvas id="bar-chart" width="150" height="50"></canvas>
        </div>

        <div class="col" style="">
            <canvas id="line-chart" width="20" height="10"></canvas>
        </div>
    </div> -->





<!-- chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<!-- chart js utilies -->
<script src="https://www.chartjs.org/samples/2.9.4/utils.js"></script>
<script>
    //barchart
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'title',
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    });
</script>
<!-- <script>
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'profit progress per day',
                data: [65, 59, 80, 81, 56, 55, 40],

                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                x: {
                    beginAtZero: true
                }
            }
        },
    });
</script> -->

<script>
//piechart
new Chart(document.getElementById("line-chart"), {
type: 'pie',
data: {
  labels: [
    'Red',
    'Blue',
    'Yellow'
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 4
  }]
}
})
</script>
{% endblock %}