<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Gallery</title>
    <style>
        .navbar {
            margin-bottom: 30px;
            border-radius: 0;
            background-color: black;
           
          }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                       
            </button>
            <a class="navbar-brand" href="#">WRA</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/upload-downloads">Downloads</a></li>
                <li class="active"><a href="/admin/upload-gallery">Gallery</a></li>
                <li><a href="/admin/category">categories</a></li>
                <li><a href="/admin/contact-us">Messages</a></li>
                <li><a href="/tender_upload">Tenders</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            {% endif %}
            </ul>
        </div>
        </div>
    </nav>




    <div style="display: flex;justify-content: center;align-content: center;" class="">
        <form style="max-width: 800px; margin-top: 10%;" method="post" action="/upload-gallery">
            <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>

           <div class="form-group">
                <label for="exampleFormControlFile1">Choose file</label><br>
                <input name="url" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>

            <button style="margin: 5px;" type="submit" class="btn-primary btn">submit</button>
        </form>


    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">file_url</th>
                <th scope="col">edit</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
            {% for gallery in galleries%}
            <tr>
                <th scope="row">{{gallery.id}}</th>
                <td>{{gallery.title}}</td>
                <td>{{gallery.file_url}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{gallery.id}}">
                        Launch demo modal
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{gallery.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/admin/edit-gallery/{{gallery.id}}" method="post">
                              
                                        <div class="modal-body">
                                        <div class="form-group">
                                            <label for="usr">Title</label>
                                            <input type="text" class="form-control" id="title" name="title" value="{{gallery.title}}">
                                          </div>
                                          <div class="form-group">
                                            <label for="pwd">Url</label>
                                            <input type="text" class="form-control" id="url"  value="{{gallery.file_url}}" readonly style="cursor: not-allowed;">
                                            <input name="url" type="file" class="form-control-file" id="exampleFormControlFile1">
                                          </div>

                                        </div>
                                        <div class="modal-footer">
                                            
                                            <button type="submit" class="btn btn-primary">submit</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>




                </td>
                <td>
                    <form action="/admin/delete-gallery/{{gallery.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>