{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<div style="display: flex;justify-content: center;align-content: center;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#re">
        Edit Home Items
    </button>

    <!-- Modal -->
    <div class="modal fade" id="re" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/editindex"
                    enctype="multipart/form-data">
                    <h1 style="text-align:center">Edit Home Page Items</h1>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Background Image</label>
                        <input name="image_url" type="text" class="form-control" id="exampleFormControlInput1"
                            value="{{item.image_url}}" >
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Video URL</label>
                        <input name="video_url" type="text" class="form-control" id="exampleFormControlInput1"
                            value="{{item.video_url}}" >
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">What We Do One</label>
                        <input name="one" type="text" class="form-control" id="exampleFormControlInput1"
                            value="{{item.what_we_do_one}}" >
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">What We Do Two</label>
                        <input name="two" type="text" class="form-control" id="exampleFormControlInput1"
                            value="{{item.what_we_do_two}}" >
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">What We Do Three</label>
                        <input name="three" type="text" class="form-control" id="exampleFormControlInput1"
                            value="{{item.what_we_do_three}}" >
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">What We Do Four</label>
                        <input name="four" type="text" class="form-control" id="exampleFormControlInput1"
                            value="{{item.what_we_do_four}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">What We Do Five</label>
                        <input name="five" type="text" class="form-control" id="exampleFormControlInput1"
                            value="{{item.what_we_do_five}}">
                    </div>
        
                  
           
        
                    
        
                    <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Edit Index Page</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
  

    <!-- <h1 style="text-align: center;">List of Items For {{ category_name }}</h1> -->

    <div class="container" style="overflow-x:auto;">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    
                    <th scope="col">Background Image URL</th>
                    <th scope="col">Video URL</th>
                    <th scope="col">What We Do One</th>
                    <th scope="col"> What We Do Two</th>    
                    <th scope="col">What We Do Three</th>
                    <th scope="col">What We Do Four</th>
                    <th scope="col">What We Do Five</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <th scope="row">{{item.image_url[:30]}}</th>
                    <th scope="row">{{item.video_url[:30]}}</th>
                    <td>{{item.what_we_do_one[:150]}}</td>
                    <td>{{item.what_we_do_two[:150]}}</td>
                    <td>{{item.what_we_do_three[:150]}}</td>
                    <td>{{item.what_we_do_four[:150]}}</td>
                    <td>{{item.what_we_do_five[:150]}}</td>
                    
                    

                    
                </tr>
               
            </tbody>
        </table>
    </div>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% endblock %}