{% extends "backend/layout/base_navbar.html" %}

{% block content %}


<div class="container">
    <h3>licence nortification</h3>
    <table class="table table-hover table-bordered" id="myTable">
        
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">name</th>
            <th scope="col">message</th>
       
          </tr>
        </thead>
        <tbody>
            {% for license in licenses %}
            <tr>
                <td>{{license.id}}</td>
                <td>{{license.name }}</td>
                <td>{{license.message}}</td>
    
            </tr>
            {% endfor %}
        </tbody>  
    </table>
</div>

  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}