{% extends "backend/layout/base_navbar.html" %}

{% block content %}

<div style="display: flex;justify-content: center;align-content: center;">

    <button type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#pa">
    Add New Partner
</button>

<!-- Modal -->
<div class="modal fade" id="pa" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/uploadpartner"
            enctype="multipart/form-data">
            <h1 style="text-align:center">Add New Partner</h1>
            <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
            </div>
    
    
            <div class="form-group">
                <label for="exampleFormControlFile1">Choose partner image </label><br>
                <input name="partner_image" type="file" class="form-control-file" id="exampleFormControlFile1" required>
            </div>
    
            <div class="form-group">
                <label for="exampleFormControlInput1">Partner Website Link </label>
                <input name="link" type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
            </div>
            <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
            </div>
        </div>
    </div>
</div>



   
</div>

<!-- <h1 style="text-align: center;">List of Items For {{ category_name }}</h1> -->

<div class="container" style="overflow-x:auto;">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col"> file_url</th>
                <th scope="col"> Link</th>
                <th scope="col">Action</th>
                <th scope="col">Edit</th>


            </tr>
        </thead>
        <tbody>
            {% for item in items%}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>{{item.file_url}}</td>
                <td>{{item.link}}</td>



                <td>
                    <form action="/partner/delete/{{item.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal{{item.id}}">
                        edit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/uploadpartner/edit/{{item.id}}"
                                    enctype="multipart/form-data">
                                    <h1 style="text-align:center">Add New Partner</h1>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Title</label>
                                        <input name="title" type="text" class="form-control"
                                            id="exampleFormControlInput1" placeholder="title" value="{{item.title}}">
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Choose partner image </label><br>
                                        <input name="partner_image" type="file" class="form-control-file"
                                            id="exampleFormControlFile1" >
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Partner Website Link </label>
                                        <input name="link" type="text" class="form-control"
                                            id="exampleFormControlInput1" placeholder="title" value="{{item.link}}">
                                    </div>
                                    <button style="margin: 5px;" type="submit"
                                        class="btn btn-primary btn-lg btn-block">Submit</button>
                                </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>




<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}