{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<div style="display: flex;justify-content: center;align-content: center;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#re">
        Add New Project
    </button>

    <!-- Modal -->
    <div class="modal fade" id="re" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/upload-project"
                    enctype="multipart/form-data">
                    <h1 style="text-align:center">Add New Project</h1>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="title" required>
                    </div>
                    <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">Description</label>
                    <input name="description" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="title" required>
                </div> -->
                    <div>
                        <label for="#exampleFormControlTextarea1">Description</label>

                        <textarea name="description" id="summernote"></textarea>
                        <!-- <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea> -->
                    </div>
                    <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">cover_page_title</label>
                    <input name="cover_page_title" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_title">
                </div> -->
                    <!-- 
                <div class="form-group">
                    <label for="exampleFormControlInput1">item route name</label>
                    <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_title">
                </div> -->

                    <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">cover_page_description</label>
                    <input name="cover_page_description" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_description">
                </div> -->

                    <div class="form-group">
                        <label for="exampleFormControlFile1">Choose Project image </label><br>
                        <input name="project_image" type="file" class="form-control-file" id="exampleFormControlFile1"
                            required>
                    </div>
                    <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">Choose cover image</label><br>
                    <input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                    <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">PDF</label><br>
                    <input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                    <!-- <div>
                    <label for="exampleFormControlTextarea1">body text</label>
                    <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div> -->

                    <!-- <div class="form-group">
                    <label for="cover_page_image">cover page image</label><br>
                    <input name="cover_page_image" type="file" class="form-control-file" id="cover_page_image">
                </div> -->
                    <!-- 
                <div class="form-group">
                    <label for="exampleFormControlInput1">Sort Order</label>
                    <input name="sort_order" type="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="sort_order">
                </div> -->

                    <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>



<!-- <h1 style="text-align: center;">List of Items For {{ category_name }}</h1> -->

<div class="container" style="overflow-x:auto;">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col"> file_url</th>
                <th scope="col">description</th>
                <th scope="col">Action</th>
                <th scope="col">Edit</th>


            </tr>
        </thead>
        <tbody>
            {% for item in items%}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>{{item.file_url}}</td>
                <td>{{item.descriptions[:50]}}</td>



                <td>
                    <form action="/project/delete/{{item.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <div style="display: flex;justify-content: center;align-content: center;">


                        <!-- Modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal{{item.id}}">
                            Edit
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form style="max-width: 65vw;  width: 100%;" method="post"
                                            action="/admin/upload-project/edit/{{item.id}}"
                                            enctype="multipart/form-data">
                                            <h1 style="text-align:center">Edit Project</h1>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Title</label>
                                                <input name="title" type="text" class="form-control"
                                                    id="exampleFormControlInput1" placeholder="title"
                                                    value="{{item.title}}">
                                            </div>
                                            <!-- <div class="form-group">
                                    <label for="exampleFormControlInput1">Description</label>
                                    <input name="description" type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="title" required>
                                </div> -->
                                            <div>
                                                <label for="#exampleFormControlTextarea1">Description</label>

                                                <textarea name="description" class="summernote">{{item.descriptions}}</textarea>
                                                <!-- <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea> -->
                                            </div>
                                            <!-- <div class="form-group">
                                    <label for="exampleFormControlInput1">cover_page_title</label>
                                    <input name="cover_page_title" type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="cover_page_title">
                                </div> -->
                                            <!-- 
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">item route name</label>
                                    <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="cover_page_title">
                                </div> -->

                                            <!-- <div class="form-group">
                                    <label for="exampleFormControlInput1">cover_page_description</label>
                                    <input name="cover_page_description" type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="cover_page_description">
                                </div> -->

                                            <div class="form-group">
                                                <label for="exampleFormControlFile1">Choose Project image </label><br>
                                                <input name="project_image" type="file" class="form-control-file"
                                                    id="exampleFormControlFile1">
                                            </div>
                                            <!-- <div class="form-group">
                                    <label for="exampleFormControlFile1">Choose cover image</label><br>
                                    <input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div> -->
                                            <!-- <div class="form-group">
                                    <label for="exampleFormControlFile1">PDF</label><br>
                                    <input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div> -->
                                            <!-- <div>
                                    <label for="exampleFormControlTextarea1">body text</label>
                                    <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                </div> -->

                                            <!-- <div class="form-group">
                                    <label for="cover_page_image">cover page image</label><br>
                                    <input name="cover_page_image" type="file" class="form-control-file" id="cover_page_image">
                                </div> -->
                                            <!-- 
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Sort Order</label>
                                    <input name="sort_order" type="number" class="form-control" id="exampleFormControlInput1"
                                        placeholder="sort_order">
                                </div> -->

                                            <button style="margin: 5px;" type="submit"
                                                class="btn btn-primary btn-lg btn-block">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>




<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}