<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
   
<div class="column is-4 is-offset-4">
    <h3 class="title">Register</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form action="/admin/register" method="post">
            <div class="form-group">
            <div class="form-group">
            <label for="email">Email:</label>
            <input name='email' type="email" class="form-control" placeholder="Enter email" id="email" required>
            </div>
            <div class="form-group">
            <label for="name">Username:</label>
            <input name='username' type="text" class="form-control" placeholder="Enter username" id="name " required>
            </div>
            <div class="form-group">
            <label for="name">Role:</label>
            <select class="form-select" name="role" aria-label=".form-select-lg example" style="width:100%" required>
              <option selected>Choose a role</option>
              <option value="Admin">Admin</option>
              <option value="Employee">Employee</option>
            </select>
            </div>
            <div class="form-group">
            <label for="password">Password:</label>
            <input name='password' type="password" class="form-control" placeholder="Enter password" required id="password"  onkeyup='check();'>
            </div>
            <div class="form-group">
            <label for="password">Confirm Password:</label>
            <input name='password' type="password" class="form-control" placeholder="Enter password" required id="password"  onkeyup='check();'>
            <span id='message'></span>
            </div>
            <input type="submit" class="submit" value="Register">
            <p>Already have an account? <a href='/admin/login' >login</a></p>
          </form>      
    </div>
</div>




</body>
</html>