{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<div style="display: flex;justify-content: center;align-content: center;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#re">
        Edit Service Charter
    </button>

    <!-- Modal -->
    <div class="modal fade" id="re" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form style="max-width: 65vw;  width: 100%;" method="post"
                    action="/admin/editcharter"
                    enctype="multipart/form-data">
                    <h1 style="text-align:center">Edit service charter items</h1>
                    

                    <div class="form-group">
                        <label for="exampleFormControlFile1">Change English PDF</label> </label><br>
                        <input name="englishp" type="file" class="form-control-file"
                            id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Change Kiswahili PDF</label><br>
                        <input name="kiswahilip" type="file" class="form-control-file"
                            id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Change English Audio </label><br>
                        <input name="englisha" type="file" class="form-control-file"
                            id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Change Kiswahili Audio </label><br>
                        <input name="kiswahilia" type="file" class="form-control-file"
                            id="exampleFormControlFile1">
                    </div>
                  
                    <button style="margin: 5px;" type="submit"
                        class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>



    <!-- <h1 style="text-align: center;">List of Items For {{ category_name }}</h1> -->

    <div class="container" style="overflow-x:auto;">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">English PDF</th>
                    <th scope="col">Kiswahili PDF</th>
                    <th scope="col"> English Audio</th>    
                    <th scope="col">Kiswahili Audio</th>
                  
                    
                    
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <th scope="row">{{item.english_pdf[:30]}}</th>
                    <td>{{item.kiswahili_pdf[:150]}}</td>
                    <td>{{item.english_audio[:150]}}</td>
                    <td>{{item.kiswahili_audio[:150]}}</td>
                   
                    
                    

                    
                </tr>
               
            </tbody>
        </table>
    </div>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% endblock %}