{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<div style="display: flex;justify-content: center;align-content: center;">

    <button type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#pa">
    Add New Tender
</button>

<!-- Modal -->
<div class="modal fade p-5" id="pa" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form style="max-width: 65vw;  width: 100%;" method="post" action="/tender_upload" enctype="multipart/form-data">
            
                <h1 style="text-align:center">Add New Tender</h1>
    
                <div class="form-group">
                    <label for="exampleFormControlInput1">ref_number</label>
                    <input name="ref" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="title" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">title</label>
                    <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">department</label>
                    <input name="department" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">upload_date</label>
                    <input name="uploaddate" type="datetime-local" class="form-control" id="exampleFormControlInput1"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">due_date</label>
                    <input name="duedate" type="datetime-local" class="form-control" id="exampleFormControlInput1"
                        placeholder="title" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Choose file</label><br>
                    <input name="pdf_url" type="file" class="form-control-file" id="exampleFormControlFile1" required>
                </div>
                <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">cover_page_title</label>
                    <input name="cover_page_title" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_title">
                </div> -->
    <!-- 
                <div class="form-group">
                    <label for="exampleFormControlInput1">item route name</label>
                    <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_title">
                </div> -->
    
                <!-- <div class="form-group">
                    <label for="exampleFormControlInput1">cover_page_description</label>
                    <input name="cover_page_description" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="cover_page_description">
                </div> -->
    
                <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">Choose gallery image </label><br>
                    <input name="gallery_image" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">Choose cover image</label><br>
                    <input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">PDF</label><br>
                    <input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div> -->
                <!-- <div>
                    <label for="exampleFormControlTextarea1">body text</label>
                    <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div> -->
    
                <!-- <div class="form-group">
                    <label for="cover_page_image">cover page image</label><br>
                    <input name="cover_page_image" type="file" class="form-control-file" id="cover_page_image">
                </div> -->
    <!-- 
                <div class="form-group">
                    <label for="exampleFormControlInput1">Sort Order</label>
                    <input name="sort_order" type="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="sort_order">
                </div> -->
    
                <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>



   
</div>

  

    <!-- <h1 style="text-align: center;">List of Items For {{ category_name }}</h1> -->
  
    <div class="container" style="overflow-x:auto;">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">ref_number</th>
                    <th scope="col">Title</th>
                    <th scope="col"> department</th>
                    <th scope="col">upload_date</th>
                    <th scope="col">due_date</th>
                    <th scope="col">PDF</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Action</th>

                    
                </tr>
            </thead>
            <tbody>
                {% for item in items%}
                <tr>
                    <th scope="row">{{item.ref_number}}</th>
                    <td>{{item.title[:50]}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.upload_date}}</td>
                    <td>{{item.due_date}}</td>
                    <td >{{item.file_url[:40]}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal{{item.id}}">
                            edit
                        </button>
    
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/edit/tenders/{{item.id}}" enctype="multipart/form-data">
            
                                        <h1 style="text-align:center">Update Tender</h1>
                            
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">ref_number</label>
                                            <input name="ref" type="text" class="form-control" id="exampleFormControlInput1"
                                                value="{{item.ref_number}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">title</label>
                                            <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                                value="{{item.title}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">department</label>
                                            <input name="department" type="text" class="form-control" id="exampleFormControlInput1"
                                                value="{{item.department}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">upload_date</label>
                                            <input name="uploaddate" type="datetime-local" class="form-control" id="exampleFormControlInput1"
                                                value="{{item.upload_date}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">due_date</label>
                                            <input name="duedate" type="datetime-local" class="form-control" id="exampleFormControlInput1"
                                                value="{{item.due_date}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Choose file</label><br>
                                            <input name="pdf_url" type="file" class="form-control-file" id="exampleFormControlFile1" >
                                        </div>
                                        <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                    </form>
    
                                        </div>
                                        
                                </div>
                            </div>
                    </td>

                    
                    

                    <td>
                        <form action="/tender/delete/{{item.id}}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

</div>
    



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#table_id').DataTable();
      });
    </script>
    {% endblock %}