<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Downloads</title>
    <style>
        .navbar {
            margin-bottom: 30px;
            border-radius: 0;
            background-color: black;

        }
    </style>
</head>

<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                </button>
                <a class="navbar-brand" href="#">WRA</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li class="active"><a href="/admin/upload-downloads">Downloads</a></li>
                    <li><a href="/admin/upload-gallery">Gallery</a></li>
                    <li><a href="/admin/category">categories</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/admin/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/admin/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>


                    <li><a href="/admin/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div style="display: flex;justify-content: center;align-content: center;" class="">



    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-dark" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <form style="max-width: 65vw; margin-top: 10%; width: 100%;" method="post" action="/admin/category/{{category_id}}/items" enctype="multipart/form-data">
{{category_id}}
            <div class="form-group">
                <label for="exampleFormControlInput1">item_name</label>
                <input name="item_name" type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="item_name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">cover_page_title</label>
                <input name="cover_page_title" type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="cover_page_title">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">item route name</label>
                <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="cover_page_title">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">cover_page_description</label>
                <input name="cover_page_description" type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="cover_page_description">
            </div>
          
            <div class="form-group">
                <label for="exampleFormControlTextarea1">body text</label>
                <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>


            <div class="form-group">
                <label for="exampleFormControlFile1">Choose body imagehhhh</label><br>
                <input name="body_image" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Choose cover image</label><br>
                <input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Sort Order</label>
                <input name="sort_order" type="number" class="form-control" id="exampleFormControlInput1"
                    placeholder="sort_order">
            </div>

            <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">submit</button>
        </form>
    </div>





    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col">Route Name</th>
                <th scope="col">Sort Order</th>>
                <th scope="col">cover page description</th>
                <th scope="col">Body Image</th>
                <th scope="col">Cover Page</th>
                <th scope="col">item name</th>
                <th scope="col">created_at</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items%}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.cover_page_title}}</td>
                <td>{{item.item_route_name}}</td>
                <td>{{item.sort_order}}</td>
                <td>{{item.cover_page_description}}</td>
                <td>{{item.body_image}}</td>
                <td>{{item.body_text}}</td>
                <td>{{item.item_name}}</td>
                <td>{{item.created_at}}</td>

                <td>
                    <form action="/admin/delete/category/{{mycatId}}/item/{{item.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>





    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>