{% extends "backend/layout/base_navbar.html" %}

{% block content %}
<style>

</style>




<div class="container">
    <!-- <h1 style="text-align: center; text-transform: uppercase; font-weight: 800;">Create Publications And Downloads</h1> -->
    <div style="display: flex;justify-content: center;align-content: center;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#re">
            Add New Publication or Download
        </button>
    
        <!-- Modal -->
        <div class="modal fade" id="re" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form style="max-width: 65vw; margin-top: 5%; width: 100%;" method="post" action="/admin/upload-downloads" enctype="multipart/form-data">
                            <h1 style="text-align:center">Upload New Download</h1>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title</label>
                                <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="category">category</label>
                                <input name="category" type="text" class="form-control" id="category" placeholder="" required>
                            </div>
                
                
                           <div class="form-group">
                                <label for="exampleFormControlFile1">Choose file</label><br>
                                <input name="pdf_url" type="file" class="form-control-file" id="exampleFormControlFile1" required>
                            </div>
                
                            
                
                            <button style="margin: 5px;" type="submit" class="btn-primary btn btn-lg btn-block">submit</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    </div>
   

   <div class="container" style="overflow-x:auto;">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">file_url</th>
                <th scope="col">Date of upload</th>
                <th scope="col">category</th>
                <th scope="col">edit</th>
                <th scope="col">delete</th>
                
            </tr>
        </thead>
        <tbody>
            {% for downloadable in allDownloads%}
            <tr>
                <th scope="row">{{downloadable.id}}</th>
                <td>{{downloadable.title}}</td>
                <td>{{downloadable.file_url}}</td>
                <td>{{downloadable.created_at}}</td>
                <td>{{downloadable.category}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{downloadable.id}}">
                        Edit
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{downloadable.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                <form style="max-width: 65vw; margin-top: 5%; width: 100%;" method="post" action="/admin/edit-downloads/{{downloadable.id}}" enctype="multipart/form-data">
                                    <h1 style="text-align:center">Edit Download</h1>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Title</label>
                                        <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="" value="{{downloadable.title}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="category">category</label>
                                        <input name="category" type="text" class="form-control" id="category" value="{{downloadable.category}}">
                                    </div>
                        
                        
                                   <div class="form-group">
                                        <label for="exampleFormControlFile1">Choose file</label><br>
                                        <input name="pdf_url" type="file" class="form-control-file" id="exampleFormControlFile1" >
                                    </div>
                        
                                    
                        
                                    <button style="margin: 5px;" type="submit" class="btn-primary btn btn-lg btn-block">submit</button>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>




                </td>
                <td>
                    <form action="/admin/delete-downloads/{{downloadable.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
   </div>

</div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}