{% extends "backend/layout/base_navbar.html" %}

{% block content %}
    <div style="display: flex;justify-content: center;align-content: center;">



        
        {% if news== 1 %}
        <div style="display: flex;justify-content: center;align-content: center;">

            <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#pa">
            Add New What We Do Item
        </button>
        
        <!-- Modal -->
        <div class="modal fade p-5" id="pa" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/category/{{category_id}}/items"
                        enctype="multipart/form-data">
                        <h1 style="text-align:center">Add New{{category_name}}</h1>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">item_name</label>
                            <input name="item_name" type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="item_name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">cover_page_title</label>
                            <input name="cover_page_title" type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="cover_page_title" required>
                        </div>
            
                        <div class="form-group">
                            <label for="exampleFormControlInput1">item route name</label>
                            <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="cover_page_title" required>
                        </div>
            
                        <div class="form-group">
                            <label for="exampleFormControlInput1">cover_page_description</label>
                            <input name="cover_page_description" type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="cover_page_description" required>
                        </div>
            
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Choose body image</label><br>
                            <input name="body_image" type="file" class="form-control-file" id="exampleFormControlFile1" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Choose cover image</label><br>
                            <input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">PDF</label><br>
                            <input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
            
            
                        
                        <div>
                            <label for="#exampleFormControlTextarea1">body text</label>
            
                    <textarea name="body_text"  id="summernote" ></textarea>
                            <!-- <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea> -->
                        </div>
            
                        <!-- <div class="form-group">
                            <label for="cover_page_image">cover page image</label><br>
                            <input name="cover_page_image" type="file" class="form-control-file" id="cover_page_image">
                        </div> -->
            
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Sort Order</label>
                            <input name="sort_order" type="number" class="form-control" id="exampleFormControlInput1"
                                placeholder="sort_order">
                        </div>
            
                        <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        
        
        
           
        </div>
       
        

    </div>

    <h1 style="text-align: center;">List of Items For {{ category_name }}</h1>
    <div class="container" style="overflow-x:auto;">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Route Name</th>
                    <th scope="col">Sort Order</th>
                    <th scope="col">cover page description</th>
                    <th scope="col">Body Image</th>
                    <th scope="col">Cover Page</th>
                    <th scope="col">item name</th>
                    <th scope="col">PDF</th>
                    <th scope="col">created_at</th>
                    <th scope="col">action</th>
                    <th scope="col">Edit</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for item in items%}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.cover_page_title[:150]}}</td>
                    <td>{{item.item_route_name}}</td>
                    <td>{{item.sort_order}}</td>
                    <td>{{item.cover_page_description[:50]}}</td>
                    <td>{{item.body_image[:20]}}</td>
                    <td>{{item.body_text[:50]}}</td>
                    <td>{{item.item_name}}</td>
                    <td>{{item.pdf[:20]}}</td>
                    <td>{{item.created_at}}</td>
                    <td>
                        <form action="/admin/delete/category/{{category_id}}/item/{{item.id}}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    
                 <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal{{item.id}}">
                    edit
                </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/edit/item/{{item.id}}"
enctype="multipart/form-data">
<h1 style="text-align:center">Add New {{category_name}}</h1>
<div class="form-group">
<label for="exampleFormControlInput1">item_name</label>
<input name="item_name" type="text" class="form-control" id="exampleFormControlInput1"
    placeholder="item_name" value="{{item.item_name}}" >
</div>
<div class="form-group">
<label for="exampleFormControlInput1">cover_page_title</label>
<input name="cover_page_title" type="text" class="form-control" id="exampleFormControlInput1"
    placeholder="cover_page_title" value="{{item.cover_page_title}}" >
</div>

<div class="form-group">
<label for="exampleFormControlInput1">item route name</label>
<input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
    placeholder="cover_page_title" value="{{item.item_route_name}}">
</div>

<div class="form-group">
<label for="exampleFormControlInput1">cover_page_description</label>
<input name="cover_page_description" type="text" class="form-control" id="exampleFormControlInput1"
    placeholder="cover_page_description" value="{{item.cover_page_description}}">
</div>

<div class="form-group">
<label for="exampleFormControlFile1">Choose body image</label><br>
<input name="body_image" type="file" class="form-control-file" id="exampleFormControlFile1" value="{{item.body_image}}">
</div>
<div class="form-group">
<label for="exampleFormControlFile1">Choose cover image</label><br>
<input name="cover_image" type="file" class="form-control-file" id="exampleFormControlFile1" value="{{item.cover_image}}">
</div>
<div class="form-group">
<label for="exampleFormControlFile1">PDF</label><br>
<input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1" value="{{item.pdf}}">
</div>
<!-- <div>
<label for="#exampleFormControlTextarea1">body text</label>
<textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5"  ></textarea>
</div> -->
<div>
<label for="#exampleFormControlTextarea1">body text</label>

<textarea name="body_text"  class="summernote" >{{item.body_text}}</textarea>
<!-- <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea> -->
</div>


<!-- <div class="form-group">
<label for="cover_page_image">cover page image</label><br>
<input name="cover_page_image" type="file" class="form-control-file" id="cover_page_image">
</div> -->

<div class="form-group">
<label for="exampleFormControlInput1">Sort Order</label>
<input name="sort_order" type="number" class="form-control" id="exampleFormControlInput1" value="{{item.sort_order}}"
    placeholder="sort_order">
</div>

<button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
                            </div>
                        </div>
                    </div>
                </div>

                </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

  
    {% else %}
    <div style="display: flex;justify-content: center;align-content: center;">



        
       
        <div style="display: flex;justify-content: center;align-content: center;">

            <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#pa">
            Add New WRA NEWS
        </button>
        
        <!-- Modal -->
        <div class="modal fade p-5" id="pa" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/newscategory/{{category_id}}/items" enctype="multipart/form-data">
            
                            <h1 style="text-align:center">Add New {{category_name}}</h1>
                    
                            
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title</label>
                                <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="title" required>
                            </div>
                    
                            <!-- <div>
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea>
                            </div> -->
                            <div>
                                <label for="#exampleFormControlTextarea1">Description</label>
                    
                        <textarea name="description"  id="summernote" ></textarea>
                                <!-- <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea> -->
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">item route name</label>
                                <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="cover_page_title" required>
                            </div>
                    
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Choose News Image</label><br>
                                <input name="news_image" type="file" class="form-control-file" id="exampleFormControlFile1" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">PDF</label><br>
                                <input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1" >
                            </div>
                         
                    
                    
                           
                    
                            <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </form>
                </div>
                </div>
            </div>
        </div>
        
        
        
           
        </div>
       
        

    </div>
   
</div>

<!-- <h1 style="text-align: center;">List of Items For {{ category_name }}</h1> -->

<div class="container" style="overflow-x:auto;">
    <table class="table" id="myTable" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Image_Url</th>
               
                <th scope="col">pdf</th>
                <th scope="col">Action</th>
                <th scope="col">Edit</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for item in items%}
            <tr>
                
                <td>{{item.id}}</td>
                <td>{{item.cover_page_title[:150]}}</td>
                <td>{{item.cover_page_description[:150]}}</td>
                <td>{{item.body_image[:30]}}</td>
              
                {%if item.pdf %}
                <td>{{item.pdf[:30]}}</td>
                {% else %}
                <td>{{item.pdf}}</td>
                {% endif %}
                
                

                <td>
                    <form action="/admin/delete/category/{{category_id}}/item/{{item.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal{{item.id}}">
                    edit
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form style="max-width: 65vw;  width: 100%;" method="post" action="/admin/edit/newsitem/{{item.id}}" enctype="multipart/form-data">
            
                                    <h1 style="text-align:center">Edit News</h1>
                            
                                    
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Title</label>
                                        <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="title" value="{{item.cover_page_title[:150]}}">
                                    </div>
                            
                                    <!-- <div>
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea>
                                    </div> -->
                                    <div>
                                        <label for="#exampleFormControlTextarea1">Description</label>
                            
                                <textarea name="description"  class="summernote" >{{item.cover_page_description}}</textarea>
                                        <!-- <textarea name="body_text" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea> -->
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="exampleFormControlInput1">item route name</label>
                                        <input name="item_route_name" type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="cover_page_title" value="{{item.item_route_name}}">
                                    </div> -->
                            
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Choose News Image</label><br>
                                        <input name="news_image" type="file" class="form-control-file" id="exampleFormControlFile1" >
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">PDF</label><br>
                                        <input name="pdf" type="file" class="form-control-file" id="exampleFormControlFile1" >
                                    </div>
                                 
                            
                            
                                   
                            
                                    <button style="margin: 5px;" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endif %}




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}