{% extends "frontend/layout/base_other.html" %}

{% block myotherstyle %}



{% endblock %}

{% block content %}

<style>
        
    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
    dominion-responsive.html styles
    
    
    * {font-family: 'Raleway', sans-serif;}
    
    
        h1 {
           font-size: 5rem; 
        }
            
        
        h3 {
            font-family: 'Open Sans', sans-serif;
            margin-top:-10px;
        }
    
    
    .wrapper-responsive {
        display: grid;
        grid-gap: 20px;
    }
    
    .intro1 {
        
            background-image:  url('https://wra.go.ke/wp-content/uploads/2019/05/Athi-Location-Map-1.png');
            background-size: contain;
            background-position: center;
            min-height:500px;
            max-width: 100%;
            background-repeat: no-repeat;
            background-color: steelblue;
    }
    li{
        font-size: x-large;
    }
    
    .mainheader-res {
        grid-row: 1;
    }
    
    .content-res {
        grid-row: 2;
    }
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: x-large;
        }
    
    .panel-res {
        grid-row: 3;
    }
    
    .mainfooter-res {
        grid-row: 4;
        background-color: #222;
        color: #ffffff;
        padding: 15px;
        text-align: center;
        margin-top:50px;
    }
    
    @media (min-width: 550px) {
        .wrapper-responsive {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
            grid-template-columns: 1fr 3fr;
        }
        .mainheader-res {
            width:100%;
            grid-column: 1 / 3;
            grid-row: 1;
        }
        .panel-res {
            grid-column: 1;
            grid-row: 2;
        }
        .content-res {
            grid-column: 2;
            grid-row: 2;
        }
        .mainfooter-res {
            grid-column: 1 / 3;
            grid-row: 3;
        background-color: #222;
        color: #ffffff;
        padding: 15px;
        text-align: center;
        margin-top:50px;
        }
    }
        </style>

<div id="wrapper-responsive">
    <section id="content" class="section section-white">
        <div class="intro1"></div>
        <div class="container">
            <div class="wrapper-responsive">
                <header class="mainheader-res">
                    <h1><strong>Athi Basin Area (ABA)</strong></h1>
                    <hr>
                </header>


                <div class="panel-res">
                    <h4 class="text-uppercase"><strong>What We Do</strong></h4>
                    <ul>
                        <li><a href="#">Resource Management</a></li>
                        <li><a href="#">Conservation</a></li>  
                        <li><a href="#">Partnerships</a></li>
                        <li><a href="#">In the Community</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Get Involved</a></li>
                    </ul>
                </div>

                <div class="content-res">
                    <h2>Location</h2>
                    <p>Athi Catchment is bounded by Latitudes 1º to 4.5º South and Longitudes 37º to 40º East. It borders Tana Catchment Area (TCA) in the North, Indian Ocean in the East, Tanzania in the South, and Rift Valley Catchment Area (RVCA) in the West.  The Aberdare Range, one of the major water towers, lies in the northern edge of the area.  Total area of ACA is 58,639 Km2, corresponding to 10.2% of the country’s total area..</p>

                    <p>Administratively, the drainage basin covers: Nairobi, Makueni, Taita Taveta, Kwale and Mombasa Counties, part of Kiambu, Machakos, Kajiado, Kilifi, Kitui and Nyandarua Counties.
                        </p>

                    <p>Major cities and towns found in ACA are Nairobi (the Capital City), Mombasa (the second largest), Kiambu, Kajiado, Machakos, Malindi, and Kilifi.  Other upcoming cities include Konza, Machakos, Tatu, and Diani Resort.</p>


                    <img class="thumbnail" src="https://wra.go.ke/wp-content/uploads/2019/05/Athi-Drainage-Network.png" alt="Bosque photo">

                    <h2>Topography and land cover</h2>

                    <p>Athi Catchment Area has varied topographical characteristics, from the highland in the Aberdare Ranges of around 2,600M above mean sea level (amsl) to the coastal area at the sea level. It is divided into three zones:</p>

                    <ul>
                        <li>Upper zone of 2,600-1,500M (amsl) which covers the Aberdares, Kikuyu Escarpment and Ngong Hills. This zone is predominately volcanic, has relatively good aquifers of considerable value for domestic, community and commercial water use.</li>
                        <li>Middle zone of 1,500-500M (amsl) which covers the Taita Hills, Shimba Hills and Arabuko Sokoke forest reserves, which are important water towers for the catchment. Chyulu Hills hosts the source aquifer that supplies the Mzima Springs, as well as the spring units that flow from the eastern side of the range (from Kiboko in the north to Umani further south). Volcanic aquifers on the northern flank of Kilimanjaro host a number of springs that are of good water supply, irrigation and tourism value (Nolturesh, Kimana and Entonet respectively).</li>
                        <li>Coastal zone of 500-0M (amsl) is threatened by seawater intrusion; worsening with proximity to the oceanic front. Where abstraction is limited, the coastal coral limestone and sand aquifer is of considerable commercial importance, and the Tiwi and Baricho Aquifers are key water supply. The coastal hinterland aquifers are typically poor and often brackish.</li>
                    </ul>

                    <h2>Water Resources in the Catchment</h2>

                    <p>The Athi River flows from the southeast of Nairobi; north-eastward in the upstream reaches, and then turns its flow direction to the southeast in the north of Ol donyo Sabuk National Park, and flows along the catchment area boundary with the Tana Catchment Area, and pours into the Indian Ocean in the northern of Malindi.  The drainage area of the Athi River is 37,750 km2, or 64.4% of ACA.  The Lumi River, Lake Jipe, and Lake Chala flow into the territory of Tanzania and the Umba River reversely flows from Tanzania to Kenya.  Other rivers such as the Rare, Kombeni, Mwache, Pemba, and Ramisi rivers flow into the Indian Ocean and the total drainage area totals 19,493 km2. Territorial waters within Athi Catchment Area include Indian Ocean, covering a shoreline of approximately 210 km and extending into the sea 22Km or 12 nautical miles. There are several major springs in ACA such as Mzima, Kikuyu, NjoroKubwa, Nolturesh and Marere.</p>


                </div>
            </div>
        </div>
</div>
</section>


</div>

<script src="dist/scripts/jquery.js"></script>
<script src="dist/scripts/main.js"></script>

</body>

</html>

{% endblock %}

{% block myotherjs %}

{% endblock %}