{% extends "frontend/layout/base_other.html" %}


{% block myotherstyle %}

<style>
    .overflow {
        display: none;


    }
</style>

{% endblock %}



{% block content %}

<head>

    <style>
        div#sliding-popup,
        div#sliding-popup .eu-cookie-withdraw-banner,
        .eu-cookie-withdraw-tab {
            background: #00a6e2
        }

        div#sliding-popup.eu-cookie-withdraw-wrapper {
            background: transparent;
        }

        #sliding-popup h1,
        #sliding-popup h2,
        #sliding-popup h3,
        #sliding-popup p,
        #sliding-popup label,
        #sliding-popup div,
        .eu-cookie-compliance-more-button,
        .eu-cookie-compliance-secondary-button,
        .eu-cookie-withdraw-tab {
            color: #ffffff;
        }

        .eu-cookie-withdraw-tab {
            border-color: #ffffff;
        }

        .content {

            margin-top: 0;
            z-index: 1;
        }

        .overflow {
            display: none;

        }
    </style>



    <link rel="stylesheet" media="all"
        href="../../static/About Us _ IPPF Africa_files/css_vs9jsB68VtVPIzRCTsAPgLsa6YTz_rXyXanG_m1H0Zs.css">
    <link rel="stylesheet" media="all"
        href="../../static/About Us _ IPPF Africa_files/css_nPFo-jOIWV0Fpbo-TyNkH-q8uYc9NruTm6ANcoPNcyk.css">
    <link rel="stylesheet" media="all" href="../../static/About Us _ IPPF Africa_files/all.css">
    <link rel="stylesheet" media="all" href="../../static/About Us _ IPPF Africa_files/css_X6n5z2J4KYMkSMCr40eso5dip4-
L2pRWqtm03e0O4_Q.css">







    <script type="text/javascript" charset="UTF-8" src="../../static/About Us _ IPPF Africa_files/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="../../static/About Us _ IPPF Africa_files/util.js"></script>
    <style type="text/css" id="d93cfc63-a68d-43c1-b052-d6de75b5ac44">
        .c8c8c655-6b06-4248-9470-f8e745c7be39 {
            position: relative !important;
            border-radius: 0.2em !important;
            padding: 0px !important;
            margin: 0px !important;
        }


        @media print {
            .cf6af3cd-3aeb-47c1-8d7b-6452c625c45e {
                box-shadow: unset !important;
                -webkit-print-color-adjust: exact !important;
            }
        }

        @keyframes c2caa9ee-3576-4876-bc57-a27774ad1b76 {
            0% {
                opacity: 0;
                transform: scale(0.6);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        @keyframes ddfc404d-c17c-4bd3-b87f-92d4a9d0cf11 {
            100% {
                opacity: 0;
                transform: scale(0.3);
            }
        }

        .cf6af3cd-3aeb-47c1-8d7b-6452c625c45e {
            background-color: rgba(238, 238, 238, 0.8);
            color: rgb(170, 170, 170);
            font: inherit;
            box-shadow: rgb(238, 238, 238) 0px 0px 0.35em;
            text-shadow: none !important;
        }

        .default-red-aa94e3d5-ab2f-4205-b74e-18ce31c7c0ce {
            box-shadow: rgb(255, 128, 128) 0px 0px 0.35em;
            background-color: rgba(255, 128, 128, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-orange-da01945e-1964-4d27-8a6c-3331e1fe7f14 {
            box-shadow: rgb(255, 210, 170) 0px 0px 0.35em;
            background-color: rgba(255, 210, 170, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-yellow-aaddcf5c-0e41-4f83-8a64-58c91f7c6250 {
            box-shadow: rgb(255, 255, 170) 0px 0px 0.35em;
            background-color: rgba(255, 255, 170, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-green-c4d41e0a-e40f-4c3f-91ad-2d66481614c2 {
            box-shadow: rgb(170, 255, 170) 0px 0px 0.35em;
            background-color: rgba(170, 255, 170, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-cyan-f88e8827-e652-4d79-a9d9-f6c8b8ec9e2b {
            box-shadow: rgb(170, 255, 255) 0px 0px 0.35em;
            background-color: rgba(170, 255, 255, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-purple-c472dcdb-f2b8-41ab-bb1e-2fb293df172a {
            box-shadow: rgb(255, 170, 255) 0px 0px 0.35em;
            background-color: rgba(255, 170, 255, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-grey-da7cb902-89c6-46fe-b0e7-d3b35aaf237a {
            box-shadow: rgb(119, 119, 119) 0px 0px 0.35em;
            background-color: rgba(119, 119, 119, 0.8) !important;
            color: rgb(255, 255, 255) !important;
        }

        .mb-5 {
            margin-bottom: 0 !important;
        }

        .blockquote {
            margin-bottom: 0 !important;
            font-size: 1.25rem;
        }
    </style>
</head>



<div class="mm-page mm-slideout" id="mm-0">
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">

        <div id="header-scroll" class="position-relative">

            <div id="home-page-header" class=""> </div>

            <div>

                <div class="views-element-container block block-core block-views-blockpage-header-block-1 header-wrapper"
                    id="block-views-block-page-header-block-1">
                    <div>
                        <div
                            class="view view-page-header view-id-page_header view-display-id-block_1 js-view-dom-id-a3faa5c8c3e7285883f5f7e86019cfa0d805372499ae294ee424beda5d6ba3c8">

                            <div class="row position-relative">

                                <div class="fullBgImage">
                                    <img src="https://res.cloudinary.com/gicheworks/image/upload/v1652787894/uhuru-wra_sw3dfd.jpg"
                                        width="1200" height="800" alt="Burundi ABUBEF Clinic/Georgina Goodwin"
                                        loading="lazy" typeof="foaf:Image">
                                </div>

                                <div class="text-header-container resource-text-header ">
                                    <div data-aos="zoom-in" data-aos-duration="1000"
                                        data-aos-anchor-placement="top-bottom"
                                        class="text-container py-lg-5 px-lg-5 aos-animate">
                                        <h1 class="font-weight-bold">
                                            About Us
                                        </h1>Water Resources Authority (WRA) is a state corporation established under
                                        Section 11 of the Water Act, 2016.
                                        However the Authority has been in existence for 17 years following its
                                        establishment
                                        under the Water Act, 2002 as Water Resources Management Authority (WRMA).
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>
       
        <div id="main-wrapper" class="content-page layout-main-wrapper clearfix pb-5 mb-5">


            <a id="main-content" tabindex="-1"></a>
            <div id="block-ippf-general-mainpagecontent" class="block block-system block-system-main-block">


                <div class="content">


                    <article role="article" about="/about-us"
                        class="node node--type-landing-page node--promoted node--view-mode-full clearfix">
                        <header>


                        </header>
                        <div class="node__content clearfix">

                        </div>
                    </article>

                </div>
            </div>
            <div id="block-aboutuspage" class="block block-blockgroup block-block-groupabout-us-page">


                <div class="content">
                    {% for item in items %}
                    {% if loop.index%2!=0 %}
                    <div id="block-firstaboutuscard"
                        class="block block-block-content block-block-contentfb23420f-7f0d-49e4-b8b5-f2b470aacc6c">


                        <div class="content">





                            <div class="card-over-image-wrapper">
                                <div class="card-over-image middle_left card-bg-dark" style="min-height: 761px;">
                                    <div class="container-text">
                                        <div class="title-container ">
                                            <h1 class="underline-title">{{item.title}}</h1>
                                        </div>


                                        <div
                                            class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
                                            <p>{{item.descriptions}}</p>


                                        </div>

                                    </div>
                                    <div class="container-image ">

                                        <div
                                            class="field field--name-field-card-image field--type-image field--label-hidden field__item">
                                            <img src="../../{{item.file_url}}" width="1920" height="1280"
                                                alt="IPPF Humanitarian - Cyclone Yasa Fiji" loading="lazy"
                                                typeof="foaf:Image">


                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    {% else %}
                    <div id="block-3rdaboutuscard"
                        class="block block-block-content block-block-content370b4b0b-ced5-4380-89a7-e169d1fe0d85">

                        <div class="content">

                            <div class="card-over-image-wrapper">
                                <div class="card-over-image middle_right card-bg-dark" style="min-height: 265px;">
                                    <div class="container-text" style="right: 10px;">
                                        <div class="title-container ">
                                            <h1 class="underline-title">{{item.title}}</h1>
                                        </div>

                                        <div
                                            class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
                                            <p>{{item.descriptions}}</p>
                                        </div>

                                    </div>
                                    <div class="container-image ">

                                        <div
                                            class="field field--name-field-card-image field--type-image field--label-hidden field__item">
                                            <img src="../../{{item.file_url}}" width="1199" height="800"
                                                alt="IPPF Executive Committee_Olgah Daphynne Namukuza in Uganda / Will Boase"
                                                loading="lazy" typeof="foaf:Image">


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% include 'frontend/layout/footertwo.html' %}


{% endblock %}