{% extends "frontend/layout/base_other.html" %}

{% block content %}

<style>
    section {
        min-height: 800px;
        padding: em;
    }



    section.head {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    section.test1 .boxes .box {
        opacity: 0.7;
        font-weight: bold;
    }

    section.head .title {
        font-size: 4rem;
        color: white;
    }

    section:nth-child(even) {}

    .boxes {
        display: flex;
        flex-direction: column;
    }

    .box {
    width: 44%;
    min-height: 34vh;
    margin-bottom: 5em;
    padding: 2em;
    /* background: rgb(8, 128, 78); */
    background: rgb(0, 149, 218, .2);
    border-radius: 5px;
    margin-left: 138px;
    margin-right: 60px;
    box-shadow: rgb(0 149 218 / 40%) 5px 5px, rgb(0 149 218 / 30%) 10px 10px, rgb(0 149 218 / 20%) 15px 15px, rgb(0 149 218 / 10%) 20px 20px, rgb(0 149 218 / 5%) 25px 25px;
}

    .box:nth-child(even) {
        margin-left: auto;
    }
    .box p {
    margin: 0;
    color: #fff;
    word-break: break-word;
    opacity: 1 !important;
    /* background: red; */
    text-align: center;
    width: 100%;
}

    .code {
        font-family: monospace;
        font-size: 1.4rem;
        line-height: 1.4;
        width: 100%;
        margin: 0 auto;
    }
    h3 {
    color: greenyellow;
    font-weight: 700;
    margin-bottom: 1em;
}


  
</style>
<style>
    section {
        min-height: auto;

    }
</style>
<!-- responsivenes -->
<style>
    @media screen and (max-width: 960px) {
        .box {
            width: 68%;
        
        }
        section.head .title{
            margin-top: 1em;
        }

    }
    @media screen and (max-width: 610px) {
        .box {
            width: 82%;
            
        
        }
        section.head .title{
            margin-top: 1.7em;
        }


    }
    @media screen and (max-width: 440px) {
        .box {
    
            min-height: 50px;
    margin-bottom: 5em;
    padding: 19px;
    margin-left: 10px;
    margin-right: 15px;
    width: 94%;
 
}
section.head .title{
            margin-top: 2em;
        }

    }
</style>

<div>

    <section class="head">
        <p class="title">Access To Information.</p>
    </section>

    <section class="test1">
        <div class="boxes">
     
            <div class="box">
                <h3>Access to info</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quos, aspernatur esse hic natus dolor sint ea assumenda? Veritatis doloribus dolore voluptatibus tempore, itaque fugit quam nesciunt odio! Optio cum, laborum nulla doloremque quaerat accusantium ipsa possimus dolorum explicabo recusandae veniam, labore voluptate, unde provident ratione eaque consequatur officia! Quas inventore nam ad. Consequatur culpa facere enim quasi iusto facilis nostrum sit, odit magni ipsa voluptate consectetur deleniti recusandae excepturi corrupti, nemo aspernatur dolor. Dolorem nesciunt eaque, expedita rem consectetur delectus hic accusamus quas consequatur, architecto quo modi voluptates aut commodi sint sed repudiandae possimus exercitationem ea. Facere ut illum deleniti perferendis doloremque et quam! Eos error, nihil eligendi, fugiat impedit perspiciatis laborum provident, aut praesentium at dolore dolor? Maiores officia minima vero ad quam pariatur corrupti, nobis quas culpa doloremque rem! Sit error voluptas obcaecati possimus vitae facere aperiam, placeat corporis nulla nihil. Aspernatur vitae doloremque quasi harum recusandae obcaecati voluptates laudantium praesentium distinctio hic, voluptatibus cum illo unde iusto rem ratione dicta explicabo, libero inventore? Alias maiores nulla voluptatum obcaecati earum debitis porro, incidunt corrupti repellat enim quo eos et deserunt ex exercitationem deleniti! Nam obcaecati at facilis esse maxime aliquam labore sed, iure quidem, dicta, provident perspiciatis?
                </p>
            </div>
            <div class="box">
                <h3>Access to info</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quos, aspernatur esse hic natus dolor sint ea assumenda? Veritatis doloribus dolore voluptatibus tempore, itaque fugit quam nesciunt odio! Optio cum, laborum nulla doloremque quaerat accusantium ipsa possimus dolorum explicabo recusandae veniam, labore voluptate, unde provident ratione eaque consequatur officia! Quas inventore nam ad. Consequatur culpa facere enim quasi iusto facilis nostrum sit, odit magni ipsa voluptate consectetur deleniti recusandae excepturi corrupti, nemo aspernatur dolor. Dolorem nesciunt eaque, expedita rem consectetur delectus hic accusamus quas consequatur, architecto quo modi voluptates aut commodi sint sed repudiandae possimus exercitationem ea. Facere ut illum deleniti perferendis doloremque et quam! Eos error, nihil eligendi, fugiat impedit perspiciatis laborum provident, aut praesentium at dolore dolor? Maiores officia minima vero ad quam pariatur corrupti, nobis quas culpa doloremque rem! Sit error voluptas obcaecati possimus vitae facere aperiam, placeat corporis nulla nihil. Aspernatur vitae doloremque quasi harum recusandae obcaecati voluptates laudantium praesentium distinctio hic, voluptatibus cum illo unde iusto rem ratione dicta explicabo, libero inventore? Alias maiores nulla voluptatum obcaecati earum debitis porro, incidunt corrupti repellat enim quo eos et deserunt ex exercitationem deleniti! Nam obcaecati at facilis esse maxime aliquam labore sed, iure quidem, dicta, provident perspiciatis?
                </p>
            </div>
            <div class="box">
                <h3>Access to info</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quos, aspernatur esse hic natus dolor sint ea assumenda? Veritatis doloribus dolore voluptatibus tempore, itaque fugit quam nesciunt odio! Optio cum, laborum nulla doloremque quaerat accusantium ipsa possimus dolorum explicabo recusandae veniam, labore voluptate, unde provident ratione eaque consequatur officia! Quas inventore nam ad. Consequatur culpa facere enim quasi iusto facilis nostrum sit, odit magni ipsa voluptate consectetur deleniti recusandae excepturi corrupti, nemo aspernatur dolor. Dolorem nesciunt eaque, expedita rem consectetur delectus hic accusamus quas consequatur, architecto quo modi voluptates aut commodi sint sed repudiandae possimus exercitationem ea. Facere ut illum deleniti perferendis doloremque et quam! Eos error, nihil eligendi, fugiat impedit perspiciatis laborum provident, aut praesentium at dolore dolor? Maiores officia minima vero ad quam pariatur corrupti, nobis quas culpa doloremque rem! Sit error voluptas obcaecati possimus vitae facere aperiam, placeat corporis nulla nihil. Aspernatur vitae doloremque quasi harum recusandae obcaecati voluptates laudantium praesentium distinctio hic, voluptatibus cum illo unde iusto rem ratione dicta explicabo, libero inventore? Alias maiores nulla voluptatum obcaecati earum debitis porro, incidunt corrupti repellat enim quo eos et deserunt ex exercitationem deleniti! Nam obcaecati at facilis esse maxime aliquam labore sed, iure quidem, dicta, provident perspiciatis?
                </p>
            </div>

        </div>
    </section>

</div>


<script src="https://cdn.jsdelivr.net/npm/gsap@3.7.0/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.7.0/dist/ScrollTrigger.min.js"></script>
<script>
    /* text split */
    for (const p of document.querySelectorAll('section .box p')) {
        let output = '';
        const content = p.innerHTML.replace(/<br\s*\/?>/gi, '\n');
        for (var str of content.split('')) {
            output += (str.match(/\r\n|\r|\n/g)) ? '<br>' : '<span>' + str + '</span>';
        }
        p.innerHTML = output;
    }

    /* test1 */
    (() => {
        const q = gsap.utils.selector('.test1');
        q('.box').forEach((box) => {
            // timeline
            gsap.timeline({
                scrollTrigger: {
                    trigger: box,
                    start: 'top bottom-=50',
                    toggleActions: 'restart none none none', // onEnter, onLeave, onEnterBack, onLeaveBack
                    onLeaveBack: progress => { // Turn off the balloon when scrolling back.
                        gsap.to(progress.trigger, {
                            opacity: 0,
                            y: 20,
                        })
                    },
                    //markers: true
                }
            })
                // box
                .from(box, {
                    opacity: 0,
                    y: 20,
                })
                // text
                .from(gsap.utils.toArray('span', box), {
                    opacity: 0,
                    duration: 0.02,
                    stagger: 0.005,
                }, '<+0.3');

        });
    })();


    /* test2 */
    (() => {
        const q = gsap.utils.selector('.test2');
        q('.box').forEach((box, index) => {
            // box
            gsap.from(box, {
                opacity: 0,
                y: 20,
                scrollTrigger: {
                    trigger: box,
                    start: 'top bottom-=50',
                    toggleActions: 'restart none none none', // onEnter, onLeave, onEnterBack, onLeaveBack
                    onLeaveBack: progress => { // Turn off the balloon when scrolling back.
                        gsap.to(progress.trigger, {
                            opacity: 0,
                            y: 20,
                        })
                    },
                    //markers: true
                }
            });

            // text
            const text = gsap.utils.toArray('span', box);
            gsap.from(text, {
                opacity: 0,
                stagger: 1,
                duration: 0.01,
                scrollTrigger: {
                    trigger: box,
                    scrub: 0.5,
                    ease: 'none',
                    start: 'top bottom-=50',
                    end: 'bottom bottom',
                    //id: 'box-text-'+ index,
                    //markers: true,
                },
            });
        });
    })();


    /* test2 anti-pattern? */
    (() => {
        const q = gsap.utils.selector('.test2-anti');
        q('.box').forEach((box) => {
            // timeline
            gsap.timeline({
                scrollTrigger: {
                    trigger: box,
                    start: 'top bottom-=50',
                    toggleActions: 'restart none none none', // onEnter, onLeave, onEnterBack, onLeaveBack
                    onLeaveBack: progress => { // Turn off the balloon when scrolling back.
                        gsap.to(progress.trigger, {
                            opacity: 0,
                            y: 20,
                        })
                    },
                    //markers: true
                }
            })
                // box
                .from(box, {
                    opacity: 0,
                    y: 20,
                })
                // text
                .from(gsap.utils.toArray('span', box), {
                    opacity: 0,
                    stagger: 1,
                    duration: 0.01,
                    scrollTrigger: { // anti-pattern?
                        trigger: box,
                        scrub: 0.8,
                        ease: 'none',
                        start: 'top bottom',
                        end: 'bottom bottom',
                    },
                });
        });
    })();
</script>

{% endblock %}