{% extends "frontend/layout/base_other.html" %}




{% block content %}

    <!-- Bootstrap Libs CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        
        .row-new {
            flex-direction: row;
        }

        .col-md-6 {
            flex: 0 0 auto;
            width: 70%;
            margin-bottom: 10px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        #svg {
		margin: auto;
		display: block;
		z-index: 1 !important;
		position: fixed;
		width: 100%;
		margin: 0;
		padding: 0;
		top: 0;
		shape-rendering: auto;
	}
    </style>


{% include 'frontend/layout/water_waves.html' %}

<body>
    <section class="board p-4"  style="background-color: white;">
        <div class="container">
           
            <section style="margin-top: 7em;">
                <div class="page-404__heading">Board Members</div>
                <div class="page-404__text container"></div>
            </section>
            
            {% for item in items %}

            {% if loop.index == 1 %}

            <div class="row" style="margin-bottom: 20px;">

                <div class="col-md-3"> </div>

                <div class="col-md-6 col-sm-12">
                   
                    <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="50">
                        <div class="row g-0 row-new">
                            <div class="col-md-4">
                                <img src="../../{{item.fileurl}}" style=" width: auto;  max-width: 150px; height: auto;  max-height: 250px;" alt="board members" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold director_name">
                                        {{item.name}}
                                    </h5>
                                    <!-- <p class="card-text"> {{item.position}}</p> -->
                                    <!-- <p class="card-text text-muted">
                                        {{item.descriptio}}
                                    </p> -->


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-3"></div>

            </div>

            {% endif %}

            {% if loop.index %2 ==  0 and loop.index != 1 %}

            <div class="row" style="margin-bottom: 20px;">

                <div class="col-md-6 col-sm-12">
                    <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="50">
                        <div class="row g-0 row-new">
                           
                            <div class="col-md-4">
                                <img src="../../{{item.fileurl}}" style=" width: auto;  max-width: 150px; height: auto;  max-height: 250px;" alt="board members" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold director_name">
                                        {{item.name}}
                                    </h5>
                                    <p class="card-text"> {{item.position}}</p>
                                    <!-- <p class="card-text text-muted">
                                        {{item.description}}
                                    </p> -->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        
            {% elif loop.index %2 !=  0 and loop.index != 1 %}
            
                <div class="col-md-6 col-sm-12">
                    <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="50">
                        <div class="row g-0 row-new">
                          
                            <div class="col-md-4">
                                <img src="../../{{item.fileurl}}" style=" width: auto;  max-width: 150px; height: auto;  max-height: 250px;" alt="board members" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold director_name">
                                        {{item.name}}
                                    </h5>
                                    <p class="card-text"> {{item.position}}</p>
                                    <!-- <p class="card-text text-muted">
                                        {{item.description}}
                                    </p> -->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {% endif %}

            {% endfor %}

        </div>

    </section>

    <div class="icon-bar">

    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fas fa-arrow-circle-up"></i>
    </button>

    <script src="../../assets/libs/aos-master/dist/aos.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
        </script>
    <script src="../../assets/libs/jquery-3.5.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>



    <script>
        AOS.init({
            offset: 100,
            duration: 600,
            // easing: 'ease-in-sine',
            easing: 'linear',
            // delay: 100,
        });

        //Get the button:
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>



    <script>
        $(document).ready(function () {

            $('#footer').load("../../shared/footer.html");
            $('#navbar').load("../../shared/header.html");
            $('.icon-bar').load("../../shared/social.html");


        });
    </script>
 
 <style>
    .content {
    position: relative;
    min-width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;
    margin-top: 0;
    z-index: 1;
}
 </style>
 {% include 'frontend/layout/footertwo.html' %}
{% endblock %}