{% extends "frontend/layout/base_other.html" %}

{% block content %}
<!-- downloads page -->
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
<!-- downloads page -->
<style>
    div#myTable_wrapper {
    margin-bottom: 2em;
}
      .dataTables_wrapper .dataTables_length select {
            border: 1px solid rgb(168, 38, 38);
            border-radius: 3px;
            padding: 5px;
            background-color: white;
            visibility: hidden;
            padding: 4px;
            color: rgb(194, 194, 26);
            margin-top: 10px;
        }

        .dataTables_wrapper .dataTables_length label {
            border: 1px solid rgb(168, 38, 38);
            border-radius: 3px;
            padding: 5px;
            background-color: white;
            visibility: hidden;
            padding: 4px;
            color: rgb(194, 194, 26);
            margin-top: 10px;
        }
        
        
        .dataTables_wrapper .dataTables_filter input {
            border: 1px solid cornflowerblue;
            border-radius: 3px;
            /* padding: 10px 200px; */
            margin-bottom: 1em;
            /* background-color: transparent; */
            margin-left: 3px;
            background-color: white;
            color: black;
            margin-top: 10px;
        }
        
        .dataTables_wrapper .dataTables_info {
            color: rgb(146, 91, 18);
            visibility: hidden;
        }

        .table--bg {
            background: transparent;
        }

        .table>:not(caption)>*>* {
            padding: 0;
            background-color: white;
            border-bottom-width: none;
 
    /* box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg); */
        }

        tbody, td, tfoot, th, thead, tr {
            /* border-color: inherit; */
            border-style: none;
            border-width: 0;
        }

        .table-striped>tbody>tr:nth-of-type(odd)>* {
            --bs-table-accent-bg: none; 
            color: var(--bs-table-striped-color);
        }
</style>
{% include 'frontend/layout/water_waves.html' %}
<div class="container containerx">

    <div class="row">
        <div class="col-sm-12">
            <div class="">

                <div class="page-404__heading">Careers</div>
                <div class="page-404__text"></div>
                <table id="myTable" class="table table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr style="text-align: center;">
                            <th  ></th>
                            <th   class="th-sm">Title
                            </th>
                            <th   class="th-sm">Category
                            </th>
                            <th   class="th-sm"> Date
                            </th>
                            <th   class="th-sm">Download
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for career in careers %}
                        <tr>
 
                            <td>
                                <div class="col" style="width: 20px;" data-uw-styling-context="true">
                                    <img src="https://www.kra.go.ke/images/ico-pdf.png" data-uw-styling-context="true">
                                </div>
                            </td>
                            </td>
                    
                            <td style="padding-top: 20px; text-align:center ;">{{career.title}}
                            </td>
                    
                            <td style="padding-top: 20px; text-align:center ;">
                                {{career.career_description}}
                    
                            </td>
                      
                    
                            <td  style="width: 85px; padding-top: 20px; text-align:center ;">
                                {{career.expiry_date.split('T')[0] | format_datetime}}
                    
                            </td>
                    
                    
                            <td style="padding-top: 20px; text-align:center ;">
                                {%if checkdate(career.expiry_date)== 0 %}
                                <div class="container">
                    
                                    <div class="button">
                                        <a href="../../{{career.career_fileurl}}" download="">Download</a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="container">
                    
                                    <div class="button">
                                        <a style="pointer-events: none; cursor: default;" href="javascript:void(0);"  >Closed</a>
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                        </tr>

                        <!-- to make transparent-->
                        <tr style="background-color: transparent;  border: none !important;">
                            
                            <td  style="background-color: rgba(0, 0, 0, 0); border: none !important;" class="table-warning" style="background-color: rgba(0, 0, 0, 0);">
                                <div class="col" style="width: 20px;" data-uw-styling-context="true">
                                    <img src="" data-uw-styling-context="true">
                                </div>
                            </td>

                            <td style="background-color: rgba(0, 0, 0, 0); border: none !important;">
                                
                            </td>

                            <td style="background-color: rgba(0, 0, 0, 0);  border: none !important;">
                            
                            </td>

                            <td style="background-color: rgba(0, 0, 0, 0); border: none !important;">

                            </td>

                            <td style="background-color: rgba(0, 0, 0, 0);  border: none !important;">
                                
                            </td>
        
                        </tr>
                        {% endfor %}

                    </tbody>
                    

                </table>

            </div>
        </div>
    </div>
</div>
    <style>

 
    .content {
        position: relative;
        min-width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: repeat-y;
        margin-top: 0;
        z-index: 1;
    }
        </style>
        {% include 'frontend/layout/footertwo.html' %}

    <!-- datatables -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                paging: true,
            });
        });
    </script>
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById('myInput');
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = document.getElementById('li');
        
          // Loop through all list items, and hide those who don't match the search query
          for (i = 0; i < li.length; i++) {
            a = li[i].getElementById('tit')[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
        </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    {% endblock %}