{% extends "frontend/layout/base_other.html" %}

{% block myotherstyle %}

{% endblock %}

{% block content %}

<style>
  .hs-responsive-embed-youtube {
    margin-top: 6em;
    position: relative;

    /* padding-top: 119px; */
  }

  .hs-responsive-embed-youtube iframe {

    width: 100% !important;
    height: 35em;
  }

  .container {
    position: relative;
    top: 8rem;
    left: 5rem;
  }

  body {
    background: rgb(7, 22, 52);
    color: #efedef;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6em;
    margin: 0 auto;
    padding: -1px;
    z-index: -1;
  }

  .service {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    padding-top: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .navigation {
    /* height: 8em; */
    max-height: 12em;

    background: rgba(255, 255, 255, .5);
    /* opacity: .5; */
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
  }

  .charter {
    top: 500px;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.918);
    font-family: calisto;
  }


  .tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px 0;
    overflow: hidden;
  }

  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    padding: 1rem 0;
    text-align: center;
  }

  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .tabs [class^="tab"] [type="radio"]:hover,
  .tabs [class^="tab"] [type="radio"]:focus,
  .tabs [class*=" tab"] [type="radio"]:hover,
  .tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid rgb(0, 149, 218);
  }

  .tabs [class^="tab"] [type="radio"]:checked,
  .tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid rgb(0, 149, 218);
  }

  .tabs [class^="tab"] [type="radio"]:checked+div,
  .tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
  }

  .tabs [class^="tab"] [type="radio"]+div,
  .tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .tabs .tab-2 {
    width: 40%;
  }

  .tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
  }

  .tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
  }

  .tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
  }

  .tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
  }

  audio:hover,
  audio:focus,
  audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }


  #audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    width: 33%;
    margin-left: 3em;
  }
  .audio-flex {
    display: flex;
    justify-content: center;
}

</style>


<div class="container containerx">
  <div class="row">
    <div class="col-sm-12">
      <div class="charter">
        <h1 style="text-align: center;">Customer Service Charter</h1>

      </div>

      <div class="audio" style="position: relative;">
        <h1 style="text-align: center; position: relative; margin-bottom: .7em;">Audio Version </h1>
      <div class="audio-flex">
        <audio id="audio" controls preload="metadata">
          <source src="../../static/assets/audio/WRA-Customer-Service-Charter-Audio-File-online-audio-converter.com_.mp3" type="audio/mp3">
        </audio>
        <audio id="audio" controls preload="metadata">
          <source src="../../static/assets/audio/WRA-Kiswahili-service-charter.mp3" type="audio/mp3">
        </audio>
      </div>
      
      </div>

      <div class="tabs">
        <div class="tab-2">
          <label for="tab2-1">English</label>
          <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
          <div>
            <div class="service"><iframe src="../../static/assets/pdfs/WRA-ENG-A4.pdf" width="1200" height="1000"
                frameborder="none"></iframe></div>

          </div>
        </div>
        <div class="tab-2">
          <label for="tab2-2">Swahili</label>
          <input id="tab2-2" name="tabs-two" type="radio">
          <div>
            <div class="service"><iframe src="../../static/assets/pdfs/WRA-ENG-A4.pdf" width="1200" height="1000"
                frameborder="none"></iframe></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="  hs-responsive-embed-youtube">
  <h1 style="text-align: center; margin-bottom: 1em;">Sign Language Version </h1>
  <iframe src="https://www.youtube.com/embed/p9E4sZ_ZayM?rel=0&amp;showinfo=0" frameborder="0"
    allowfullscreen=""></iframe>
</div>


{% endblock %}

{% block myotherjs %}


{% endblock %}
