{% extends "frontend/layout/base_other.html" %}

{% block myotherstyle %}

{% endblock %}

{% block content %}

<style>
    .fa-solid {
        size: 50px;
    }

    html {
        overflow: scroll !important;
    }

    .containerx {
        margin-top: 10vh;
    }

    .col-sm-12 {
        margin-top: 20vh;
    }

    .dataTables_wrapper .dataTables_length select {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: white;
        padding: 4px;
        color: antiquewhite;
    }

    .dataTables_wrapper  {
        padding: 5px 174px;
        background-color: #009ec3;
    }


    .dataTables_wrapper .dataTables_info {
        color: antiquewhite;
    }

    table.dataTable tbody td {
        padding: 4px 6px;
        font-size: larger;
    }

    table.dataTable thead th,
    table.dataTable tfoot th {
        font-weight: bold;
        color: antiquewhite;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: antiquewhite;
    }

    input {
        color: antiquewhite;
    }

    label {
        color: antiquewhite;
    }

    select {
        color: black !important;
    }


    h1 {
        font-size: 3.5rem;
        line-height: 1em;
        color: rgba(255, 255, 255, 0.918);
        top: 75px;
        font-family: calisto;
        padding: 20px;
        position: absolute;
    }

    /* body {
			background-color: rgba(25, 6, 134, 0.9);
			display: flexbox;
			color: aliceblue;
			font-family: Calisto;
		} */

    .button {
        width: 200px;
        margin: 5px;
    }

    .button a {
        display: block;
        height: 50px;
        width: 150px;
        /*TYPE*/
        color: white;
        font: 17px/50px Helvetica, Verdana, sans-serif;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        align-items: center;
        /*GRADIENT*/
        background: #00b7ea;
        /* Old browsers */
        background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* IE10+ */
        background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
        /* IE6-9 */
    }

    .button a {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }


    /* HOVER
   ================================================== */

    .button:hover .bottom {
        margin: -10px 0 0 10px
    }

    .button:hover .top {
        margin: -80px 0 0 10px;
        line-height: 35px;
    }

    /* ACTIVE
   ================================================== */

    .button a:active {
        background: #00b7ea;
        /* Old browsers */
        background: -moz-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #00b7ea), color-stop(100%, #009ec3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* IE10+ */
        background: linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
        /* IE6-9 */
    }

    .button:active .bottom {
        margin: -20px 0 0 10px
    }

    .button:active .top {
        margin: -70px 0 0 10px
    }

    @media screen and (max-width:700px) {
        td {
            display: block !important;
            border: 1px solid rgba(0, 0, 0, 0.3) !important;
            margin-bottom: 10px !important;
            position: relative;
            width: fit-content;
        }

        .nav-d {
            display: none;
        }
    }
</style>


<div class="container containerx">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <h1>Download Reports</h1>
            </div>

            <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Title
                        </th>
                        <th class="th-sm">Category
                        </th>
                        <th class="th-sm">Upload Date
                        </th>
                        <th class="th-sm">Download
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa-solid fa-file-pdf"></i>Plan Water Supply Sanitation Performance Report 2015
                        </td>
                        <td>Performance Report</td>
                        <td>2015</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plan Water Supply Sanitation Performance Report 2015</td>
                        <td>Performance Report</td>
                        <td>2015</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plan Water Supply Sanitation Performance Report 2015</td>
                        <td>Performance Report</td>
                        <td>2015</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plan Water Supply Sanitation Performance Report 2015</td>
                        <td>Performance Report</td>
                        <td>2015</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plan Water Supply Sanitation Performance Report 2015</td>
                        <td>Performance Report</td>
                        <td>2015</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plan Water Supply Sanitation Performance Report 2015</td>
                        <td>Performance Report</td>
                        <td>2015</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Plan Water Supply Sanitation Performance Report 2015</td>
                        <td>Performance Report</td>
                        <td>2015</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>...............</td>
                        <td>Annual Report</td>
                        <td>....</td>
                        <td>
                            <div class="container">
                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>.............</td>
                        <td>Water Situation Report</td>
                        <td>....</td>
                        <td>
                            <div class="container">

                                <div class="button">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>


<!-- datatables -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            paging: true,
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

{% endblock %}

{% block myotherjs %}


{% endblock %}