<!DOCTYPE html>
<html lang="en" dir="ltr"
  prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
  <link rel="stylesheet" media="all"
    href="/sites/africa/files/css/css_I6K61mTCN0GVJOsSRuqtUrZO0X1sCodWnOGijMTKc70.css" />
  <link rel="stylesheet" media="all"
    href="/sites/africa/files/css/css_X-36GBDBPitqhQRFo5pU4DJzk28U0wXdVHGq3uzp374.css" />
  <link rel="stylesheet" media="all" href="//use.fontawesome.com/releases/v5.13.0/css/all.css" />
  <link rel="stylesheet" media="all"
    href="/sites/africa/files/css/css_X6n5z2J4KYMkSMCr40eso5dip4-L2pRWqtm03e0O4_Q.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />

  <style>
    video {
      position: relative;
      height: 75vh;
      width: 100vw;
      display: block;
      object-fit: cover;
    }

    @media only screen and (max-width: 1000px) {
      video {
        position: relative;
        height: 40vh;
        width: 100vw;
        display: block;
        object-fit: cover;
      }
    }
  </style>
</head>
<link rel="stylesheet" href="../../static/gene1.css" />

<body class="layout-no-sidebars page-node-5576 path-node node--type-page">
  {% include 'frontend/layout/navbar.html' %}



  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="header-scroll" class="position-relative">
      <div id="home-page-header" class=""></div>

      <div>
        <div id="block-hamburgercontent"
          class="block block-blockgroup block-block-grouphamburger-content main-menu-container">
          <div class="menu-container m-auto pb-4">
            <div id="block-hamburgerlogo"
              class="block block-block-content block-block-content8df088dd-3aa0-4c7a-8991-738306af3ba5"></div>
          </div>
        </div>

        <div class="views-element-container block block-core block-views-blockpage-header-block-1 header-wrapper"
          id="block-views-block-page-header-block-1">
          <div>
            <div
              class="view view-page-header view-id-page_header view-display-id-block_1 js-view-dom-id-28af7c648815ea447b4cd24e60df8d5b1cfc622093d094a496f813b5ba09fcce">
              <div class="">
                <video autoplay loop muted playsinline poster="https://res.cloudinary.com/gicheworks/video/upload/v1655386356/about-us_dgudos.mp4"
                  type="video/mp4" src="https://res.cloudinary.com/gicheworks/video/upload/v1655386356/about-us_dgudos.mp4"></video>
              </div>
              <div class="row position-relative">
                <!-- <div id="parent" style="position: relative;">
                              
                                    <div class="video-layer" style="opacity: 0.3"></div>
                                </div> -->

                <div class="text-header-container resource-text-header">
                 
                  <div data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom"
                    class="text-container py-lg-5 px-lg-5 aos-init aos-animate">
                    <h1 class="font-weight-bold">{{cover_page_title}}</h1>
                    <p>&nbsp; {{cover_page_description |safe}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-wrapper" class="content-page layout-main-wrapper clearfix pb-5 mb-5">
      <a id="main-content" tabindex="-1"></a>
      <div id="block-ippf-general-mainpagecontent" class="block block-system block-system-main-block">
        <div class="content">
          <article role="article" about="/our-work/integrated-service-delivery" typeof="schema:WebPage"
            class="node node--type-page node--view-mode-full clearfix">
            <header>
              <span property="schema:name" content="Integrated Service Delivery" class="rdf-meta hidden"></span>
            </header>
            <div class="node__content clearfix">
              <div></div>

              <div class="content-container">
                <div class="row">
                  <div class="order-1 order-xl-1 col-0 col-xl-2 share-page-container">
                    <div class="block block-simple-share block-inline-blockshare-this-page">
                      <div class="share-container d-flex flex-column align-items-center text-center my-3">
                        <h3 class="px-3 pt-4">Our Pages</h3>
                        <div class="content">
                          <div class="image-border pb-1 twitter">
                            <a href="https://www.facebook.com/profile.php?id=100069277656824" target="_blank"
                              rel="noopener">
                              <img
                                src="https://vibrahealthcare.com/wp-content/uploads/2020/04/Facebook-e1588000810353.png"
                                width="35" height="35" alt="”facebook”" />
                            </a>
                          </div>
                          <div class="image-border pb-1 facebook">
                            <a href="https://twitter.com/wra_ken" target="_blank" rel="noopener">
                              <img
                                src="https://vibrahealthcare.com/wp-content/uploads/2020/04/Twitter-e1588000976638.png"
                                width="35" height="35" alt="”twitter”" />
                            </a>
                          </div>
                          <div class="image-border pb-1 linkedin">
                            <a href="https://www.youtube.com/channel/UC8l05WDkeTu3kepsJUmfdrg" target="_blank"
                              rel="noopener"><img
                                src="https://vibrahealthcare.com/wp-content/uploads/2020/04/YouTube-e1588001067850.png"
                                width="35" height="35" alt="”youtube”" /></a>
                          </div>
                        </div>
                        <div class="pb-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="order-3 order-xl-2 col-lg-12 col-xl-8 pt-4 pr-4 page-node-content-container">
                    <div class="block block-layout-builder block-field-blocknodepagebody">
                      <div class="content">
                        <div property="schema:text"
                          class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                          <p><a id="IPES"></a></p>

                          <h2>
                            <a id="IPES">{{cover_page_title}}</a>
                          </h2>

                          <p>
                            <img style="width: 100%; height: 50%" src="../../{{body_image}}" />
                          </p>

                          <p></p>

                          <hr />
                          <p></p>

                          <p><a id="MISP"></a></p>


                          <p>{{body_text|safe}}</p>

                          <p></p>

                          <hr />
                          <p></p>
                        </div>
                      </div>
                      {% if pdf %}
                      <div style="display: flex; justify-content: center">
                        <div style="
                              background-color: green;
                              color: white;
                              padding: 15px;
                              border: none;
                              border-radius: 5px;
                            ">
                          <a style="color: white; text-decoration: none" href="../../{{pdf}}" download="">Download</a>
                        </div>
                      </div>

                      {% endif %}
                    </div>
                  </div>
                  <div
                    class="order-2 order-xl-3 col-12 col-sm-10 col-md-8 mx-auto col-xl-2 p-0 position-relative card-page-info-container">
                    <div
                      class="views-element-container block block-views block-views-blockpage-information-card-block-1 info-card d-flex justify-content-center p-4">
                      <div class="mr-3">
                        <h1></h1>

                        <div>
                          <div
                            class="view view-page-information-card view-id-page_information_card view-display-id-block_1 js-view-dom-id-08704d12905cee8462e4ca82f1b62debd2e0ba649c1e99e017309a982320409b">
                            <!-- Created -->
                            <div class="mb-3 d-flex flex-wrap flex-column flex-md-row flex-xl-column border-bottom">
                              <p class="card-info-title">Posted</p>
                              
                              <p class="card-info-content">{{created_at}}</p>
                            </div>

                            <!-- Countries -->
                            <div class="mb-3 d-flex flex-wrap flex-column flex-md-row flex-xl-column border-bottom">
                              <p class="card-info-title">
                                Link of related items
                              </p>
                              {% for link in relatedLinks %}
                              <li >
                                <a style="color: white; font-size: 1em"
                                  href="{{link.item_route_name}}">{{link.cover_page_title}}</a>
                              </li>

                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="region--bottom media-content-container-wrapper"></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> -->
</body>

</html>
{% include 'frontend/layout/footertwo.html' %}