{% extends "frontend/layout/base_other.html" %}


{% block myotherstyle %}

<style>
   .overflow {
          display: none;


        }

</style>

{% endblock %}



{% block content %}
<head>

    <style>
     
        div#sliding-popup,
        div#sliding-popup .eu-cookie-withdraw-banner,
        .eu-cookie-withdraw-tab {
            background: #00a6e2
        }

        div#sliding-popup.eu-cookie-withdraw-wrapper {
            background: transparent;
        }

        #sliding-popup h1,
        #sliding-popup h2,
        #sliding-popup h3,
        #sliding-popup p,
        #sliding-popup label,
        #sliding-popup div,
        .eu-cookie-compliance-more-button,
        .eu-cookie-compliance-secondary-button,
        .eu-cookie-withdraw-tab {
            color: #ffffff;
        }

        .eu-cookie-withdraw-tab {
            border-color: #ffffff;
        }
        .content {

    margin-top: 0;
    z-index: 1;
}
.overflow {
 display: none;

        }
    </style>



    <link rel="stylesheet" media="all"
        href="../../static/About Us _ IPPF Africa_files/css_vs9jsB68VtVPIzRCTsAPgLsa6YTz_rXyXanG_m1H0Zs.css">
    <link rel="stylesheet" media="all"
        href="../../static/About Us _ IPPF Africa_files/css_nPFo-jOIWV0Fpbo-TyNkH-q8uYc9NruTm6ANcoPNcyk.css">
    <link rel="stylesheet" media="all" href="../../static/About Us _ IPPF Africa_files/all.css">
    <link rel="stylesheet" media="all"
        href="../../static/About Us _ IPPF Africa_files/css_X6n5z2J4KYMkSMCr40eso5dip4-L2pRWqtm03e0O4_Q.css">




    <script type="text/javascript" charset="UTF-8" src="./About Us _ IPPF Africa_files/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="./About Us _ IPPF Africa_files/util.js"></script>
    <style type="text/css" id="d93cfc63-a68d-43c1-b052-d6de75b5ac44">
        .c8c8c655-6b06-4248-9470-f8e745c7be39 {
            position: relative !important;
            border-radius: 0.2em !important;
            padding: 0px !important;
            margin: 0px !important;
        }


        @media print {
            .cf6af3cd-3aeb-47c1-8d7b-6452c625c45e {
                box-shadow: unset !important;
                -webkit-print-color-adjust: exact !important;
            }
        }

        @keyframes c2caa9ee-3576-4876-bc57-a27774ad1b76 {
            0% {
                opacity: 0;
                transform: scale(0.6);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        @keyframes ddfc404d-c17c-4bd3-b87f-92d4a9d0cf11 {
            100% {
                opacity: 0;
                transform: scale(0.3);
            }
        }

        .cf6af3cd-3aeb-47c1-8d7b-6452c625c45e {
            background-color: rgba(238, 238, 238, 0.8);
            color: rgb(170, 170, 170);
            font: inherit;
            box-shadow: rgb(238, 238, 238) 0px 0px 0.35em;
            text-shadow: none !important;
        }

        .default-red-aa94e3d5-ab2f-4205-b74e-18ce31c7c0ce {
            box-shadow: rgb(255, 128, 128) 0px 0px 0.35em;
            background-color: rgba(255, 128, 128, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-orange-da01945e-1964-4d27-8a6c-3331e1fe7f14 {
            box-shadow: rgb(255, 210, 170) 0px 0px 0.35em;
            background-color: rgba(255, 210, 170, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-yellow-aaddcf5c-0e41-4f83-8a64-58c91f7c6250 {
            box-shadow: rgb(255, 255, 170) 0px 0px 0.35em;
            background-color: rgba(255, 255, 170, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-green-c4d41e0a-e40f-4c3f-91ad-2d66481614c2 {
            box-shadow: rgb(170, 255, 170) 0px 0px 0.35em;
            background-color: rgba(170, 255, 170, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-cyan-f88e8827-e652-4d79-a9d9-f6c8b8ec9e2b {
            box-shadow: rgb(170, 255, 255) 0px 0px 0.35em;
            background-color: rgba(170, 255, 255, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-purple-c472dcdb-f2b8-41ab-bb1e-2fb293df172a {
            box-shadow: rgb(255, 170, 255) 0px 0px 0.35em;
            background-color: rgba(255, 170, 255, 0.8) !important;
            color: rgb(0, 0, 0) !important;
        }

        .default-grey-da7cb902-89c6-46fe-b0e7-d3b35aaf237a {
            box-shadow: rgb(119, 119, 119) 0px 0px 0.35em;
            background-color: rgba(119, 119, 119, 0.8) !important;
            color: rgb(255, 255, 255) !important;
        }
        .mb-5 {
    margin-bottom: 0!important;
}

    </style>
</head>


<body class="layout-no-sidebars page-node-5160 path-node node--type-landing-page mm-wrapper scrolldown scrolled"
    data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1060.0"
    data-gr-ext-installed="">
  


    <div class="mm-page mm-slideout" id="mm-0">
        <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
        
            <div id="header-scroll" class="position-relative">

                <div id="home-page-header" class=""> </div>

                <div>
              



                    <div class="views-element-container block block-core block-views-blockpage-header-block-1 header-wrapper"
                        id="block-views-block-page-header-block-1">
                        <div>
                            <div
                                class="view view-page-header view-id-page_header view-display-id-block_1 js-view-dom-id-a3faa5c8c3e7285883f5f7e86019cfa0d805372499ae294ee424beda5d6ba3c8">



                                <div class="row position-relative">

                                    <div class="fullBgImage">
                                        <img src="https://wra.go.ke/wp-content/uploads/2020/08/WRA-CEO-Mr.-Mohamed-Shurie-planting-a-tree-with-WRA-Chairman-Hon.-Joe-Mutambu-scaled.jpg"
                                            width="1200" height="800" alt="WRA Planting Trees"
                                            loading="lazy" typeof="foaf:Image">

                                            <!-- https://wra.go.ke/wp-content/uploads/2020/08/WRA-CEO-Mr.-Mohamed-Shurie-planting-a-tree-with-WRA-Chairman-Hon.-Joe-Mutambu-scaled.jpg  -->



                                    </div>

                                    <div class="text-header-container resource-text-header ">
                                        <div data-aos="zoom-in" data-aos-duration="1000"
                                            data-aos-anchor-placement="top-bottom"
                                            class="text-container py-lg-5 px-lg-5 aos-init aos-animate">
                                            <h1 class="font-weight-bold">
                                                Innovations
                                            </h1>
                                            <p>We have multiple innovations all over the country, as our main focus is on protection, regulation and dissemination. </p>
                          
                                            
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>

            </div>

            <div id="main-wrapper" class="content-page layout-main-wrapper clearfix pb-5 mb-5">


                <a id="main-content" tabindex="-1"></a>
                <div id="block-ippf-general-mainpagecontent" class="block block-system block-system-main-block">


                    <div class="content">


                        <article role="article" about="/about-us"
                            class="node node--type-landing-page node--promoted node--view-mode-full clearfix">
                            <header>


                            </header>
                            <div class="node__content clearfix">

                            </div>
                        </article>

                    </div>
                </div>
                <div id="block-aboutuspage" class="block block-blockgroup block-block-groupabout-us-page">
                    
                    <div class="content">
                        {%for item in items %}
                    {% if loop.index %2==0%}
                        <div id="block-firstaboutuscard"
                            class="block block-block-content block-block-contentfb23420f-7f0d-49e4-b8b5-f2b470aacc6c" >

                            <div class="content">

                                <div class="card-over-image-wrapper">
                                    <div class="card-over-image middle_left card-bg-dark" style="">
                                        <div class="container-text">
                                            <div class="title-container ">
                                                <h1 class="underline-title">{{item.title}}</h1>
                                            </div>

                                            <div
                                                class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
                                                <p>{{item.coverpage_description}}</p>
                                                <a class="btn btn-primary" href="/innovations/{{item.title|replace(' ','_')}}">
                                                    Read More...
                                                </a>

                                            </div>

                                        </div>
                                        <div class="container-image ">

                                            <div
                                                class="field field--name-field-card-image field--type-image field--label-hidden field__item">
                                                <img src="../../{{item.file_url}}"
                                                    width="1920" height="1280"
                                                    alt="IPPF Humanitarian - Cyclone Yasa Fiji" loading="lazy"
                                                    typeof="foaf:Image">

                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        {%else%}
                        <div id="block-aboutusregional"
                            class="block block-block-content block-block-contentdd274523-d411-4adb-ae84-ef8e92777093" >

                            <div class="content">

                                <div class="card-over-image-wrapper">
                                    <div class="card-over-image middle_right card-bg-light" style="">
                                        <div class="container-text" style="right: 10px;">
                                            <div class="title-container ">

                                                <h1 class="underline-title">{{item.title}}</h1>
                                              
                                            </div>
                                       

                                            <div
                                                class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
                                                
                                                <p>{{item.coverpage_description}}</p>
                                                <a class="btn btn-primary" href="/innovations/{{item.title|replace(' ','_')}}">
                                                    Read More...
                                                </a>
                                            
                                            </div>

                                        </div>
                                        <div class="container-image ">

                                            <div
                                                class="field field--name-field-card-image field--type-image field--label-hidden field__item">
                                                <img src="../../{{item.file_url}}""
                                                    width="8688" height="5792" alt="ABUBEF Clinic 1/Georgina Goodwin"
                                                    loading="lazy" typeof="foaf:Image">


                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        
                      {%endif%}
                      {%endfor%}
                      
                 


                   

                    </div>
                </div>



            </div>
         
        </div>
       
    </div>

    
 



<!-- include this to bring the slider -->
<!-- 'frontend/layout/slider.html' -->

    {% include 'frontend/layout/footertwo.html' %}

</body>


{% endblock %}

{% block myotherjs %}

{% endblock %}