<!-- {% extends "frontend/layout/base_other.html" %}





{% block content %}
<style>
    .body {
        margin-top: 20vh;
        color: white;
        padding-left: 5em;
        padding-right: 5em;
    }
</style>
<style>
    table {
        color: black;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}














/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
</style>

<section class="body">
    <h1>WATER RESOURCES LABORATORY SERVICES</h1>
    <p>
        WRA Laboratories plays a major role in carrying out various tests on water to ensure that the water used for
        various applications meet prescribed guidelines. In this regard, the labs analyses water for domestic,
        irrigation, construction, research and wastewater (Effluent) to ensure that it is within the regulatory
        requirement. The Constitution of Kenya 2010 establishes the right to safe and clean water for every citizen. The
        central water testing laboratory uses the state of the art equipment, to perform more than 40 different tests on
        a variety of water samples.
    </p>
<h1>
    What is Authority’s mandate in protection of water resources?
</h1>
    <p>
        To regulate and protect water resources quality from adverse impacts</p>
    <h2>
        What services are offered in the Laboratory?
    </h2>
    <ul>
        <li>Full chemical analysis</li>
        <li>Analysis of Wastewater (effluent )</li>
        <li>Bacteriological analysis</li>
    </ul>

    <h2>Microbiological Water Analysis</h2>
    <p>Cost of our laboratory services</p>
    <ul>
        <li>
            <h2>Full Chemical Analysis</h2>
        </li>
        <p>The full Chemical Analysis costs Kenya Shillings Five Thousand (Ksh. 5,000.00)</p>
        <li>
            <h2>Partial Waste Water Analysis (Effluent)</h2>
        </li>
        <p>The Partial Waste Water Analysis costs Kenya Shillings Five Thousand (Ksh. 5,000.00)</p>
        <li>
            <h2>Bacteriological analysis</h2>
        </li>
        <p>The Bacteriological analysis costs Kenya Shillings Two Thousand (Ksh. 2,000.00)

        </p>
    </ul>

    <div>
        <h1>
            Where are the laboratories located?
        </h1>
        <p>
            WRA operates ten (10) laboratories across the country, covering the six regions and the Central Lab in Nairobi.
        </p>

        
    </div>
    <table>
        <caption>Statement Summary</caption>
        <thead>
          <tr>
            <th scope="col">WRA Catchment Area</th>
            <th scope="col">Laboratory</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Account">Nairobi</td>
            <td data-label="Due Date">Nairobi</td>
    
          </tr>
          <tr>
            <td scope="row" data-label="Account">Lake Victoria North Basin Area  (LVNBA) </td>
            <td data-label="Due Date">Kakamega</td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Lake Victoria South Basin Area (LVSBA) </td>
            <td data-label="Due Date">Kisumu</td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Rift Valley Basin Area (RVBA) </td>
            <td data-label="Due Date">Nakuru</td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Athi Basin Area (ABA)</td>
            <td data-label="Due Date">Machakos</td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Tana Basin Area (TBA)</td>
            <td data-label="Due Date">Embu/Muranga/Kerugoya</td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">ENNCA</td>
            <td data-label="Due Date">Nyeri</td>
          </tr>
      
        </tbody>
      </table>
    <table>
        <caption>What are the guidelines for Drinking Water Standards?</caption>
        <thead>
          <tr>
            <th scope="col">PARAMETER</th>
            <th scope="col">UNIT</th>
            <th scope="col">W.H.O GUIDELINES</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Account">ph</td>
            <td data-label="Due Date">-log[H+]</td>
            <td data-label="Due Date">pH Scale   6.5 – 8.5</td>
    
          </tr>
          <tr>
            <td scope="row" data-label="Account">Colour</td>
            <td data-label="Due Date">mg/pt/l</td>
            <td data-label="Due Date">   < 15</td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Turbidity </td>
            <td data-label="Due Date"> N. T. U.</td>
            <td data-label="Due Date">  <5 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Dissolved Oxygen (O2)</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date">> 4</td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Total Hardness</td>
            <td data-label="Due Date">mgCaCO3/l  </td>
            <td data-label="Due Date"> < 500  </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Total Alkalinity</td>
            <td data-label="Due Date"> mgCaCO3/l   </td>
            <td data-label="Due Date"> < 500 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Fluoride (F)</td>
            <td data-label="Due Date">mg/l  </td>
            <td data-label="Due Date"> < 1.5  </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Total Dissolved Solids</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date">  < 1500 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Chloride</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 250 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Sodium</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 200 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Zinc</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 5 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Sulphates</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 400 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Iron (Fe)</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 0.3 </td>
          </tr>
      
          <tr>
            <td scope="row" data-label="Account">Manganese (Mn)</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 0.1 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Nitrate</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 10 </td>
          </tr>
          <tr>
            <td scope="row" data-label="Account">Nitrate</td>
            <td data-label="Due Date">mg/l</td>
            <td data-label="Due Date"> < 10 </td>
          </tr>
      
        </tbody>
      </table>
</section>

{% endblock %}


{% block myotherjs %}
<script>


</script>
{% endblock %} -->