{% extends "frontend/layout/base_other.html" %}

{% block content %}

<style>
	@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap");

	:root {
		--text-font: "Hind", sans-serif;
		--title-font: "Montserrat", sans-serif;
		--dark: #151515;
		--grey: #717171;
		--light-gray: #a1a1a1;
		--faded-gray: #e1e1e1;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: var(--text-font);
	}
	.card__img img{
		height: 11em;
	}

	img {
		width: 100%;
		vertical-align: top;
	}

	.card {
		text-align: center;
	}

	.card__img {
		margin-bottom: 30px;
	}

	.card__title {
		font-family: var(--title-font);
		text-transform: capitalize;
		color: var(--dark);
		line-height: 35px;
		font-size: 24px;
	}

	.card__text {
		font-family: var(--text-font);
		color: var(--grey);
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 20px;
	}

	.card__readbtn {
		font-family: var(--text-font);
		font-size: 14px;
		text-transform: uppercase;
		color: var(--light-gray);
		text-decoration: none;
		line-height: 26px;
		transition: all ease 0.3s;
		position: relative;
	}

	.card__readbtn::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px;
		background-color: var(--dark);
		transition: all ease 0.3s;
	}

	.card__readbtn:hover {
		color: var(--dark);
	}

	.card__readbtn:hover::after {
		width: 100%;
	}

	.divider {
		background-color: var(--faded-gray);
		height: 2px;
		max-width: 30px;
		margin: 15px auto 20px;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 35px;
		max-width: 1300px;
		margin: 50px auto;
		padding: 0 10px;
	}

	section.head .title {
		font-size: 3rem;
		color: white;
	}

	section.head {
		margin-top: 5em;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
	}
</style>

<section class="head">
	<p class="title">About the Water Resources Authority (WRA)</p>
</section>

<div class="grid">
	<div class="card">
		<div class="card__img">
			<img src="https://www.researchgate.net/profile/Richard-Koech-2/publication/320677804/figure/fig1/AS:554228370608128@1509149748447/Location-map-of-the-study-area-showing-Tana-River-Basin-elevations-rivers-and-streams.png"
				alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				Gazette Notice for Declaration of Basin Areas Order
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				IN EXERCISE of the powers conferred by Section 24 of the Water Act, 2016, the Authority, following
				consultation with the Cabinet Secretary, hereby designates the following areas as Basin Areas for
				purposes of the Act:
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div>
	<div class="card">
		<div class="card__img">
			<img src="https://marketing4ecommerce.net/wp-content/uploads/2016/01/marketing4ecommerce-241.jpg"
				alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				WRA Newsletter
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				Download the WRA June 2021 Newsletter
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div>
	<div class="card">
		<div class="card__img">
			<img src="static/assets/swamp.jpg"
				alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				Water Resources Authority Conservation Efforts towards Protecting Ondiri Swamp
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				The Water Resources Authority Chairman Hon. Joe Mutambu accompanied by WRA CEO Mr. Mohamed Shurie
				visited Ondiri Swamp in Kikuyu, Kiambu County with the purpose of planting 7000 trees along its banks.
				While addressing members of the public Hon Joe Mutambu emphasized...
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div>
	<div class="card">
		<div class="card__img">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxStLEBOEn9Hkf_uVvIrS1eJcwDIwnHOR4eF-8MD9U2E_HxfoqHK_d9c4WnkXpwppg5dU&usqp=CAU"
				alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				WRA Defines the Riparian
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				In August 2018 WRA was featured in the Chamwada Report to define the Riparian. The interview featured
				the Nairobi Sub-region Assistant Technical Coordination Manager (ATCM) Mr. John Munyau. Follow this link
				to watch the documentary courtesy of Chams Media and KTN News.
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div>

</div>

{% endblock %}