{% extends "frontend/layout/base_other.html" %} {% block myotherstyle %}

<style></style>

{% endblock %} {% block content %}
<script
	src="https://code.jquery.com/jquery-2.2.0.min.js"
	type="text/javascript"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet"
/>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous"
/>
<style>
  
	.maind {
		margin-top: 2em;
	}

 


	/* Slider */

	.slick-slide {
		margin: 0px 20px;
	}

	.slick-slide img {
		width: 100%;
	}

	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}

	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	.slick-list:focus {
		outline: none;
	}

	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}

	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
	}

	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
	}

	.slick-track:after {
		clear: both;
	}

	.slick-loading .slick-track {
		visibility: hidden;
	}

	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}

	[dir='rtl'] .slick-slide {
		float: right;
	}

	.slick-slide img {
		display: block;
	}

	.slick-slide.slick-loading img {
		display: none;
	}

	.slick-slide.dragging img {
		pointer-events: none;
	}

	.slick-initialized .slick-slide {
		display: block;
	}

	.slick-loading .slick-slide {
		visibility: hidden;
	}

	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}

	.slick-arrow.slick-hidden {
		display: none;
	}



	.slick-prev:before {
		content: '';
		color: red;
		/* font-size: 30px; */
		position: absolute;
		right: 0;
	}

	.slick-next:before {
		color: red;
		/* font-size: 30px; */
	}
	.size {
		/* font-size: 2.5em; */
	}
	.btsi {
		/* font-size: 0.5em; */
	}
	.imgps {
		margin-left: 30%;


	}
	.slide-arrow {
		position: absolute;
		top: 50%;
		margin-top: -15px;
	}
	.prev-arrow {
		left: -40px;
		width: 0;
		height: 0;
		border-left: 0 solid transparent;
		border-right: 15px solid #113463;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	.next-arrow {
		right: -40px;
		width: 0;
		height: 0;
		border-right: 0 solid transparent;
		border-left: 15px solid #113463;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
</style>

<style>
	.card {
       height: 58em;
	   border-style:5px solid red;
	}
    .card img{
        max-height: 28em;
    height: 100%;
    }
    h1{
        text-align: center;
        
    }
    p.card-title {
    font-size: 1.7em;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    font-size: 1.8em;
    border-color: #0d6efd;
    position: absolute;
    bottom: 0;
    /* margin-top: 2em; */
    left: 40%;
}
</style>

<div class="maind">
	<section style="margin-top: 13em ;">
		<h1 class="page-404__heading" style="color: white; z-index: 10000;">WRA News And Notices</h1>
		<div class="page-404__text container"></div>
	</section>

	<!-- <h2 style="text-align:center">Slideshow Gallery</h2> -->
	<div class="container" style="margin-top: 10px; border-style: red so;">
		<section   class="customer-logos slider" style="border-style: 5px red solid;">
			{% for item in items %}
			<div class="card " style="border-style: 5px red solid;">
				<img
					src="../../{{item.body_image}}"
					class="card-img-top"
					alt="..."
					
					
				/>
				<div class="card-body">
					<h1 style="font-size: 2.5em; font-weight: 800; padding-bottom: 15px;" class="card-title"><u>{{item.cover_page_title}}</u></h1>
					<p style="font-size: 1.2em;" class="card-title">{{item.cover_page_description}}</p>
					<a style="margin-bottom: 25px;"
						href="/wra-news/{{item.item_route_name}}"
						class="btn btn-primary btsi" 
						>Read More </a
					>
				</div>
			</div>

			{% endfor %}
 
		</section>
		c
 
	</div>
</div>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"
></script>
<script>
	$(document).ready(function () {
		$('.customer-logos').slick({
			slidesToShow: 2,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 4000,
			arrows: true,
			prevArrow: '<button class="slide-arrow prev-arrow"></button>',
			nextArrow: '<button class="slide-arrow next-arrow"></button>',
			dots: false,
			pauseOnHover: false,
			responsive: [
				{
					breakpoint: 768,
					settings: {
						slidesToShow: 1,
					},
				},
				{
					breakpoint: 520,
					settings: {
						slidesToShow: 1,
					},
				},
			],
		});
	});
</script>
{% endblock %}
