<script async="" src="../../static/News_files/analytics.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<style>
  div#sliding-popup,
  div#sliding-popup .eu-cookie-withdraw-banner,
  .eu-cookie-withdraw-tab {
    background: #00a6e2;
  }

  div#sliding-popup.eu-cookie-withdraw-wrapper {
    background: transparent;
  }

  #sliding-popup h1,
  #sliding-popup h2,
  #sliding-popup h3,
  #sliding-popup p,
  #sliding-popup label,
  #sliding-popup div,
  .eu-cookie-compliance-more-button,
  .eu-cookie-compliance-secondary-button,
  .eu-cookie-withdraw-tab {
    color: #ffffff;
  }

  .eu-cookie-withdraw-tab {
    border-color: #ffffff;
  }
</style>

<style>
  video {
    position: relative;
    height: 75vh;
    width: 100vw;
    display: block;
    object-fit: cover;
  }

  @media only screen and (max-width: 1000px) {
    video {
      position: relative;
      height: 40vh;
      width: 100vw;
      display: block;
      object-fit: cover;
    }
  }
</style>
<link rel="stylesheet" media="all"
  href="../../static/News_files/css_0ewTeSZ-1jvvNp_d2oW2IC-9WCJwdUalG3_i_0gXak4.css" />
<link rel="stylesheet" media="all"
  href="../../static/News_files/css_TTB2o5Yov4svXGfPk4KKyAwHqcAZf5G5wrPtSS9YWw4.css" />
<link rel="stylesheet" media="all" href="../../static/News_files/all.css" />
<link rel="stylesheet" media="all"
  href="../../static/News_files/css_X6n5z2J4KYMkSMCr40eso5dip4-L2pRWqtm03e0O4_Q.css" />

<script type="text/javascript" charset="UTF-8" src="../../static/News_files/common.js"></script>
<script type="text/javascript" charset="UTF-8" src="../../static/News_files/util.js"></script>
</head>

<body class="layout-no-sidebars page-view-content-listing path-news mm-wrapper scrolldown scrolled"
  data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1063.0"
  data-gr-ext-installed="">
  {% include 'frontend/layout/navbar.html' %}
  <div class="mm-page mm-slideout" id="mm-0">
    

      <div id="main-wrapper" class="content-page layout-main-wrapper clearfix pb-5 mb-5">
        <a id="main-content" tabindex="-1"></a>
        <div id="block-newspage" class="block block-blockgroup block-block-groupnews-page">
          <div class="content">
            <div id="block-newspageheader"
              class="block block-block-content block-block-content7fb60ea8-3806-4afa-b414-c879c301123f">
              <div class="content">
                <div class="header-wrapper">
                  <div class="header-image-container smallBgImage" style="height: 70vh; width: 100%">
                    <div
                      class="field field--name-field-header-background-image field--type-image field--label-hidden field__item">
                      <video
                      autoplay
                      loop
                      muted
                      playsinline
                      poster="https://www.ags.pt/video/about-us-poster.jpg?v1"
                      type="video/mp4"
                      src="https://www.ags.pt/video/about-us.mp4?v1"
                    ></video>
                    </div>
                  </div>

                  <div style=" background-color:#1450AA !important;" class="text-header-container bottom-position-small-img">
                    <div style=" background-color:#1450AA !important;" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom"
                      class="text-container py-lg-5 px-lg-5 aos-init aos-animate">
                      <div class="author-page-header-text-wrapper">
                        <div>
                          <h1 class="font-weight-bold">News</h1>
                          Latest news from WRA
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
        <div id="block-ippf-general-mainpagecontent" class="block block-system block-system-main-block">
          <div class="content">
            <div class="views-element-container">
              <div
                class="view view-content-listing view-id-content_listing view-display-id-news js-view-dom-id-c7dee362d285f4e64d677cd2c350e0693a588dda9a1fa71e04dc939e9d82096f news-list">
                <div class="media-list">
                  <img class="cards-list-background" src="../../static/WhatsApp Image 2022-04-14 at 11.05.44 AM.jpeg"
                    alt="" />




                  <div id="block-ippf-general-mainpagecontent" class="block block-system block-system-main-block">


                    <div class="content">
                      <div class="views-element-container">
                        <div
                          class="view view-content-listing view-id-content_listing view-display-id-news js-view-dom-id-859aababcbd8d7578db1b712bbb536653d067b80b847fd0a5c7c031d71f202e3 news-list">
                          <div class="media-list">
                            <img class="cards-list-background" src="../../static/WhatsApp Image 2022-04-14 at 11.05.44 AM.jpeg"
                            alt="" />
                            <div class="cards-list-container">
                              {% for item in items %}
                              <div class="card-list-container desktop-card">
                                <div class="card-list">
                                  <div class="card-image">
                                    <img
                                    src="../../{{item.body_image}}"  />
                                  </div>
                                  <div class="card-text">
                                    <div>
                                      <span class="d-flex">
                                        news item
                                        <p class="time-to-read d-flex">
                                          | {{item.created_at}}
                                        </p>
                                      </span>
                                      <h3>
                                        {{item.cover_page_title|safe}}
                                      </h3>
                                      <div class="card-body-container">
                                        <p>
                                          {{item.cover_page_description[0:150]|safe}}

                                        </p>
                                      </div>
                                    </div>
                                    <div class="read-more-dark-button">
                                      <div
                                        class="field field--name-node-link field--type-ds field--label-hidden field__item">
                                        <a href="/wra-news/{{item.item_route_name}}"
                                          hreflang="en">Read more</a>
                                      </div>

                                      <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" width="9.389"
                                        height="7.907" viewBox="0 0 9.389 7.907">
                                        <path
                                          d="M264.8,753.829h5.432a.072.072,0,0,1,.073.074.074.074,0,0,1-.021.052l-2.869,2.812a.073.073,0,0,0,0,.1.071.071,0,0,0,.056.023l2.688-.075a.067.067,0,0,0,.05-.021L274.1,753a.075.075,0,0,0,0-.106l0,0-3.864-3.888a.073.073,0,0,0-.055-.022l-2.451.042a.075.075,0,0,0-.073.076.076.076,0,0,0,.021.05l2.6,2.673a.074.074,0,0,1,0,.1.07.07,0,0,1-.051.021h-5.329a.649.649,0,0,1-.076-.005.073.073,0,0,0-.083.062v1.746a.074.074,0,0,0,.074.074Z"
                                          transform="translate(-264.729 -748.986)" fill="#151f6d" />
                                      </svg>
                                    </div>
                                  </div>
                                </div>
                              </div>
 
                              <!-- Slide Card End -->
                              {% endfor %}
                            </div>
                            <div class="media-list-slider">
                              <div class="swiper-pagination"></div>

                              <div class="swiper-container">
                                {% for item in items %}
                                <div class="swiper-wrapper">

                                  <!-- Slide Card -->
                                  <div class="swiper-slide mobile-card">
                                    <div class="card-list-container">
                                      <div class="card-list">
                                        <div class="card-image">
                                          <img
                                          src="../../{{item.body_image}}" 
                                            alt="Ethiopia youth" />
                                        </div>
                                        <div class="card-text">
                                          <div>
                                            <span class="d-flex">
                                              news_item
                                              <p class="time-to-read d-flex">
                                                | 13 January 2022
                                              </p>
                                            </span>

                                            <h3>
                                              {{item.cover_page_title|safe}}
                                            </h3>
                                            <div class="card-body-container">
                                              <p>
                                                {{item.cover_page_description|safe}}

                                              </p>
                                            </div>
                                          </div>
                                          <div class="read-more-dark-button">
                                            <div
                                              class="field field--name-node-link field--type-ds field--label-hidden field__item">
                                              <a href="/wra-news/{{item.item_route_name}}">Read more</a>
                                            </div>

                                            <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" width="9.389"
                                              height="7.907" viewBox="0 0 9.389 7.907">
                                              <path
                                                d="M264.8,753.829h5.432a.072.072,0,0,1,.073.074.074.074,0,0,1-.021.052l-2.869,2.812a.073.073,0,0,0,0,.1.071.071,0,0,0,.056.023l2.688-.075a.067.067,0,0,0,.05-.021L274.1,753a.075.075,0,0,0,0-.106l0,0-3.864-3.888a.073.073,0,0,0-.055-.022l-2.451.042a.075.075,0,0,0-.073.076.076.076,0,0,0,.021.05l2.6,2.673a.074.074,0,0,1,0,.1.07.07,0,0,1-.051.021h-5.329a.649.649,0,0,1-.076-.005.073.073,0,0,0-.083.062v1.746a.074.074,0,0,0,.074.074Z"
                                                transform="translate(-264.729 -748.986)" fill="#151f6d" />
                                            </svg>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
 
                                </div>
                                {% endfor %}
                              </div>
 
                            </div>
                          </div>

                       
                        </div>
                      </div>
                    </div>

                  </div>






                </div>

                <div class="content-container-80 pt-5">
                  <nav style="float: none;" aria-label="pagination-heading">
                    <h4 id="pagination-heading" class="visually-hidden">
                      Pagination
                    </h4>
                    
                    <ul class="pagination js-pager__items">
                      {% for i in range(paginator_counter) %}
                      <form action="/wra-news" method="post">

                        <li class="page-item active">
                          <button style="border: none; border-left: 1px solid white;">

                            <span class="page-link" >{{i+1}}</span>
                            <input type="text" name="page" style="display: none;" value="{{i+1}}">

                          </button>
                        </li>

                      </form>
                      {% endfor %}
       
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="off-canvas-wrapper"></div>
  </div>
  {% include 'frontend/layout/footertwo.html' %}


  <script src="../../static/News_files/js_xAxZtLZxqkXjcqeskxEJgT9qAYDgy7onMEQYA-jzUUE.js"></script>
  <script src="../../static/News_files/js"></script>
  <script src="../../static/News_files/js_9DqbFXYyI_9dy4Aq7x60R3j2eoCfOIuhVIG9sAM2bfA.js"></script>
  <script src="../../static/News_files/eu_cookie_compliance.js" defer=""></script>
  <script src="../../static/News_files/js_K7ohyAe8NtUTKgyK_Af1_ZyXnJa75dvjKNjvj53qV04.js"></script>