<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,700');

/* * {
  box-sizing: border-box;
}
div {
  padding: 0;
} */
/* BODY {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.8em;
} */

.promo-box-container {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 760px;
  width: 100%;
  min-height: 225px;
  background: linear-gradient(rgba(241, 143, 1, 0.9), rgba(241, 143, 1, 0.9)),
    url("https://placeimg.com/940/300/any")
      no-repeat 100%;
  z-index: 1;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.promo-box-container .right-triangle {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 100%;
  width: 50%;
  background: linear-gradient(rgba(128, 0, 128, 0.6), rgba(128, 0, 128, 0.6)),
    url("https://placeimg.com/940/300/any")
      no-repeat 100%;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.promo-box-container .linkspanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.promo-box-container .title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 36%;
  margin-right: 8%;
  margin-top: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.promo-box-container .title a {
  text-decoration: none;
  color: #000;
}

.promo-box-container .title span.lighter {
  font-weight: 300;
}

.promo-box-container .cta-button {
  background: rgba(241, 143, 1, 1);
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.7em;
  float: right;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  z-index: 99;
  -o-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

.promo-box-container .cta-button:hover {
  color: #000;
  background-color: #F3A32F;
}

@media all and (max-width: 600px) {
  .promo-box-container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    width: 300px;
    height: 200px;
    z-index: 1;
    color: #000;
    background: linear-gradient(rgba(241, 143, 1, 0.9), rgba(241, 143, 1, 0.9)),
      url("https://placeimg.com/300/300/any")
        no-repeat 90%;
  }
  .promo-box-container .title {
    font-size: 24px;
    line-height: 28px;
  }
  .promo-box-container .title span.lighter {
    font-size: 19px;
    display: block;
    line-height: 24px;
    margin-top: 10px;
  }
  .promo-box-container .cta-button {
    font-size: 12px;
    top: auto;
  }
  .promo-box-container .right-triangle {
    width: 39%;
    background: linear-gradient(rgba(128, 0, 128, 0.6), rgba(128, 0, 128, 0.6)),
      url("https://placeimg.com/300/300/any")
        no-repeat 90%;
  }
}

</style>


<div class="promo-box-container">
 <a href="#" target="_blank" rel="noopener">
    <span class="linkspanner"></span>
  </a>
<p class="title"><a href="#" target="_blank" rel="noopener">Want to create an impact? <span class="lighter">Take control and see what others can't.</span></a></p>
<p><a class="cta-button" href="#" target="_blank" rel="noopener">Get Started</a></p>
<div class="right-triangle"> </div>
</div>