{% extends "frontend/layout/base_other.html" %} {% block content %}

<style>
	.hs-responsive-embed-youtube {
		margin-top: 6em;
		position: relative;
	}

	.hs-responsive-embed-youtube iframe {
		width: 100% !important;
		height: 35em;
	}

	*/ .container {
		position: relative;
		top: 8rem;
		/* left: 5rem; */
	}

	body {
		background: rgb(7, 22, 52);
		color: #efedef;
		font-family: 'Roboto', Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 0.01em;
		line-height: 1.6em;
		margin: 0 auto;
		padding: -1px;
		z-index: -1;
	}

	.service {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		width: 100%;
		min-height: 100%;
		padding-top: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.navigation {
		background: rgba(255, 255, 255, 0.5);
		/* position: fixed; */
		width: 100%;
		z-index: 5;
		top: 0;
	}

	.charter {
		top: 500px;
	}

	*/ h1 {
		font-size: 3.5rem;
		line-height: 1em;
		color: rgba(255, 255, 255, 0.918);
		font-family: calisto;
	}

	.tabs {
		display: block;
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 50px 0;
		overflow: hidden;
	}

	/* h1 {
		color: black;
	} */

	.tabs [class^='tab'] label,
	.tabs [class*=' tab'] label {
		color: black;
		cursor: pointer;
		display: block;
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1em;
		padding: 1rem 0;
		text-align: center;
	}

	.tabs [class^='tab'] [type='radio'],
	.tabs [class*=' tab'] [type='radio'] {
		border-bottom: 1px solid rgba(239, 237, 239, 0.5);
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		width: 100%;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.tabs [class^='tab'] [type='radio']:hover,
	.tabs [class^='tab'] [type='radio']:focus,
	.tabs [class*=' tab'] [type='radio']:hover,
	.tabs [class*=' tab'] [type='radio']:focus {
		border-bottom: 1px solid rgb(0, 149, 218);
	}

	.tabs [class^='tab'] [type='radio']:checked,
	.tabs [class*=' tab'] [type='radio']:checked {
		border-bottom: 2px solid rgb(0, 149, 218);
	}

	.tabs [class^='tab'] [type='radio']:checked + div,
	.tabs [class*=' tab'] [type='radio']:checked + div {
		opacity: 1;
	}

	.tabs [class^='tab'] [type='radio'] + div,
	.tabs [class*=' tab'] [type='radio'] + div {
		display: block;
		opacity: 0;
		padding: 2rem 0;
		width: 100%;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.tabs .tab-2 {
		/* width: 40%; */
	}

	.tabs .tab-2 [type='radio'] + div {
		width: 200%;
		margin-left: 200%;
	}

	.tabs .tab-2 [type='radio']:checked + div {
		margin-left: 0;
	}

	.tabs .tab-2:last-child [type='radio'] + div {
		margin-left: 100%;
	}

	.tabs .tab-2:last-child [type='radio']:checked + div {
		margin-left: -100%;
	}

	audio:hover,
	audio:focus,
	audio:active {
		-webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
		box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	}

	#audio {
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-moz-box-shadow: 2px 2px 4px 0px #006773;
		-webkit-box-shadow: 2px 2px 4px 0px #006773;
		box-shadow: 2px 2px 4px 0px #006773;
		-moz-border-radius: 7px 7px 7px 7px;
		-webkit-border-radius: 7px 7px 7px 7px;
		border-radius: 7px 7px 7px 7px;
		width: 33%;
		margin-left: 3em;
	}

	.audio-flex {
		display: flex;
		justify-content: center;
	}
</style>

<!-- Bootstrap Libs CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous"
/>
<style>
	body.page-template.page-template-templates.page-template-privacy.page-template-templatesprivacy-php.page.page-id-97 {
    overflow: hidden !important;
}
</style>
{% include 'frontend/layout/water_waves.html' %}
<div class="container containerx">
	<div class="row" style="margin-top: 10em">
		<div class="col-sm-12">
			<div class="charter">
				<div class="page-404__heading">Customer Service Charter</div>
				<div class="page-404__text"></div>
			</div>
		</div>

		<div class="audio" style="position: relative; margin-top: 1em">
			<!-- <h1 style="text-align: center; position: relative; margin-bottom: .7em;">Audio Version </h1> -->
			<div class="audio-flex">
				<audio id="audio" controls preload="metadata">
					<source
						src="../../{{item.english_audio}}"
						type="audio/mp3"
					/>
				</audio>

				<audio id="audio" controls preload="metadata">
					<source
						src="../../{{item.kiswahili_audio}}"
						type="audio/mp3"
					/>
				</audio>
			</div>
		</div>
		
		{% include 'frontend/layout/tabs-service-chartet.html' %}

		<div class="page-404__heading">Braille Service Charter</div>
		<div class="page-404__text"></div>
		{% include 'frontend/layout/tabs-service-chartet1.html' %}
		
		<style>
			.hs-responsive-embed-youtube {
				position: relative;
				padding-bottom: 34%; /* 16:9 Aspect Ratio */
				padding-top: 25px;
				    /* background: rebeccapurple; */
					display: flex;
    justify-content: center;
				
			}
			.hs-responsive-embed-youtube iframe {
				position: absolute;
				width: 90% !important;
				height: 100% !important;
			}
		</style>
		<div class="page-404__heading">Sign Language Service Charter</div>
		<div class="page-404__text"></div>
		<div class="hs-responsive-embed-youtube">
            <iframe  src="https://www.youtube.com/embed/p9E4sZ_ZayM" title="WRA Customer Service Charter Sign language Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>
<style>

	.content {
		position: relative;
		min-width: 100%;
		background-position: center;
		background-size: contain;
		background-repeat: repeat-y;
		margin-top: 0;
		z-index: 1;
	
	}
	div#av_section_4 {
    margin-top: 2em;
}
</style>
	
{% include 'frontend/layout/footertwo.html' %}
<!-- <div class="  hs-responsive-embed-youtube">
        <h1 style="text-align: center; margin-bottom: 1em;">Sign Language Version </h1>
        <iframe src="https://www.youtube.com/embed/p9E4sZ_ZayM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
      </div> -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
	integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
	crossorigin="anonymous"
></script>
<script src="../../assets/libs/jquery-3.5.1.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"
></script>

<script>
	$(document).ready(function () {
		if ($(window).width() >= 756) {
			// alert("kibwa")
		} else {
			// alert("ndogo")
			// $(".avia-slideshow-inner").css("visibility", "none");
			// $(".avia-slide-wrap").css("visibility", "visible");
		}
	});
</script>

{% endblock %}
