{% extends  "frontend/layout/base_other.html" %}

{% block content %}
<style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>
</head>
<body>

<h2>Automatic Slideshow</h2>
<p>Change image every 2 seconds:</p>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <h2>Gazette Notice for Declaration of Basin Areas Order</h2>
  <img src="/static/userImageUpload/WIN_20220427_20_14_08_Pro.jpg" style="width:100%" height="300">
  <p>Sep 7, 2021 | Public Notices IN EXERCISE of the powers conferred by Section 24 of the Water Act, 2016, the Authority, following consultation with the Cabinet Secretary, hereby designates the following areas as Basin Areas for purposes of the Act: -</p>
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <h2>Water Resources Authority Conservation Efforts towards Protecting Ondiri Swamp</h2>
  <img src="/static/userImageUpload/WIN_20220503_18_39_05_Pro.jpg" style="width:100%" height="300">
  <p>Jul 14, 2020 | Corporate Affairs The Water Resources Authority Chairman Hon. Joe Mutambu accompanied by WRA CEO Mr. Mohamed Shurie visited Ondiri Swamp in Kikuyu, Kiambu County with the purpose of planting 7000 trees along its banks. While addressing members of the public Hon Joe Mutambu emphasized...</p>
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <h2>WRA Defines the Riparian</h2>
  <img src="/static/userImageUpload/WIN_20220503_18_39_05_Pro.jpg" style="width:100%" height="300">
  <p>2022-05-14

    In August 2018 WRA was featured in the Chamwada Report to define the Riparian. The interview featured the Nairobi Sub-region Assistant Technical Coordination Manager (ATCM) Mr. John Munyau. Follow this link to watch the documentary courtesy of Chams Media and KTN News.</p>
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 4000); // Change image every 2 seconds
}
</script>
{% endblock %}
 
