{% extends "frontend/layout/base_other.html" %} 

{% block myotherstyle %}

<div class="image"></div>
<div class="gradient"></div>
<section class="blank">
  <h1>WRA Tenders</h1>
  
  <h2>Archives</h2>
</section>

<section class="horizontal">
  
  <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Title
            </th>
            <th class="th-sm">Category
            </th>
            <th class="th-sm">Upload Date
            </th>
            <th class="th-sm">Download
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fa-solid fa-file-pdf"></i>Plan Water Supply Sanitation Performance Report 2015</td>
            <td>Performance Report</td>
            <td>2015</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Plan Water Supply Sanitation Performance Report 2015</td>
            <td>Performance Report</td>
            <td>2015</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Plan Water Supply Sanitation Performance Report 2015</td>
            <td>Performance Report</td>
            <td>2015</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Plan Water Supply Sanitation Performance Report 2015</td>
            <td>Performance Report</td>
            <td>2015</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Plan Water Supply Sanitation Performance Report 2015</td>
            <td>Performance Report</td>
            <td>2015</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Plan Water Supply Sanitation Performance Report 2015</td>
            <td>Performance Report</td>
            <td>2015</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Plan Water Supply Sanitation Performance Report 2015</td>
            <td>Performance Report</td>
            <td>2015</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>...............</td>
            <td>Annual Report</td>
            <td>....</td>
            <td>
                <div class="container">
                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>.............</td>
            <td>Water Situation Report</td>
            <td>....</td>
            <td>
                <div class="container">

                    <div class="button">
                        <a href="#">Download</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>

</table>

   
</section>
<style>

    .content {
        position: relative;
        min-width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: repeat-y;
        margin-top: 0;
        z-index: 1;
    
    }
</style>
    
    {% include 'frontend/layout/footertwo.html' %}


{% endblock %} {% block myotherjs %}
<script></script>
{% endblock %}

<!--Start of Tawk.to Script-->