{% extends "frontend/layout/base_other.html" %} {% block myotherstyle %}

<style>

</style>

{% endblock %} {% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    h1 {
        font-size: 2.5rem;
        font-family: 'Montserrat';
        font-weight: normal;
        color: #444;
        text-align: center;
        margin: 2rem 0;
    }
    
    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 80rem;
    }
    
    .cols {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .col {
        width: calc(25% - 2rem);
        margin: 1rem;
        cursor: pointer;
    }
    
    .container {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        width: 21em;
        margin-bottom: 3em;
    }
    
    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-position: center;
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
    }
    
    .back {
        background: #cedce7;
        background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }
    /* .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
    } */
    
    .container:hover .front,
    .container:hover .back {
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }
    
    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .inner {
        -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 16px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 1px solid transparent;
        -webkit-perspective: inherit;
        perspective: inherit;
        z-index: 2;
    }
    
    .container .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .container .front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .container:hover .back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .container:hover .front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .front .inner p {
        font-size: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }
    
    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }
    
    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
    }
    
    @media screen and (max-width: 64rem) {
        .col {
            width: calc(33.333333% - 2rem);
        }
    }
    
    @media screen and (max-width: 48rem) {
        .col {
            width: calc(50% - 2rem);
        }
    }
    
    @media screen and (max-width: 32rem) {
        .col {
            width: 100%;
            margin: 0 0 2rem 0;
        }
    }
    
    .page-404__content--privacy p {
        margin-bottom: 0px;
        text-align: center;
    }
    /* with background */
    /* .image {

        z-index: -1;
        background-image: url('https://images.unsplash.com/photo-1592623352801-6c507aaf7987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
    } */
    /* without background */
    
    section {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .maind {
        margin-top: 10em;
    }
    
    h1 {
        margin: 0;
        text-align: center;
        font-size: 3em;
        font-weight: 50px;
        color: black;
        margin-top: 3em;
        font-style: bold;
    }
</style>

<style>
    .modal-dialog {
        max-width: 70%;
        margin: 1.75rem auto;
    }
    
    button.btn.btn-primary {
        margin-top: 35%;
    }
    
    .btn {
        margin-top: 35%;
    }
    
    footer {
        position: absolute !important;
        width: 100% !important;
        margin-top: 2%;
    }
</style>

<style>
    .site-footer {
        background-color: rgb(0, 149, 218);
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: white;
    }
    
    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }
    
    .site-footer hr.small {
        margin: 20px 0
    }
    
    .site-footer h6 {
        color: #33353d;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }
    
    .site-footer a {
        color: white;
    }
    
    .site-footer a:hover {
        color: #3366cc;
        text-decoration: none;
    }
    
    .footer-links {
        padding-left: 0;
        list-style: none
    }
    
    .footer-links li {
        display: block
    }
    
    .footer-links a:active,
    .footer-links a:focus,
    .footer-links a:hover {
        color: #3366cc;
        text-decoration: none;
    }
    
    .footer-links.inline li {
        display: inline-block
    }
    
    .site-footer .social-icons {
        text-align: right
    }
    
    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }
    
    .copyright-text {
        margin: 0
    }
    
    @media (max-width:991px) {
        .site-footer [class^=col-] {
            margin-bottom: 30px
        }
    }
    
    @media (max-width:767px) {
        .site-footer {
            padding-bottom: 0
        }
        .site-footer .copyright-text,
        .site-footer .social-icons {
            text-align: center
        }
    }
    
    .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }
    
    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }
    
    .social-icons li.title {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px
    }
    
    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }
    
    .social-icons a:active,
    .social-icons a:focus,
    .social-icons a:hover {
        color: #fff;
        background-color: #29aafe
    }
    
    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }
    
    .social-icons a.facebook:hover {
        background-color: #3b5998
    }
    
    .social-icons a.twitter:hover {
        background-color: #00aced
    }
    
    .social-icons a.linkedin:hover {
        background-color: #007bb6
    }
    
    .social-icons a.dribbble:hover {
        background-color: #ea4c89
    }
    
    @media (max-width:767px) {
        .social-icons li.title {
            display: block;
            margin-right: 0;
            font-weight: 600
        }
    }
    /* footer new config */
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .col-sm-12.col-md-6 {
        max-width: 30em;
    }
    
    .col-xs-6.col-md-3 {
        margin-left: 5em;
    }
</style>

<style>
    #top #wrap_all .header_color.av_header_transparency,
    #top #wrap_all .header_color.av_header_transparency .phone-info.with_nav span,
    #top #header.header_color.av_header_transparency .av-main-nav>li>a .avia-menu-text,
    #top #header.header_color.av_header_transparency .av-main-nav>li>a .avia-menu-subtext {
        color: #ffffff;
        font-size: 21px;
    }
    
    #top #wrap_all .all_colors h1 {
        font-size: 45px;
        font-weight: 900;
        text-transform: none;
        font-family: fantasy;
    }
    
    .html_header_top.html_header_sticky.html_large #header_main .container,
    .html_header_top.html_header_sticky.html_large.html_main_nav_header .main_menu ul:first-child>li a {
        height: 152px;
        line-height: 116px;
        font-size: 21px;
    }
    
    .iconlist_icon.avia-font-entypo-fontello {
        background-color: rgb(0, 149, 218);
    }
</style>

<!--Boostrap links-->
<!-- Libs CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
</script>
<script src="../../assets/libs/jquery-3.5.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--End bootsrap links-->

<div class="maind">
    <section>
        <h1 class="page-404__heading">What We Do</h1>
        <div class="page-404__text container">
        </div>
    </section>

    <div class="wrapper">
        <!-- <h1>Parallax Flipping Cards</h1> -->

        <div class="row">

            {% for item in items %}


            <div class="col-md-4 col-sm-12" ontouchstart="this.classList.toggle('hover');">

                <div class="container">
                    <!--SHOULD BE cover_image NOT body_image-->
                    <div class="front" style="position: relative;">
                        <img style="width: 100%; position: absolute; left: 0; height: 100%; border-radius: 10px;" src="../../{{item.cover_image}}">
                        <div class="inner">
                            <p>{{ item.cover_page_title }} </p>


                        </div>
                    </div>
                    <div class="back">



                        <a class="btn btn-primary" href="/what-we-do/{{item.item_route_name}}">
                                    Read More...
                                </a>

                    </div>
                </div>

            </div>

            {% endfor %}
        </div>


    </div>
    </p>


</div>
<!-- #content -->




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %} {% block myotherjs %}
<script>
</script>
{% endblock %}