 
  <!-- footer begin -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <div id="av_section_4"
  class="avia-section main_color avia-section-small avia-no-border-styling avia-bg-style-scroll avia-builder-el-36 el_after_av_image_hotspot el_before_av_section container_wrap fullsize"
  style="
  background-color: green !important;
  text-align: center;
  position: absolute;
  width: 100%;
  
  " data-darkreader-inline-bgcolor="">
  <div class="container">
      <div class="template-page content av-content-full alpha units av-enable-shadow">
          <div class="post-entry post-entry-type-page post-entry-2890">
              <div class="entry-content-wrapper clearfix">
                  <div style="
                          padding-bottom: 1em;
                          color: rgb(255, 255, 255);
                          font-size: 45px;
                          --darkreader-inline-color: #dcdbd8;
                          " class="av-special-heading av-special-heading-h1 custom-color-heading blockquote modern-quote modern-centered avia-builder-el-37 avia-builder-el-no-sibling av-inherit-size"
                      data-darkreader-inline-color="">
                      <h1 style="    font-size: 45px;
                      font-weight: 900;
                      text-transform: none;
                      padding-top: .5em;
                      margin: 0;
                      font-family: sans-serif;" class="av-special-heading-tag" itemprop="headline">
                          Water Resources Authority
  
                      </h1>
                      <div class="av-subheading av-subheading_below av_custom_color"
                          style="font-size: 15px">
                          <p style="margin: 0;">
                              To effectively regulate the management of water resources in partnership
                              with stakeholders
                          </p>
                          <div class="link-flex" style="  margin-top: 2.5em !important;">
                              <a style="
                               padding: 1em;
                               margin-right: 1em;
                              border: white 1px solid !important;
                              border-radius: .5em;
                              color: white;
                              text-decoration: none !important;" href="/about-us">About Us</a>
                              <a style="
                               padding: 1em;
                               margin-right: 1em;
                              border: white 1px solid !important;
                              border-radius: .5em;
                              color: white;
                              text-decoration: none !important;" href="/contact-us">Contact Us</a>
                              <a style="
                               padding: 1em;
                               margin-right: 1em;
                               color: white;
                              border: white 1px solid !important;
                              border-radius: .5em;
                              text-decoration: none !important;" href="/tenders">Tenders</a>
                          </div>
                          <!-- <div class="" style="display: flex; justify-content: center; margin-top: 1em; padding: 2em;">
                              <i class="fa-brands mycons fa-facebook"></i>
                              <i class="fa-brands fa-youtube mycons"></i>
                              <i class="fa-brands fa-twitter mycons"></i>
                          </div> -->
                      </div>
                      <!-- <div style=""><a href="">Report Corruption Here</a></div> -->
                      <style>
                      .mycons{
                          margin-left: 2em;
                          align-items: center;
                          font-size: 2em;
                          
                   
                      }
                   
                          .link-flex a:hover{
                              background-color: #0075c7;
                              border: none !important;
                              transition:  1s ease;
                          }
                      </style>
                      
                      <div class="special-heading-border">
                          <div class="special-heading-inner-border" style="
        border-color: rgb(255, 255, 255);
        --darkreader-inline-border-top: #2e3133;
        --darkreader-inline-border-right: #2e3133;
        --darkreader-inline-border-bottom: #2e3133;
        --darkreader-inline-border-left: #2e3133;
      " data-darkreader-inline-border-top="" data-darkreader-inline-border-right=""
                              data-darkreader-inline-border-bottom=""
                              data-darkreader-inline-border-left="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- close content main div -->
  </div>
  </div>
  <!-- footer end -->