<!-- My Footer-->
<div class="container_wrap footer_color" id="footer">
	<div class="container">
		<div class="flex_column av_one_fourth first el_before_av_one_fourth">
			<section id="media_image-2" class="widget clearfix widget_media_image">
				<img src="/static/wp-content/themes/Jazak/assets/images/wra-logo.png"
					style="max-width: 70%; height: auto"
					class="avia-img-lazy-loading-3420 image wp-image-3420 attachment-full size-full" alt=""
					loading="lazy" style="max-width: 100%; height: auto" /><span
					class="seperator extralight-border"></span>
			</section>
		</div>
		<div class="flex_column av_one_fourth el_after_av_one_fourth el_before_av_one_fourth">
			<section id="text-2" class="widget clearfix widget_text">
				<h3 style="color: #00b8e6">Headquarters</h3>
				<div class="textwidget">
					<a href="https://goo.gl/maps/Hm97zNrCtS5bdosb6" target="_blank">
					<p>
						<strong><span style="color: #00b8e6">Address</span></strong><br />
						NHIF Building, Wing B, 9th Floor
					</p>
				</a>
					<p>
						<strong><span style="color: #00b8e6">Phone Number</span></strong><br />
						<a href="tel:0202732291">0202732291</a>
					</p>
					<p>
						<strong><span style="color: #00b8e6">Email</span></strong><br />
						<a href="/contact-us">General Inquiries</a>
					</p>
				</div>
				<span class="seperator extralight-border"></span>
			</section>
		</div>
		<div class="flex_column av_one_fourth el_after_av_one_fourth el_before_av_one_fourth">
			<section id="text-4" class="widget clearfix widget_text">
				<h3 style="color: #00b8e6">Quick Links</h3>
				<div class="textwidget">
					<p>
						<a href="/about-us">About WRA</a><br />
						<a href="/what-we-do">What we do</a><br />
						<a href="/projects">Projects and Partnerships</a><br />
						<a href="/wra-news">News</a><br />
						<a href="/careers" target="_blank" rel="noopener">Careers</a><br />
						<a href="/tenders">Tenders</a><br />
						<a href="/service-charter">Service Charter</a><br />
					</p>
				</div>
				<span class="seperator extralight-border"></span>
			</section>
		</div>
		<div class="flex_column av_one_fourth el_after_av_one_fourth el_before_av_one_fourth">
			<section id="text-3" class="widget clearfix widget_text">
				<h3 style="color: #00b8e6">Additional Info</h3>
				<div class="textwidget">
					<p>
						<strong><span style="color: #00b8e6">Our Locations</span></strong><br />
						<a href="/regional-offices">View our locations</a>
					</p>
				</div>
				<span class="seperator extralight-border"></span>
			</section>
			<section id="custom_html-3" class="widget_text widget clearfix widget_custom_html">
				<h3 style="color: #00b8e6">Follow Us</h3>
				<div class="textwidget custom-html-widget">
					<a href="https://www.facebook.com/profile.php?id=100069277656824" target="_blank"
						rel="noopener">
						<img
							src="https://vibrahealthcare.com/wp-content/uploads/2020/04/Facebook-e1588000810353.png"
							width="35" height="35" alt="”facebook”" />
						</a>
					<a href="https://twitter.com/wra_ken" target="_blank" rel="noopener">
						<img
							src="https://vibrahealthcare.com/wp-content/uploads/2020/04/Twitter-e1588000976638.png"
							width="35" height="35" alt="”twitter”" />
						</a>
					<a href="https://www.youtube.com/channel/UC8l05WDkeTu3kepsJUmfdrg" target="_blank"
						rel="noopener"><img
							src="https://vibrahealthcare.com/wp-content/uploads/2020/04/YouTube-e1588001067850.png"
							width="35" height="35" alt="”youtube”" /></a>
					<a href="https://www.linkedin.com/company/" target="_blank" rel="noopener"><img
							src="https://vibrahealthcare.com/wp-content/uploads/2020/04/LinkedIn-e1588001132679.png"
							width="35" height="35" alt="”linkedin”" /></a>
					<a href="https://www.instagram.com/" target="_blank" rel="noopener"><img
							src="https://vibrahealthcare.com/wp-content/uploads/2020/04/Instagram-1-e1588005536918.png"
							width="35" height="35" alt="”instagram”" /></a>
				</div>
				<span class="seperator extralight-border"></span>
			</section>
		</div>
	</div>

	<!-- ####### END FOOTER CONTAINER ####### -->
</div>

<footer class="container_wrap socket_color" id="socket" role="contentinfo" itemscope="itemscope"
	itemtype="https://schema.org/WPFooter">
	<div class="container">
		<span class="copyright" style="margin-left: 20px;">© Copyright | Water Resources Authority -
			<a href="https://wra.go.ke">Kenya</a></span>

		<ul class="noLightbox social_bookmarks icon_count_6">
			<div style="margin-right: 70px; margin-top: 10px;"><a href="/report-corruption">Report Corruption Here</a></div>
			<!-- <li class="social_bookmarks_facebook av-social-link-facebook social_icon_1">
				<a target="_blank" aria-label="Link to Facebook" href="https://www.facebook.com/" aria-hidden="false"
					data-av_icon="" data-av_iconfont="entypo-fontello" title="Facebook" rel="noopener"><span
						class="avia_hidden_link_text">Facebook</span></a>
			</li>
			<li class="social_bookmarks_twitter av-social-link-twitter social_icon_2">
				<a target="_blank" aria-label="Link to Twitter" href="https://twitter.com/" aria-hidden="false"
					data-av_icon="" data-av_iconfont="entypo-fontello" title="Twitter" rel="noopener"><span
						class="avia_hidden_link_text">Twitter</span></a>
			</li>
			<li class="social_bookmarks_youtube av-social-link-youtube social_icon_3">
				<a target="_blank" aria-label="Link to Youtube" href="https://www.youtube.com/" aria-hidden="false"
					data-av_icon="" data-av_iconfont="entypo-fontello" title="Youtube" rel="noopener"><span
						class="avia_hidden_link_text">Youtube</span></a>
			</li>
			<li class="social_bookmarks_linkedin av-social-link-linkedin social_icon_4">
				<a target="_blank" aria-label="Link to LinkedIn" href="https://www.linkedin.com/" aria-hidden="false"
					data-av_icon="" data-av_iconfont="entypo-fontello" title="LinkedIn" rel="noopener"><span
						class="avia_hidden_link_text">LinkedIn</span></a>
			</li>
			<li class="social_bookmarks_instagram av-social-link-instagram social_icon_5">
				<a target="_blank" aria-label="Link to Instagram" href="https://www.instagram.com/" aria-hidden="false"
					data-av_icon="" data-av_iconfont="entypo-fontello" title="Instagram" rel="noopener"><span
						class="avia_hidden_link_text">Instagram</span></a>
			</li> -->
		</ul>
	</div>

	<!-- ####### END SOCKET CONTAINER ####### -->
</footer>
<!--End my footer-->