<style>

:root{
  --spinner-size: 150px; /* change the size of the spinner */
  --loading-screen-background: #1C1C1C; /* change the background color of the loading screen */
  --font-family: 'Red Hat Display', sans-serif; /* change the font used for the bottom text of the loading screen */
  --text-color: white; /* change the color used for the bottom text of the loading screen */
}
.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-screen{
  background-color: var(--loading-screen-background, #1C1C1C);
  
  opacity: .85;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index: 500;
  cursor: none;
}
.spinner {
  width: var(--spinner-size, 64px) !important;
  height: var(--spinner-size, 64px) !important;
  background: linear-gradient(180deg, #0f6fff 0%, rgba(0, 0, 0, 0.1) 25%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 2s cubic-bezier(.52,.1,.27,.87) infinite;
  position: relative;
}
.spinner::after {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: var(--loading-screen-background, #1C1C1C);
  z-index: 01;
}
.spinner-container img{
  height: calc(var(--spinner-size, 64px) / 100 * 75);
  width: calc(var(--spinner-size, 64px) / 100 * 75);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  z-index: 02;
	object-position: center;
}
.loading-screen p{
  font-family: var(--font-family, sans-serif);
  color: var(--text-color, white);
  opacity: .5;
  font-weight: 300;
  
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
</style>

<div class="loading-screen" id="loading-screen">
    <div class="spinner-container">
      <img src="/static/Droplet-Circle-Loader.gif"/>
      <div class="spinner"></div>
    </div>
    <!-- <span id="counter" style="font-size: 23px; font-weight: 600; color: white;"></span> -->
    <!-- <div style="color: white; font-weight: 500; font-size: 19px;">WRA WEBSITE LOADING...</div> -->
  </div>
  
  <script>
    function closeLoadingScreen(loadingScreen) {
        loadingScreen.style.transitionDuration = ".5s";
        loadingScreen.style.transitionTimingFunction = "cubic-bezier(0,.75,.25,1)";
        loadingScreen.style.opacity = 0;
        loadingScreen.style.borderRadius = "40px";
        loadingScreen.style.transform = "scale(0.75)";
        loadingScreen.style.cursor = "initial";
        setTimeout(() => {
            loadingScreen.parentNode.removeChild(loadingScreen);
        }, 500)
        }
        document.body.onload = ()=>{
        lscreen = document.getElementById("loading-screen");
        // load any data and call the function "closeLoadingScreen(lscreen)"
        setTimeout(()=>{closeLoadingScreen(lscreen)}, 2000); 
        }
        $(document).ready(function(){
          setTimeout(function(){
               console.log("close two");
          },2000);
        });
  </script>
<script>
 $(window).load(function() {
   alert("Now Loaders");
    $('#loading-screen').hide();
  });
</script>
  

