<!-- Loader start-->
<style>
    .page__loaders {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .page__loaders svg {
        height: 282px;
        z-index: 10001;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -55%);
    }

    .page__loaders svg #rect4487 {
        fill: #007dc5;
    }

    .page__loaders .loaders {
        height: 135px;
        width: 131px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        border-radius: 50%;
        /* border: none !important; */
    }

    .page__loaders .waters {
        background: rgb(0,149,218);
        position: relative;
        top: 50%;
        height: 200%;
        width: 200%;
        z-index: 1000;
        border-radius: 38%;
        left: -50%;
        transform: rotate(360deg);
        transition: all 1s ease;
        animation: wave 5s linear infinite, movetop 10s linear forwards;
    }

    @keyframes movetop {
        0% {
            top: 60%;
        }

        100% {
            top: 10px;
        }
    }

    @keyframes wave {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="page__loaders">
    <svg viewbox="0 0 30 42" width="150px" height="150px">
        <path fill="transparent"
            d="m 13.552735,2.0426703 q 1.5,3.7999997 10,14.9999997 a 12.8,12.8 0 1 1 -20.0000007,0 Q 12.052736,5.84267 13.552735,2.0426703 Z"
            id="path2" style="stroke:white;stroke-width:1.0" />
    </svg>

    <div class="loaders"><div class="waters"></div></div>
</div>

<script>
    $(".page__loaders").show().delay(3000).fadeOut();
</script>

<!-- End loader-->