<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    /* // Navigation Variables */
    
    .navigation {
        /* height: 96px; */
        /* background: rgba(255, 255, 255); */
        /* opacity: .5; */
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
        font-size: 12px;
        max-height: 12em;

        height: 100%;
        transition: 1s ease;
    }

    
    .brand {
        position: absolute;
        padding-left: 20px;
        /* float: left;
		line-height: 70px;
		text-transform: uppercase;
		font-size: 1.4em; */
        left: 3em;
    }
    
    .brand a,
    .brand a:visited {
        color: black;
        text-decoration: none;
    }
    
    .nav-container {
        max-width: 80%;
        margin: 0 auto;
    }
    
    nav {
        float: right;
        margin-top: 2.5em;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        float: left;
        position: relative;
        font-size: 21px;
    }
    
    nav ul li a {
        display: block;
        padding: 0em 13px;
        line-height: 70px;
        /* background: rgba(255,255,255,.05); */
        /* color: black; */
        color: white;
        font-size: 15px;
        text-decoration: none;
        /* font-weight: 650; */
        font-weight: 550;
    }
    
    nav ul li a:hover,
    nav ul li a:visited:hover {
        border-bottom: 3px rgb(0, 149, 218) solid;
        transform: scale(105%);
        text-decoration: none;
        /* color: black; */
    }
    
    nav ul li a:not(:only-child):after,
    nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
    }
    
    nav ul li ul li {
        min-width: 190px;
    }
    
    nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
    }
    
    .nav-dropdown {
        position: absolute;
        display: none;
        background: rgba(10, 7, 7, 0.7);
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
    /* Mobile navigation */
    
    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        /* background: ; */
        height: 100%;
        width: 4em;
    }
    
    @media only screen and (max-width: 1200px) {
   
        .menu__logo {
            max-width: 100px;
            /* opacity: 0; */
            /* transform: translateY(1.04167vw); */
            /* position: absolute; */
          
            margin-top: 29px;
            height: 9em;
        }
        .nav-mobile {
            display: block;
            margin-right: 5em;
        }
        nav {
            width: 100%;
            padding: 7.5em 0 15px;
        }
        nav ul {
            display: none;
        }
        nav ul li {
            float: none;
        }
        nav ul li a {
            padding: 15px;
            line-height: 20px;
        }
        nav ul li ul li a {
            padding-left: 30px;
        }
        .nav-dropdown {
            position: static;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .menu__logo {
            max-width: 100px;
            /* opacity: 0; */
            /* transform: translateY(1.04167vw); */
            /* position: absolute; */
          
            margin-top: 29px;
            height: 9em;
        }
        .nav-list {
            display: block !important;
        }
    }
    
    #nav-toggle {
        position: absolute;
        /* left: 18px; */
        /* top: 22px; */
        cursor: pointer;
        /* padding: 10px 35px 16px 0px; */
        margin: auto;
        left: 25%;
        top: 45%;
    }
    
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: green;
        position: absolute;
        display: block;
        content: '';
        color: white;
        transition: all 300ms ease-in-out;
    }
    
    #nav-toggle span:before {
        top: -10px;
    }
    
    #nav-toggle span:after {
        bottom: -10px;
    }
    
    #nav-toggle.active span {
        background-color: transparent;
    }
    
    #nav-toggle.active span:before,
    #nav-toggle.active span:after {
        top: 0;
    }
    
    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }
    
    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }
    
    ul.nav-list {
        background: rgba(255, 255, 255, .8);
    }
    
    .front .inner p {
        font-size: 22px !important;
        margin-bottom: 2rem !important;
        position: relative !important;
        border-radius: 13px !important;
        background: rgb(50, 205, 50, .6) !important;
    }
    
    .img-fluid {
        max-width: 100% !important;
        min-height: 12em !important;
    }
    
  
</style>
<script>
    (function($) { // Begin jQuery
        $(function() { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function(e) {
                $(this).siblings('.nav-dropdown').toggle();
                // Close one dropdown when selecting another
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function() {
                $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function() {
                $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function() {
                this.classList.toggle('active');
            });
        }); // end DOM ready
    })(jQuery); // end jQuery
</script>

<script>
    $(document).ready(function() {


            if (window.screen.width < 1201)
            {
                        $("nav ul li a").css("color", "black");
                        $(".nav-dropdown").css("background-color", "white");
            }
            else
            {

                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();

                    if (window.screen.width < 1201)
                    {
                        $("nav ul li a").css("color", "rgb(0, 149, 218)");
                        $(".nav-dropdown").css("background-color", "white");
                    }
                    else
                    {
                        if (scroll < 300)
                        {
                            $(".navigation").css("background-color", "rgba(0,0,0,0)");
                            $("nav ul li a").css("color", "white");
                            $(".nav-dropdown").css("background", "black");
                        } 
                        else 
                        {
                            $(".navigation").css("background-color", "white");
                            $(".nav-dropdown").css("background", "white");
                            $("nav ul li a").css("color", "rgb(0, 149, 218)");
                            $("nav ul li a:visited").css("color", "white")
                            $("nav ul li a").css("background-color", "rgba(0,0,0,0)");
                        }
                    }
                 });

            }

            $(".avia-slideshow-inner").css("visibility", "none");
            $(".avia-slide-wrap").css("visibility", "visible");

          
    });
</script>

<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="/">
                <img class="menu__logo | js-menu-logo image_resize" src="../../static/wp-content/themes/Jazak/assets/images/wra-logo.png" alt="WRA logo">
            </a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="/">Home </a>
                </li>

                <!-- <li>
                    <a href="/home-two">Home 2</a>
                </li> -->

                <li>
                    <a href="#!">About</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/board-members">Board Members</a>
                        </li>

                        <!-- <li>
                            <a href="/top-management">Senior Management</a>
                        </li> -->

                        <li>
                            <a href="/regional-offices">Basin Areas</a>
                        </li>
                        <!-- <li>
								<a href="/top-management">Senior management</a>
							</li> -->
                        <!-- <li>
								<a href="/regional-offices">Basin Areas</a>
							</li> -->
                    </ul>
                </li>

                <li>
                    <a href="/what-we-do">What we do</a>
                </li>

                <li>
                    <a href="/projects">Projects and Patnerships</a>
                </li>

                <li>
                    <a href="#!">Information center</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="/wra-news">WRA News</a>
                        </li>
                        <li>
                            <a href="/publications">Publications</a>
                        </li>

                        <li>
                            <a href="/tenders">Tenders</a>
                        </li>
                        <li>
                            <a href="/careers">Careers</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://forms.gle/6ZTjoCcyWsu69KJg8">Feedback</a>
                        </li>
                        <li>
                            <a href="/service-charter">Service Charter</a>
                        </li>
                        <li>
                            <a href="/licenses">Licenses</a>
                        </li>
                        <li>
                            <a href="/innovations">Innovations</a>
                        </li>

                    </ul>
                </li>
                <!-- <li>
		<a href="#!">Pricing</a>
		</li> -->
                <li>
                    <a href="#!">Media center</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="/videos">Videos</a>
                        </li>
                        <!-- <li>
			<a href="#!">Web Development</a>
			</li> -->
                        <li>
                            <a href="/media">Photo gallery</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contact-us">Contact us</a>
                </li>
            </ul>
        </nav>
    </div>
</section>