<style>
    #pop-up {
        width: 414px;
        height: auto;
        margin: 0 auto;
        background: #c9d6de;
        padding: 20px 25px;
        box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 1);
        position: relative;
        top: -210px;
        transition: top 2s;
    }

    #pop-up h2 {
        text-transform: uppercase;
        font-size: 1.75rem;
        margin-top: 0;
        text-align: center;
        letter-spacing: 0.25rem;
    }

    #pop-up p {
        font-size: 1.125rem;
        padding: 0 50px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 2rem;
    }

    #pop-up input[type="email"] {
        width: 100%;
        padding: 5px;
        color: #c9d6de;
        border: 0;
        letter-spacing: 1px;
    }

    #pop-up input[type="email"]::placeholder {
        color: #c9d6de;
    }

    #pop-up button {
        background: transparent;
        border: 0;
        color: #52616a;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.175rem;
        width: 75px;
        height: 20px;
        margin: 20px auto 0;
        display: block;
    }

    #pop-up.active {
        top: 0px;
        transition: top 2s;
    }
</style>

<div id="pop-up">
	<h2>for news and special offers</h2>
	<p>Sign up for our newsletter and <b>save 10% off</b> your next purchase. We promise to keep it interesting.</p>
	<form  method="post" action="" accept-charset="UTF-8">
		<input type="email" placeholder="Enter your email address">
	</form>
	<button id="destroy">Cancel</button>
</div>

<script>
    window.setTimeout(function() {
	
	var ad = document.getElementById("pop-up");
	var h = ad.offsetHeight;
	var exit = document.getElementById("destroy");
	
	ad.className += " active";
	
	exit.onclick = function(event) {
		ad.className = "";
	}
}, 1000);

</script>