<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.js"></script>

<script>
    /**********************/
    /*	Client carousel   */
    /**********************/
    setTimeout(function () {
        $('.carousel-client').bxSlider({
            auto: true,
            // slideWidth: 234,
            minSlides: 3,
            maxSlides: 11,
            controls: false
        });

    }, 500); 
</script>

<style>
    .carousel-client {
        display: flex;
        flex-wrap: wrap;
        /* flex-grow: 5; */
        justify-content: center;
    }

    .slider-container {
        background: #eee;
    }

    .slide {
        /* background-color: blue; */
        /* border: 1px solid white; */
        max-width: 30em;
        /* margin-right: 2em; */
    }

    .slide img {
        max-width: 20em;
    }
</style>


<div class="slider-container">
    <div class="section-title" style="text-align: center">
        <h2 style="font-weight: 700; font-size: 36px; margin-bottom: 1em; margin-top: 15px;text-decoration: underline;">
            <u>Our Partners</u></h2>
    </div>

    <div class="carousel-client" >
        {%for icon in icons%}
         <div class="slide" onclick="location.href='{{icon.link}}';" style="cursor: pointer;"> <a href="{{icon.link}}"><img src="../../{{icon.file_url}}"></a> 
        </div>
       
       {%endfor%}
    </div>

</div>