 
    <style>
        .container {
  max-width: 100vw;
  margin: 30px auto;
}

.box {
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

/* tab list 會動的底線 */
.tab-list::before {
  content: '';
  display: block;
  height: 2px;
  width: 33.333%;
  position: absolute;
  bottom: 0;
  background-color: #aaa;
  transition: .3s;
}

.tab-item {
  flex: 1;
  text-align: center;
  transition: .3s;
  opacity: 0.5;
}

.tab-toggle {
  display: none;
}

.tab-content {
  display: none;
}

.tab-toggle:nth-child(1):checked ~ .tab-list .tab-item:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-list .tab-item:nth-child(2), 
.tab-toggle:nth-child(3):checked ~ .tab-list .tab-item:nth-child(3) {
  opacity: 1;
}

/* tab bar 底線位移控制 */
.tab-toggle:nth-child(2):checked ~ .tab-list::before {
  transform: translateX(100%);
}

.tab-toggle:nth-child(3):checked ~ .tab-list::before {
  transform: translateX(200%);
}

/* 內容顯示控制 */
.tab-toggle:nth-child(1):checked ~ .tab-container .tab-content:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-container .tab-content:nth-child(2),
.tab-toggle:nth-child(3):checked ~ .tab-container .tab-content:nth-child(3) {
  display: block;
}

.tab-trigger {
  display: block;
  padding: 10px 0;
}

.tab-container {
  padding: 15px 30px;
}
    </style>
    <div class="container">
        <div class="box">
          <input type="radio" class="tab-toggle" name="tab-toggle" id="tab1" checked>
          <input type="radio" class="tab-toggle" name="tab-toggle" id="tab2">
          <input type="radio" class="tab-toggle" name="tab-toggle" id="tab3">
      
          <ul class="tab-list">
            <li class="tab-item">
              <label class="tab-trigger" for="tab1">English Version</label>
            </li>
            <li class="tab-item">
              <label class="tab-trigger" for="tab2">Kiswahili Version</label>
            </li>
     
          </ul>
          
          <div class="tab-container">
            <div class="tab-content">
                <iframe 
                src="../../../{{item.english_pdf}}"
              
                height="1000"
                frameborder="none"
                style='border:0; width: 100%;'
            ></iframe>

            </div>
            <div class="tab-content">            <iframe
                src="../../../{{item.kiswahili_pdf}}"
              
                height="1000"
                frameborder="none"
                style='border:0; width: 100%;'
            ></iframe></div>
  
          </div>
        </div>
      </div>
 