<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/6203893b9bd1f31184dbb310/1fret04ir";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<!-- Userway Disability-->

<script>
    (function (d) {
        var s = d.createElement("script");
        s.setAttribute("data-account", "eyVQHyevY7");
        s.setAttribute("src", "https://cdn.userway.org/widget.js");
        (d.body || d.head).appendChild(s);
    })(document);
</script>
<noscript>
    Please ensure Javascript is enabled for purposes of
    <a href="https://userway.org">website accessibility</a>
</noscript>

<!--End userway disability-->

<!--Back to top -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">

<!-- Back to top button -->
<div id="button"></div>

<style>
    #button {
        display: inline-block;
        /* background-color: #5fba46; */
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 53px;
        right: -1px;
        transition: background-color .3s,  opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }

    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #0095da;
    }

    #button:hover {
        cursor: pointer;
        background-color: #555;
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

    /* Styles for the content section */


    @media (min-width: 500px) {

        #button {
            margin: 30px;
        }
    }
</style>

<script>
    var btn = $('#button');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, '300');
    });

</script>

<!-- End back to top-->