/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */ /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.pt-cv-wrapper article,
.pt-cv-wrapper aside,
.pt-cv-wrapper details,
.pt-cv-wrapper figcaption,
 
.pt-cv-wrapper header,
.pt-cv-wrapper hgroup,
.pt-cv-wrapper main,
.pt-cv-wrapper menu,
.pt-cv-wrapper nav,
.pt-cv-wrapper section,
.pt-cv-wrapper summary {
  display: block;
}
.pt-cv-wrapper audio,
.pt-cv-wrapper canvas,
.pt-cv-wrapper progress,
.pt-cv-wrapper video {
  display: inline-block;
  vertical-align: baseline;
}
.pt-cv-wrapper audio:not([controls]) {
  display: none;
  height: 0;
}
.pt-cv-wrapper [hidden],
.pt-cv-wrapper template {
  display: none;
}
.pt-cv-wrapper a {
  background-color: transparent;
}
.pt-cv-wrapper a:active,
.pt-cv-wrapper a:hover {
  outline: 0;
}
.pt-cv-wrapper abbr[title] {
  border-bottom: 1px dotted;
}
.pt-cv-wrapper b,
.pt-cv-wrapper strong {
  font-weight: 700;
}
.pt-cv-wrapper dfn {
  font-style: italic;
}
.pt-cv-wrapper h1 {
  margin: 0.67em 0;
}
.pt-cv-wrapper mark {
  background: #ff0;
  color: #000;
}
.pt-cv-wrapper small {
  font-size: 80%;
}
.pt-cv-wrapper sub,
.pt-cv-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.pt-cv-wrapper sup {
  top: -0.5em;
}
.pt-cv-wrapper sub {
  bottom: -0.25em;
}
.pt-cv-wrapper img {
  border: 0;
}
.pt-cv-wrapper svg:not(:root) {
  overflow: hidden;
}
.pt-cv-wrapper hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.pt-cv-wrapper pre {
  overflow: auto;
}
.pt-cv-wrapper code,
.pt-cv-wrapper kbd,
.pt-cv-wrapper pre,
.pt-cv-wrapper samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.pt-cv-wrapper button,
.pt-cv-wrapper input,
.pt-cv-wrapper optgroup,
.pt-cv-wrapper select,
.pt-cv-wrapper textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.pt-cv-wrapper button {
  overflow: visible;
}
.pt-cv-wrapper button,
.pt-cv-wrapper select {
  text-transform: none;
}
.pt-cv-wrapper button,
.pt-cv-wrapper html input[type="button"],
.pt-cv-wrapper input[type="reset"],
.pt-cv-wrapper input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.pt-cv-wrapper button[disabled],
.pt-cv-wrapper html input[disabled] {
  cursor: default;
}
.pt-cv-wrapper button::-moz-focus-inner,
.pt-cv-wrapper input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pt-cv-wrapper input {
  line-height: normal;
}
.pt-cv-wrapper input[type="checkbox"],
.pt-cv-wrapper input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.pt-cv-wrapper input[type="number"]::-webkit-inner-spin-button,
.pt-cv-wrapper input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.pt-cv-wrapper input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.pt-cv-wrapper input[type="search"]::-webkit-search-cancel-button,
.pt-cv-wrapper input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.pt-cv-wrapper fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.pt-cv-wrapper legend {
  border: 0;
  padding: 0;
}
.pt-cv-wrapper textarea {
  overflow: auto;
}
.pt-cv-wrapper optgroup {
  font-weight: 700;
}
.pt-cv-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pt-cv-wrapper td,
.pt-cv-wrapper th {
  padding: 0;
}
@media print {
  .pt-cv-wrapper *,
  .pt-cv-wrapper :after,
  .pt-cv-wrapper :before {
    background: 0 0 !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .pt-cv-wrapper a,
  .pt-cv-wrapper a:visited {
    text-decoration: underline;
  }
  .pt-cv-wrapper a[href]:after {
    content: " (" attr(href) ")";
  }
  .pt-cv-wrapper abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .pt-cv-wrapper a[href^="javascript:"]:after,
  .pt-cv-wrapper a[href^="#"]:after {
    content: "";
  }
  .pt-cv-wrapper blockquote,
  .pt-cv-wrapper pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  .pt-cv-wrapper thead {
    display: table-header-group;
  }
  .pt-cv-wrapper img,
  .pt-cv-wrapper tr {
    page-break-inside: avoid;
  }
  .pt-cv-wrapper img {
    max-width: 100% !important;
  }
  .pt-cv-wrapper h2,
  .pt-cv-wrapper h3,
  .pt-cv-wrapper p {
    orphans: 3;
    widows: 3;
  }
  .pt-cv-wrapper h2,
  .pt-cv-wrapper h3 {
    page-break-after: avoid;
  }
  .pt-cv-wrapper .navbar {
    display: none;
  }
  .pt-cv-wrapper .btn > .caret,
  .pt-cv-wrapper .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .pt-cv-wrapper .label {
    border: 1px solid #000;
  }
  .pt-cv-wrapper .table {
    border-collapse: collapse !important;
  }
  .pt-cv-wrapper .table td,
  .pt-cv-wrapper .table th {
    background-color: #fff !important;
  }
  .pt-cv-wrapper .table-bordered td,
  .pt-cv-wrapper .table-bordered th {
    border: 1px solid #ddd !important;
  }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/glyphicons-halflings-regular.woff2) format("woff2"),
    url(../fonts/glyphicons-halflings-regular.woff) format("woff"),
    url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"),
    url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
      format("svg");
}
.pt-cv-wrapper .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pt-cv-wrapper .glyphicon-asterisk:before {
  content: "\2a";
}
.pt-cv-wrapper .glyphicon-plus:before {
  content: "\2b";
}
.pt-cv-wrapper .glyphicon-eur:before,
.pt-cv-wrapper .glyphicon-euro:before {
  content: "\20ac";
}
.pt-cv-wrapper .glyphicon-minus:before {
  content: "\2212";
}
.pt-cv-wrapper .glyphicon-cloud:before {
  content: "\2601";
}
.pt-cv-wrapper .glyphicon-envelope:before {
  content: "\2709";
}
.pt-cv-wrapper .glyphicon-pencil:before {
  content: "\270f";
}
.pt-cv-wrapper .glyphicon-glass:before {
  content: "\e001";
}
.pt-cv-wrapper .glyphicon-music:before {
  content: "\e002";
}
.pt-cv-wrapper .glyphicon-search:before {
  content: "\e003";
}
.pt-cv-wrapper .glyphicon-heart:before {
  content: "\e005";
}
.pt-cv-wrapper .glyphicon-star:before {
  content: "\e006";
}
.pt-cv-wrapper .glyphicon-star-empty:before {
  content: "\e007";
}
.pt-cv-wrapper .glyphicon-user:before {
  content: "\e008";
}
.pt-cv-wrapper .glyphicon-film:before {
  content: "\e009";
}
.pt-cv-wrapper .glyphicon-th-large:before {
  content: "\e010";
}
.pt-cv-wrapper .glyphicon-th:before {
  content: "\e011";
}
.pt-cv-wrapper .glyphicon-th-list:before {
  content: "\e012";
}
.pt-cv-wrapper .glyphicon-ok:before {
  content: "\e013";
}
.pt-cv-wrapper .glyphicon-remove:before {
  content: "\e014";
}
.pt-cv-wrapper .glyphicon-zoom-in:before {
  content: "\e015";
}
.pt-cv-wrapper .glyphicon-zoom-out:before {
  content: "\e016";
}
.pt-cv-wrapper .glyphicon-off:before {
  content: "\e017";
}
.pt-cv-wrapper .glyphicon-signal:before {
  content: "\e018";
}
.pt-cv-wrapper .glyphicon-cog:before {
  content: "\e019";
}
.pt-cv-wrapper .glyphicon-trash:before {
  content: "\e020";
}
.pt-cv-wrapper .glyphicon-home:before {
  content: "\e021";
}
.pt-cv-wrapper .glyphicon-file:before {
  content: "\e022";
}
.pt-cv-wrapper .glyphicon-time:before {
  content: "\e023";
}
.pt-cv-wrapper .glyphicon-road:before {
  content: "\e024";
}
.pt-cv-wrapper .glyphicon-download-alt:before {
  content: "\e025";
}
.pt-cv-wrapper .glyphicon-download:before {
  content: "\e026";
}
.pt-cv-wrapper .glyphicon-upload:before {
  content: "\e027";
}
.pt-cv-wrapper .glyphicon-inbox:before {
  content: "\e028";
}
.pt-cv-wrapper .glyphicon-play-circle:before {
  content: "\e029";
}
.pt-cv-wrapper .glyphicon-repeat:before {
  content: "\e030";
}
.pt-cv-wrapper .glyphicon-refresh:before {
  content: "\e031";
}
.pt-cv-wrapper .glyphicon-list-alt:before {
  content: "\e032";
}
.pt-cv-wrapper .glyphicon-lock:before {
  content: "\e033";
}
.pt-cv-wrapper .glyphicon-flag:before {
  content: "\e034";
}
.pt-cv-wrapper .glyphicon-headphones:before {
  content: "\e035";
}
.pt-cv-wrapper .glyphicon-volume-off:before {
  content: "\e036";
}
.pt-cv-wrapper .glyphicon-volume-down:before {
  content: "\e037";
}
.pt-cv-wrapper .glyphicon-volume-up:before {
  content: "\e038";
}
.pt-cv-wrapper .glyphicon-qrcode:before {
  content: "\e039";
}
.pt-cv-wrapper .glyphicon-barcode:before {
  content: "\e040";
}
.pt-cv-wrapper .glyphicon-tag:before {
  content: "\e041";
}
.pt-cv-wrapper .glyphicon-tags:before {
  content: "\e042";
}
.pt-cv-wrapper .glyphicon-book:before {
  content: "\e043";
}
.pt-cv-wrapper .glyphicon-bookmark:before {
  content: "\e044";
}
.pt-cv-wrapper .glyphicon-print:before {
  content: "\e045";
}
.pt-cv-wrapper .glyphicon-camera:before {
  content: "\e046";
}
.pt-cv-wrapper .glyphicon-font:before {
  content: "\e047";
}
.pt-cv-wrapper .glyphicon-bold:before {
  content: "\e048";
}
.pt-cv-wrapper .glyphicon-italic:before {
  content: "\e049";
}
.pt-cv-wrapper .glyphicon-text-height:before {
  content: "\e050";
}
.pt-cv-wrapper .glyphicon-text-width:before {
  content: "\e051";
}
.pt-cv-wrapper .glyphicon-align-left:before {
  content: "\e052";
}
.pt-cv-wrapper .glyphicon-align-center:before {
  content: "\e053";
}
.pt-cv-wrapper .glyphicon-align-right:before {
  content: "\e054";
}
.pt-cv-wrapper .glyphicon-align-justify:before {
  content: "\e055";
}
.pt-cv-wrapper .glyphicon-list:before {
  content: "\e056";
}
.pt-cv-wrapper .glyphicon-indent-left:before {
  content: "\e057";
}
.pt-cv-wrapper .glyphicon-indent-right:before {
  content: "\e058";
}
.pt-cv-wrapper .glyphicon-facetime-video:before {
  content: "\e059";
}
.pt-cv-wrapper .glyphicon-picture:before {
  content: "\e060";
}
.pt-cv-wrapper .glyphicon-map-marker:before {
  content: "\e062";
}
.pt-cv-wrapper .glyphicon-adjust:before {
  content: "\e063";
}
.pt-cv-wrapper .glyphicon-tint:before {
  content: "\e064";
}
.pt-cv-wrapper .glyphicon-edit:before {
  content: "\e065";
}
.pt-cv-wrapper .glyphicon-share:before {
  content: "\e066";
}
.pt-cv-wrapper .glyphicon-check:before {
  content: "\e067";
}
.pt-cv-wrapper .glyphicon-move:before {
  content: "\e068";
}
.pt-cv-wrapper .glyphicon-step-backward:before {
  content: "\e069";
}
.pt-cv-wrapper .glyphicon-fast-backward:before {
  content: "\e070";
}
.pt-cv-wrapper .glyphicon-backward:before {
  content: "\e071";
}
.pt-cv-wrapper .glyphicon-play:before {
  content: "\e072";
}
.pt-cv-wrapper .glyphicon-pause:before {
  content: "\e073";
}
.pt-cv-wrapper .glyphicon-stop:before {
  content: "\e074";
}
.pt-cv-wrapper .glyphicon-forward:before {
  content: "\e075";
}
.pt-cv-wrapper .glyphicon-fast-forward:before {
  content: "\e076";
}
.pt-cv-wrapper .glyphicon-step-forward:before {
  content: "\e077";
}
.pt-cv-wrapper .glyphicon-eject:before {
  content: "\e078";
}
.pt-cv-wrapper .glyphicon-chevron-left:before {
  content: "\e079";
}
.pt-cv-wrapper .glyphicon-chevron-right:before {
  content: "\e080";
}
.pt-cv-wrapper .glyphicon-plus-sign:before {
  content: "\e081";
}
.pt-cv-wrapper .glyphicon-minus-sign:before {
  content: "\e082";
}
.pt-cv-wrapper .glyphicon-remove-sign:before {
  content: "\e083";
}
.pt-cv-wrapper .glyphicon-ok-sign:before {
  content: "\e084";
}
.pt-cv-wrapper .glyphicon-question-sign:before {
  content: "\e085";
}
.pt-cv-wrapper .glyphicon-info-sign:before {
  content: "\e086";
}
.pt-cv-wrapper .glyphicon-screenshot:before {
  content: "\e087";
}
.pt-cv-wrapper .glyphicon-remove-circle:before {
  content: "\e088";
}
.pt-cv-wrapper .glyphicon-ok-circle:before {
  content: "\e089";
}
.pt-cv-wrapper .glyphicon-ban-circle:before {
  content: "\e090";
}
.pt-cv-wrapper .glyphicon-arrow-left:before {
  content: "\e091";
}
.pt-cv-wrapper .glyphicon-arrow-right:before {
  content: "\e092";
}
.pt-cv-wrapper .glyphicon-arrow-up:before {
  content: "\e093";
}
.pt-cv-wrapper .glyphicon-arrow-down:before {
  content: "\e094";
}
.pt-cv-wrapper .glyphicon-share-alt:before {
  content: "\e095";
}
.pt-cv-wrapper .glyphicon-resize-full:before {
  content: "\e096";
}
.pt-cv-wrapper .glyphicon-resize-small:before {
  content: "\e097";
}
.pt-cv-wrapper .glyphicon-exclamation-sign:before {
  content: "\e101";
}
.pt-cv-wrapper .glyphicon-gift:before {
  content: "\e102";
}
.pt-cv-wrapper .glyphicon-leaf:before {
  content: "\e103";
}
.pt-cv-wrapper .glyphicon-fire:before {
  content: "\e104";
}
.pt-cv-wrapper .glyphicon-eye-open:before {
  content: "\e105";
}
.pt-cv-wrapper .glyphicon-eye-close:before {
  content: "\e106";
}
.pt-cv-wrapper .glyphicon-warning-sign:before {
  content: "\e107";
}
.pt-cv-wrapper .glyphicon-plane:before {
  content: "\e108";
}
.pt-cv-wrapper .glyphicon-calendar:before {
  content: "\e109";
}
.pt-cv-wrapper .glyphicon-random:before {
  content: "\e110";
}
.pt-cv-wrapper .glyphicon-comment:before {
  content: "\e111";
}
.pt-cv-wrapper .glyphicon-magnet:before {
  content: "\e112";
}
.pt-cv-wrapper .glyphicon-chevron-up:before {
  content: "\e113";
}
.pt-cv-wrapper .glyphicon-chevron-down:before {
  content: "\e114";
}
.pt-cv-wrapper .glyphicon-retweet:before {
  content: "\e115";
}
.pt-cv-wrapper .glyphicon-shopping-cart:before {
  content: "\e116";
}
.pt-cv-wrapper .glyphicon-folder-close:before {
  content: "\e117";
}
.pt-cv-wrapper .glyphicon-folder-open:before {
  content: "\e118";
}
.pt-cv-wrapper .glyphicon-resize-vertical:before {
  content: "\e119";
}
.pt-cv-wrapper .glyphicon-resize-horizontal:before {
  content: "\e120";
}
.pt-cv-wrapper .glyphicon-hdd:before {
  content: "\e121";
}
.pt-cv-wrapper .glyphicon-bullhorn:before {
  content: "\e122";
}
.pt-cv-wrapper .glyphicon-bell:before {
  content: "\e123";
}
.pt-cv-wrapper .glyphicon-certificate:before {
  content: "\e124";
}
.pt-cv-wrapper .glyphicon-thumbs-up:before {
  content: "\e125";
}
.pt-cv-wrapper .glyphicon-thumbs-down:before {
  content: "\e126";
}
.pt-cv-wrapper .glyphicon-hand-right:before {
  content: "\e127";
}
.pt-cv-wrapper .glyphicon-hand-left:before {
  content: "\e128";
}
.pt-cv-wrapper .glyphicon-hand-up:before {
  content: "\e129";
}
.pt-cv-wrapper .glyphicon-hand-down:before {
  content: "\e130";
}
.pt-cv-wrapper .glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.pt-cv-wrapper .glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.pt-cv-wrapper .glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.pt-cv-wrapper .glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.pt-cv-wrapper .glyphicon-globe:before {
  content: "\e135";
}
.pt-cv-wrapper .glyphicon-wrench:before {
  content: "\e136";
}
.pt-cv-wrapper .glyphicon-tasks:before {
  content: "\e137";
}
.pt-cv-wrapper .glyphicon-filter:before {
  content: "\e138";
}
.pt-cv-wrapper .glyphicon-briefcase:before {
  content: "\e139";
}
.pt-cv-wrapper .glyphicon-fullscreen:before {
  content: "\e140";
}
.pt-cv-wrapper .glyphicon-dashboard:before {
  content: "\e141";
}
.pt-cv-wrapper .glyphicon-paperclip:before {
  content: "\e142";
}
.pt-cv-wrapper .glyphicon-heart-empty:before {
  content: "\e143";
}
.pt-cv-wrapper .glyphicon-link:before {
  content: "\e144";
}
.pt-cv-wrapper .glyphicon-phone:before {
  content: "\e145";
}
.pt-cv-wrapper .glyphicon-pushpin:before {
  content: "\e146";
}
.pt-cv-wrapper .glyphicon-usd:before {
  content: "\e148";
}
.pt-cv-wrapper .glyphicon-gbp:before {
  content: "\e149";
}
.pt-cv-wrapper .glyphicon-sort:before {
  content: "\e150";
}
.pt-cv-wrapper .glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.pt-cv-wrapper .glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.pt-cv-wrapper .glyphicon-sort-by-order:before {
  content: "\e153";
}
.pt-cv-wrapper .glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.pt-cv-wrapper .glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.pt-cv-wrapper .glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.pt-cv-wrapper .glyphicon-unchecked:before {
  content: "\e157";
}
.pt-cv-wrapper .glyphicon-expand:before {
  content: "\e158";
}
.pt-cv-wrapper .glyphicon-collapse-down:before {
  content: "\e159";
}
.pt-cv-wrapper .glyphicon-collapse-up:before {
  content: "\e160";
}
.pt-cv-wrapper .glyphicon-log-in:before {
  content: "\e161";
}
.pt-cv-wrapper .glyphicon-flash:before {
  content: "\e162";
}
.pt-cv-wrapper .glyphicon-log-out:before {
  content: "\e163";
}
.pt-cv-wrapper .glyphicon-new-window:before {
  content: "\e164";
}
.pt-cv-wrapper .glyphicon-record:before {
  content: "\e165";
}
.pt-cv-wrapper .glyphicon-save:before {
  content: "\e166";
}
.pt-cv-wrapper .glyphicon-open:before {
  content: "\e167";
}
.pt-cv-wrapper .glyphicon-saved:before {
  content: "\e168";
}
.pt-cv-wrapper .glyphicon-import:before {
  content: "\e169";
}
.pt-cv-wrapper .glyphicon-export:before {
  content: "\e170";
}
.pt-cv-wrapper .glyphicon-send:before {
  content: "\e171";
}
.pt-cv-wrapper .glyphicon-floppy-disk:before {
  content: "\e172";
}
.pt-cv-wrapper .glyphicon-floppy-saved:before {
  content: "\e173";
}
.pt-cv-wrapper .glyphicon-floppy-remove:before {
  content: "\e174";
}
.pt-cv-wrapper .glyphicon-floppy-save:before {
  content: "\e175";
}
.pt-cv-wrapper .glyphicon-floppy-open:before {
  content: "\e176";
}
.pt-cv-wrapper .glyphicon-credit-card:before {
  content: "\e177";
}
.pt-cv-wrapper .glyphicon-transfer:before {
  content: "\e178";
}
.pt-cv-wrapper .glyphicon-cutlery:before {
  content: "\e179";
}
.pt-cv-wrapper .glyphicon-header:before {
  content: "\e180";
}
.pt-cv-wrapper .glyphicon-compressed:before {
  content: "\e181";
}
.pt-cv-wrapper .glyphicon-earphone:before {
  content: "\e182";
}
.pt-cv-wrapper .glyphicon-phone-alt:before {
  content: "\e183";
}
.pt-cv-wrapper .glyphicon-tower:before {
  content: "\e184";
}
.pt-cv-wrapper .glyphicon-stats:before {
  content: "\e185";
}
.pt-cv-wrapper .glyphicon-sd-video:before {
  content: "\e186";
}
.pt-cv-wrapper .glyphicon-hd-video:before {
  content: "\e187";
}
.pt-cv-wrapper .glyphicon-subtitles:before {
  content: "\e188";
}
.pt-cv-wrapper .glyphicon-sound-stereo:before {
  content: "\e189";
}
.pt-cv-wrapper .glyphicon-sound-dolby:before {
  content: "\e190";
}
.pt-cv-wrapper .glyphicon-sound-5-1:before {
  content: "\e191";
}
.pt-cv-wrapper .glyphicon-sound-6-1:before {
  content: "\e192";
}
.pt-cv-wrapper .glyphicon-sound-7-1:before {
  content: "\e193";
}
.pt-cv-wrapper .glyphicon-copyright-mark:before {
  content: "\e194";
}
.pt-cv-wrapper .glyphicon-registration-mark:before {
  content: "\e195";
}
.pt-cv-wrapper .glyphicon-cloud-download:before {
  content: "\e197";
}
.pt-cv-wrapper .glyphicon-cloud-upload:before {
  content: "\e198";
}
.pt-cv-wrapper .glyphicon-tree-conifer:before {
  content: "\e199";
}
.pt-cv-wrapper .glyphicon-tree-deciduous:before {
  content: "\e200";
}
.pt-cv-wrapper .glyphicon-cd:before {
  content: "\e201";
}
.pt-cv-wrapper .glyphicon-save-file:before {
  content: "\e202";
}
.pt-cv-wrapper .glyphicon-open-file:before {
  content: "\e203";
}
.pt-cv-wrapper .glyphicon-level-up:before {
  content: "\e204";
}
.pt-cv-wrapper .glyphicon-copy:before {
  content: "\e205";
}
.pt-cv-wrapper .glyphicon-paste:before {
  content: "\e206";
}
.pt-cv-wrapper .glyphicon-alert:before {
  content: "\e209";
}
.pt-cv-wrapper .glyphicon-equalizer:before {
  content: "\e210";
}
.pt-cv-wrapper .glyphicon-king:before {
  content: "\e211";
}
.pt-cv-wrapper .glyphicon-queen:before {
  content: "\e212";
}
.pt-cv-wrapper .glyphicon-pawn:before {
  content: "\e213";
}
.pt-cv-wrapper .glyphicon-bishop:before {
  content: "\e214";
}
.pt-cv-wrapper .glyphicon-knight:before {
  content: "\e215";
}
.pt-cv-wrapper .glyphicon-baby-formula:before {
  content: "\e216";
}
.pt-cv-wrapper .glyphicon-tent:before {
  content: "\26fa";
}
.pt-cv-wrapper .glyphicon-blackboard:before {
  content: "\e218";
}
.pt-cv-wrapper .glyphicon-bed:before {
  content: "\e219";
}
.pt-cv-wrapper .glyphicon-apple:before {
  content: "\f8ff";
}
.pt-cv-wrapper .glyphicon-erase:before {
  content: "\e221";
}
.pt-cv-wrapper .glyphicon-hourglass:before {
  content: "\231b";
}
.pt-cv-wrapper .glyphicon-lamp:before {
  content: "\e223";
}
.pt-cv-wrapper .glyphicon-duplicate:before {
  content: "\e224";
}
.pt-cv-wrapper .glyphicon-piggy-bank:before {
  content: "\e225";
}
.pt-cv-wrapper .glyphicon-scissors:before {
  content: "\e226";
}
.pt-cv-wrapper .glyphicon-bitcoin:before,
.pt-cv-wrapper .glyphicon-btc:before,
.pt-cv-wrapper .glyphicon-xbt:before {
  content: "\e227";
}
.pt-cv-wrapper .glyphicon-jpy:before,
.pt-cv-wrapper .glyphicon-yen:before {
  content: "\00a5";
}
.pt-cv-wrapper .glyphicon-rub:before,
.pt-cv-wrapper .glyphicon-ruble:before {
  content: "\20bd";
}
.pt-cv-wrapper .glyphicon-scale:before {
  content: "\e230";
}
.pt-cv-wrapper .glyphicon-ice-lolly:before {
  content: "\e231";
}
.pt-cv-wrapper .glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.pt-cv-wrapper .glyphicon-education:before {
  content: "\e233";
}
.pt-cv-wrapper .glyphicon-option-horizontal:before {
  content: "\e234";
}
.pt-cv-wrapper .glyphicon-option-vertical:before {
  content: "\e235";
}
.pt-cv-wrapper .glyphicon-menu-hamburger:before {
  content: "\e236";
}
.pt-cv-wrapper .glyphicon-modal-window:before {
  content: "\e237";
}
.pt-cv-wrapper .glyphicon-oil:before {
  content: "\e238";
}
.pt-cv-wrapper .glyphicon-grain:before {
  content: "\e239";
}
.pt-cv-wrapper .glyphicon-sunglasses:before {
  content: "\e240";
}
.pt-cv-wrapper .glyphicon-text-size:before {
  content: "\e241";
}
.pt-cv-wrapper .glyphicon-text-color:before {
  content: "\e242";
}
.pt-cv-wrapper .glyphicon-text-background:before {
  content: "\e243";
}
.pt-cv-wrapper .glyphicon-object-align-top:before {
  content: "\e244";
}
.pt-cv-wrapper .glyphicon-object-align-bottom:before {
  content: "\e245";
}
.pt-cv-wrapper .glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.pt-cv-wrapper .glyphicon-object-align-left:before {
  content: "\e247";
}
.pt-cv-wrapper .glyphicon-object-align-vertical:before {
  content: "\e248";
}
.pt-cv-wrapper .glyphicon-object-align-right:before {
  content: "\e249";
}
.pt-cv-wrapper .glyphicon-triangle-right:before {
  content: "\e250";
}
.pt-cv-wrapper .glyphicon-triangle-left:before {
  content: "\e251";
}
.pt-cv-wrapper .glyphicon-triangle-bottom:before {
  content: "\e252";
}
.pt-cv-wrapper .glyphicon-triangle-top:before {
  content: "\e253";
}
.pt-cv-wrapper .glyphicon-console:before {
  content: "\e254";
}
.pt-cv-wrapper .glyphicon-superscript:before {
  content: "\e255";
}
.pt-cv-wrapper .glyphicon-subscript:before {
  content: "\e256";
}
.pt-cv-wrapper .glyphicon-menu-left:before {
  content: "\e257";
}
.pt-cv-wrapper .glyphicon-menu-right:before {
  content: "\e258";
}
.pt-cv-wrapper .glyphicon-menu-down:before {
  content: "\e259";
}
.pt-cv-wrapper .glyphicon-menu-up:before {
  content: "\e260";
}
.pt-cv-wrapper img {
  vertical-align: middle;
}
.pt-cv-wrapper .carousel-inner > .item > a > img,
.pt-cv-wrapper .carousel-inner > .item > img,
.pt-cv-wrapper .img-responsive,
.pt-cv-wrapper .thumbnail a > img,
.pt-cv-wrapper .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.pt-cv-wrapper .img-rounded {
  border-radius: 6px;
}
.pt-cv-wrapper .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.pt-cv-wrapper .img-circle {
  border-radius: 50%;
}
.pt-cv-wrapper hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.pt-cv-wrapper .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.pt-cv-wrapper .sr-only-focusable:active,
.pt-cv-wrapper .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.pt-cv-wrapper [role="button"] {
  cursor: pointer;
}
.pt-cv-wrapper .container,
.pt-cv-wrapper .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .pt-cv-wrapper .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .pt-cv-wrapper .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .pt-cv-wrapper .container {
    width: 1170px;
  }
}
.pt-cv-wrapper .row {
  margin-left: -15px;
  margin-right: -15px;
}
.pt-cv-wrapper .col-lg-1,
.pt-cv-wrapper .col-lg-10,
.pt-cv-wrapper .col-lg-11,
.pt-cv-wrapper .col-lg-12,
.pt-cv-wrapper .col-lg-2,
.pt-cv-wrapper .col-lg-3,
.pt-cv-wrapper .col-lg-4,
.pt-cv-wrapper .col-lg-5,
.pt-cv-wrapper .col-lg-6,
.pt-cv-wrapper .col-lg-7,
.pt-cv-wrapper .col-lg-8,
.pt-cv-wrapper .col-lg-9,
.pt-cv-wrapper .col-md-1,
.pt-cv-wrapper .col-md-10,
.pt-cv-wrapper .col-md-11,
.pt-cv-wrapper .col-md-12,
.pt-cv-wrapper .col-md-2,
.pt-cv-wrapper .col-md-3,
.pt-cv-wrapper .col-md-4,
.pt-cv-wrapper .col-md-5,
.pt-cv-wrapper .col-md-6,
.pt-cv-wrapper .col-md-7,
.pt-cv-wrapper .col-md-8,
.pt-cv-wrapper .col-md-9,
.pt-cv-wrapper .col-sm-1,
.pt-cv-wrapper .col-sm-10,
.pt-cv-wrapper .col-sm-11,
.pt-cv-wrapper .col-sm-12,
.pt-cv-wrapper .col-sm-2,
.pt-cv-wrapper .col-sm-3,
.pt-cv-wrapper .col-sm-4,
.pt-cv-wrapper .col-sm-5,
.pt-cv-wrapper .col-sm-6,
.pt-cv-wrapper .col-sm-7,
.pt-cv-wrapper .col-sm-8,
.pt-cv-wrapper .col-sm-9,
.pt-cv-wrapper .col-xs-1,
.pt-cv-wrapper .col-xs-10,
.pt-cv-wrapper .col-xs-11,
.pt-cv-wrapper .col-xs-12,
.pt-cv-wrapper .col-xs-2,
.pt-cv-wrapper .col-xs-3,
.pt-cv-wrapper .col-xs-4,
.pt-cv-wrapper .col-xs-5,
.pt-cv-wrapper .col-xs-6,
.pt-cv-wrapper .col-xs-7,
.pt-cv-wrapper .col-xs-8,
.pt-cv-wrapper .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.pt-cv-wrapper .col-xs-1,
.pt-cv-wrapper .col-xs-10,
.pt-cv-wrapper .col-xs-11,
.pt-cv-wrapper .col-xs-12,
.pt-cv-wrapper .col-xs-2,
.pt-cv-wrapper .col-xs-3,
.pt-cv-wrapper .col-xs-4,
.pt-cv-wrapper .col-xs-5,
.pt-cv-wrapper .col-xs-6,
.pt-cv-wrapper .col-xs-7,
.pt-cv-wrapper .col-xs-8,
.pt-cv-wrapper .col-xs-9 {
  float: left;
}
.pt-cv-wrapper .col-xs-12 {
  width: 100%;
}
.pt-cv-wrapper .col-xs-11 {
  width: 91.66666667%;
}
.pt-cv-wrapper .col-xs-10 {
  width: 83.33333333%;
}
.pt-cv-wrapper .col-xs-9 {
  width: 75%;
}
.pt-cv-wrapper .col-xs-8 {
  width: 66.66666667%;
}
.pt-cv-wrapper .col-xs-7 {
  width: 58.33333333%;
}
.pt-cv-wrapper .col-xs-6 {
  width: 50%;
}
.pt-cv-wrapper .col-xs-5 {
  width: 41.66666667%;
}
.pt-cv-wrapper .col-xs-4 {
  width: 33.33333333%;
}
.pt-cv-wrapper .col-xs-3 {
  width: 25%;
}
.pt-cv-wrapper .col-xs-2 {
  width: 16.66666667%;
}
.pt-cv-wrapper .col-xs-1 {
  width: 8.33333333%;
}
.pt-cv-wrapper .col-xs-pull-12 {
  right: 100%;
}
.pt-cv-wrapper .col-xs-pull-11 {
  right: 91.66666667%;
}
.pt-cv-wrapper .col-xs-pull-10 {
  right: 83.33333333%;
}
.pt-cv-wrapper .col-xs-pull-9 {
  right: 75%;
}
.pt-cv-wrapper .col-xs-pull-8 {
  right: 66.66666667%;
}
.pt-cv-wrapper .col-xs-pull-7 {
  right: 58.33333333%;
}
.pt-cv-wrapper .col-xs-pull-6 {
  right: 50%;
}
.pt-cv-wrapper .col-xs-pull-5 {
  right: 41.66666667%;
}
.pt-cv-wrapper .col-xs-pull-4 {
  right: 33.33333333%;
}
.pt-cv-wrapper .col-xs-pull-3 {
  right: 25%;
}
.pt-cv-wrapper .col-xs-pull-2 {
  right: 16.66666667%;
}
.pt-cv-wrapper .col-xs-pull-1 {
  right: 8.33333333%;
}
.pt-cv-wrapper .col-xs-pull-0 {
  right: auto;
}
.pt-cv-wrapper .col-xs-push-12 {
  left: 100%;
}
.pt-cv-wrapper .col-xs-push-11 {
  left: 91.66666667%;
}
.pt-cv-wrapper .col-xs-push-10 {
  left: 83.33333333%;
}
.pt-cv-wrapper .col-xs-push-9 {
  left: 75%;
}
.pt-cv-wrapper .col-xs-push-8 {
  left: 66.66666667%;
}
.pt-cv-wrapper .col-xs-push-7 {
  left: 58.33333333%;
}
.pt-cv-wrapper .col-xs-push-6 {
  left: 50%;
}
.pt-cv-wrapper .col-xs-push-5 {
  left: 41.66666667%;
}
.pt-cv-wrapper .col-xs-push-4 {
  left: 33.33333333%;
}
.pt-cv-wrapper .col-xs-push-3 {
  left: 25%;
}
.pt-cv-wrapper .col-xs-push-2 {
  left: 16.66666667%;
}
.pt-cv-wrapper .col-xs-push-1 {
  left: 8.33333333%;
}
.pt-cv-wrapper .col-xs-push-0 {
  left: auto;
}
.pt-cv-wrapper .col-xs-offset-12 {
  margin-left: 100%;
}
.pt-cv-wrapper .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.pt-cv-wrapper .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.pt-cv-wrapper .col-xs-offset-9 {
  margin-left: 75%;
}
.pt-cv-wrapper .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.pt-cv-wrapper .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.pt-cv-wrapper .col-xs-offset-6 {
  margin-left: 50%;
}
.pt-cv-wrapper .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.pt-cv-wrapper .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.pt-cv-wrapper .col-xs-offset-3 {
  margin-left: 25%;
}
.pt-cv-wrapper .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.pt-cv-wrapper .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.pt-cv-wrapper .col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .pt-cv-wrapper .col-sm-1,
  .pt-cv-wrapper .col-sm-10,
  .pt-cv-wrapper .col-sm-11,
  .pt-cv-wrapper .col-sm-12,
  .pt-cv-wrapper .col-sm-2,
  .pt-cv-wrapper .col-sm-3,
  .pt-cv-wrapper .col-sm-4,
  .pt-cv-wrapper .col-sm-5,
  .pt-cv-wrapper .col-sm-6,
  .pt-cv-wrapper .col-sm-7,
  .pt-cv-wrapper .col-sm-8,
  .pt-cv-wrapper .col-sm-9 {
    float: left;
  }
  .pt-cv-wrapper .col-sm-12 {
    width: 100%;
  }
  .pt-cv-wrapper .col-sm-11 {
    width: 91.66666667%;
  }
  .pt-cv-wrapper .col-sm-10 {
    width: 83.33333333%;
  }
  .pt-cv-wrapper .col-sm-9 {
    width: 75%;
  }
  .pt-cv-wrapper .col-sm-8 {
    width: 66.66666667%;
  }
  .pt-cv-wrapper .col-sm-7 {
    width: 58.33333333%;
  }
  .pt-cv-wrapper .col-sm-6 {
    width: 50%;
  }
  .pt-cv-wrapper .col-sm-5 {
    width: 41.66666667%;
  }
  .pt-cv-wrapper .col-sm-4 {
    width: 33.33333333%;
  }
  .pt-cv-wrapper .col-sm-3 {
    width: 25%;
  }
  .pt-cv-wrapper .col-sm-2 {
    width: 16.66666667%;
  }
  .pt-cv-wrapper .col-sm-1 {
    width: 8.33333333%;
  }
  .pt-cv-wrapper .col-sm-pull-12 {
    right: 100%;
  }
  .pt-cv-wrapper .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .pt-cv-wrapper .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .pt-cv-wrapper .col-sm-pull-9 {
    right: 75%;
  }
  .pt-cv-wrapper .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .pt-cv-wrapper .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .pt-cv-wrapper .col-sm-pull-6 {
    right: 50%;
  }
  .pt-cv-wrapper .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .pt-cv-wrapper .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .pt-cv-wrapper .col-sm-pull-3 {
    right: 25%;
  }
  .pt-cv-wrapper .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .pt-cv-wrapper .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .pt-cv-wrapper .col-sm-pull-0 {
    right: auto;
  }
  .pt-cv-wrapper .col-sm-push-12 {
    left: 100%;
  }
  .pt-cv-wrapper .col-sm-push-11 {
    left: 91.66666667%;
  }
  .pt-cv-wrapper .col-sm-push-10 {
    left: 83.33333333%;
  }
  .pt-cv-wrapper .col-sm-push-9 {
    left: 75%;
  }
  .pt-cv-wrapper .col-sm-push-8 {
    left: 66.66666667%;
  }
  .pt-cv-wrapper .col-sm-push-7 {
    left: 58.33333333%;
  }
  .pt-cv-wrapper .col-sm-push-6 {
    left: 50%;
  }
  .pt-cv-wrapper .col-sm-push-5 {
    left: 41.66666667%;
  }
  .pt-cv-wrapper .col-sm-push-4 {
    left: 33.33333333%;
  }
  .pt-cv-wrapper .col-sm-push-3 {
    left: 25%;
  }
  .pt-cv-wrapper .col-sm-push-2 {
    left: 16.66666667%;
  }
  .pt-cv-wrapper .col-sm-push-1 {
    left: 8.33333333%;
  }
  .pt-cv-wrapper .col-sm-push-0 {
    left: auto;
  }
  .pt-cv-wrapper .col-sm-offset-12 {
    margin-left: 100%;
  }
  .pt-cv-wrapper .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .pt-cv-wrapper .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .pt-cv-wrapper .col-sm-offset-9 {
    margin-left: 75%;
  }
  .pt-cv-wrapper .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .pt-cv-wrapper .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .pt-cv-wrapper .col-sm-offset-6 {
    margin-left: 50%;
  }
  .pt-cv-wrapper .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .pt-cv-wrapper .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .pt-cv-wrapper .col-sm-offset-3 {
    margin-left: 25%;
  }
  .pt-cv-wrapper .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .pt-cv-wrapper .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .pt-cv-wrapper .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .pt-cv-wrapper .col-md-1,
  .pt-cv-wrapper .col-md-10,
  .pt-cv-wrapper .col-md-11,
  .pt-cv-wrapper .col-md-12,
  .pt-cv-wrapper .col-md-2,
  .pt-cv-wrapper .col-md-3,
  .pt-cv-wrapper .col-md-4,
  .pt-cv-wrapper .col-md-5,
  .pt-cv-wrapper .col-md-6,
  .pt-cv-wrapper .col-md-7,
  .pt-cv-wrapper .col-md-8,
  .pt-cv-wrapper .col-md-9 {
    float: left;
  }
  .pt-cv-wrapper .col-md-12 {
    width: 100%;
  }
  .pt-cv-wrapper .col-md-11 {
    width: 91.66666667%;
  }
  .pt-cv-wrapper .col-md-10 {
    width: 83.33333333%;
  }
  .pt-cv-wrapper .col-md-9 {
    width: 75%;
  }
  .pt-cv-wrapper .col-md-8 {
    width: 66.66666667%;
  }
  .pt-cv-wrapper .col-md-7 {
    width: 58.33333333%;
  }
  .pt-cv-wrapper .col-md-6 {
    width: 50%;
  }
  .pt-cv-wrapper .col-md-5 {
    width: 41.66666667%;
  }
  .pt-cv-wrapper .col-md-4 {
    width: 33.33333333%;
  }
  .pt-cv-wrapper .col-md-3 {
    width: 25%;
  }
  .pt-cv-wrapper .col-md-2 {
    width: 16.66666667%;
  }
  .pt-cv-wrapper .col-md-1 {
    width: 8.33333333%;
  }
  .pt-cv-wrapper .col-md-pull-12 {
    right: 100%;
  }
  .pt-cv-wrapper .col-md-pull-11 {
    right: 91.66666667%;
  }
  .pt-cv-wrapper .col-md-pull-10 {
    right: 83.33333333%;
  }
  .pt-cv-wrapper .col-md-pull-9 {
    right: 75%;
  }
  .pt-cv-wrapper .col-md-pull-8 {
    right: 66.66666667%;
  }
  .pt-cv-wrapper .col-md-pull-7 {
    right: 58.33333333%;
  }
  .pt-cv-wrapper .col-md-pull-6 {
    right: 50%;
  }
  .pt-cv-wrapper .col-md-pull-5 {
    right: 41.66666667%;
  }
  .pt-cv-wrapper .col-md-pull-4 {
    right: 33.33333333%;
  }
  .pt-cv-wrapper .col-md-pull-3 {
    right: 25%;
  }
  .pt-cv-wrapper .col-md-pull-2 {
    right: 16.66666667%;
  }
  .pt-cv-wrapper .col-md-pull-1 {
    right: 8.33333333%;
  }
  .pt-cv-wrapper .col-md-pull-0 {
    right: auto;
  }
  .pt-cv-wrapper .col-md-push-12 {
    left: 100%;
  }
  .pt-cv-wrapper .col-md-push-11 {
    left: 91.66666667%;
  }
  .pt-cv-wrapper .col-md-push-10 {
    left: 83.33333333%;
  }
  .pt-cv-wrapper .col-md-push-9 {
    left: 75%;
  }
  .pt-cv-wrapper .col-md-push-8 {
    left: 66.66666667%;
  }
  .pt-cv-wrapper .col-md-push-7 {
    left: 58.33333333%;
  }
  .pt-cv-wrapper .col-md-push-6 {
    left: 50%;
  }
  .pt-cv-wrapper .col-md-push-5 {
    left: 41.66666667%;
  }
  .pt-cv-wrapper .col-md-push-4 {
    left: 33.33333333%;
  }
  .pt-cv-wrapper .col-md-push-3 {
    left: 25%;
  }
  .pt-cv-wrapper .col-md-push-2 {
    left: 16.66666667%;
  }
  .pt-cv-wrapper .col-md-push-1 {
    left: 8.33333333%;
  }
  .pt-cv-wrapper .col-md-push-0 {
    left: auto;
  }
  .pt-cv-wrapper .col-md-offset-12 {
    margin-left: 100%;
  }
  .pt-cv-wrapper .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .pt-cv-wrapper .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .pt-cv-wrapper .col-md-offset-9 {
    margin-left: 75%;
  }
  .pt-cv-wrapper .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .pt-cv-wrapper .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .pt-cv-wrapper .col-md-offset-6 {
    margin-left: 50%;
  }
  .pt-cv-wrapper .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .pt-cv-wrapper .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .pt-cv-wrapper .col-md-offset-3 {
    margin-left: 25%;
  }
  .pt-cv-wrapper .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .pt-cv-wrapper .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .pt-cv-wrapper .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .pt-cv-wrapper .col-lg-1,
  .pt-cv-wrapper .col-lg-10,
  .pt-cv-wrapper .col-lg-11,
  .pt-cv-wrapper .col-lg-12,
  .pt-cv-wrapper .col-lg-2,
  .pt-cv-wrapper .col-lg-3,
  .pt-cv-wrapper .col-lg-4,
  .pt-cv-wrapper .col-lg-5,
  .pt-cv-wrapper .col-lg-6,
  .pt-cv-wrapper .col-lg-7,
  .pt-cv-wrapper .col-lg-8,
  .pt-cv-wrapper .col-lg-9 {
    float: left;
  }
  .pt-cv-wrapper .col-lg-12 {
    width: 100%;
  }
  .pt-cv-wrapper .col-lg-11 {
    width: 91.66666667%;
  }
  .pt-cv-wrapper .col-lg-10 {
    width: 83.33333333%;
  }
  .pt-cv-wrapper .col-lg-9 {
    width: 75%;
  }
  .pt-cv-wrapper .col-lg-8 {
    width: 66.66666667%;
  }
  .pt-cv-wrapper .col-lg-7 {
    width: 58.33333333%;
  }
  .pt-cv-wrapper .col-lg-6 {
    width: 50%;
  }
  .pt-cv-wrapper .col-lg-5 {
    width: 41.66666667%;
  }
  .pt-cv-wrapper .col-lg-4 {
    width: 33.33333333%;
  }
  .pt-cv-wrapper .col-lg-3 {
    width: 25%;
  }
  .pt-cv-wrapper .col-lg-2 {
    width: 16.66666667%;
  }
  .pt-cv-wrapper .col-lg-1 {
    width: 8.33333333%;
  }
  .pt-cv-wrapper .col-lg-pull-12 {
    right: 100%;
  }
  .pt-cv-wrapper .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .pt-cv-wrapper .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .pt-cv-wrapper .col-lg-pull-9 {
    right: 75%;
  }
  .pt-cv-wrapper .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .pt-cv-wrapper .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .pt-cv-wrapper .col-lg-pull-6 {
    right: 50%;
  }
  .pt-cv-wrapper .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .pt-cv-wrapper .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .pt-cv-wrapper .col-lg-pull-3 {
    right: 25%;
  }
  .pt-cv-wrapper .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .pt-cv-wrapper .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .pt-cv-wrapper .col-lg-pull-0 {
    right: auto;
  }
  .pt-cv-wrapper .col-lg-push-12 {
    left: 100%;
  }
  .pt-cv-wrapper .col-lg-push-11 {
    left: 91.66666667%;
  }
  .pt-cv-wrapper .col-lg-push-10 {
    left: 83.33333333%;
  }
  .pt-cv-wrapper .col-lg-push-9 {
    left: 75%;
  }
  .pt-cv-wrapper .col-lg-push-8 {
    left: 66.66666667%;
  }
  .pt-cv-wrapper .col-lg-push-7 {
    left: 58.33333333%;
  }
  .pt-cv-wrapper .col-lg-push-6 {
    left: 50%;
  }
  .pt-cv-wrapper .col-lg-push-5 {
    left: 41.66666667%;
  }
  .pt-cv-wrapper .col-lg-push-4 {
    left: 33.33333333%;
  }
  .pt-cv-wrapper .col-lg-push-3 {
    left: 25%;
  }
  .pt-cv-wrapper .col-lg-push-2 {
    left: 16.66666667%;
  }
  .pt-cv-wrapper .col-lg-push-1 {
    left: 8.33333333%;
  }
  .pt-cv-wrapper .col-lg-push-0 {
    left: auto;
  }
  .pt-cv-wrapper .col-lg-offset-12 {
    margin-left: 100%;
  }
  .pt-cv-wrapper .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .pt-cv-wrapper .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .pt-cv-wrapper .col-lg-offset-9 {
    margin-left: 75%;
  }
  .pt-cv-wrapper .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .pt-cv-wrapper .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .pt-cv-wrapper .col-lg-offset-6 {
    margin-left: 50%;
  }
  .pt-cv-wrapper .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .pt-cv-wrapper .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .pt-cv-wrapper .col-lg-offset-3 {
    margin-left: 25%;
  }
  .pt-cv-wrapper .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .pt-cv-wrapper .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .pt-cv-wrapper .col-lg-offset-0 {
    margin-left: 0;
  }
}
.pt-cv-wrapper .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pt-cv-wrapper .btn.active.focus,
.pt-cv-wrapper .btn.active:focus,
.pt-cv-wrapper .btn.focus,
.pt-cv-wrapper .btn:active.focus,
.pt-cv-wrapper .btn:active:focus,
.pt-cv-wrapper .btn:focus {
  outline: dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
.pt-cv-wrapper .btn.focus,
.pt-cv-wrapper .btn:focus,
.pt-cv-wrapper .btn:hover {
  color: #333;
  text-decoration: none;
}
.pt-cv-wrapper .btn.active,
.pt-cv-wrapper .btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pt-cv-wrapper .btn.disabled,
.pt-cv-wrapper .btn[disabled],
.pt-cv-wrapper fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pt-cv-wrapper a.btn.disabled,
.pt-cv-wrapper fieldset[disabled] a.btn {
  pointer-events: none;
}
.pt-cv-wrapper .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.pt-cv-wrapper .btn-default.focus,
.pt-cv-wrapper .btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.pt-cv-wrapper .btn-default.active,
.pt-cv-wrapper .btn-default:active,
.pt-cv-wrapper .btn-default:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.pt-cv-wrapper .btn-default.active.focus,
.pt-cv-wrapper .btn-default.active:focus,
.pt-cv-wrapper .btn-default.active:hover,
.pt-cv-wrapper .btn-default:active.focus,
.pt-cv-wrapper .btn-default:active:focus,
.pt-cv-wrapper .btn-default:active:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-default.focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-default:focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-default:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.pt-cv-wrapper .btn-default.active,
.pt-cv-wrapper .btn-default:active,
.pt-cv-wrapper .open > .dropdown-toggle.btn-default {
  background-image: none;
}
.pt-cv-wrapper .btn-default.disabled,
.pt-cv-wrapper .btn-default.disabled.active,
.pt-cv-wrapper .btn-default.disabled.focus,
.pt-cv-wrapper .btn-default.disabled:active,
.pt-cv-wrapper .btn-default.disabled:focus,
.pt-cv-wrapper .btn-default.disabled:hover,
.pt-cv-wrapper .btn-default[disabled],
.pt-cv-wrapper .btn-default[disabled].active,
.pt-cv-wrapper .btn-default[disabled].focus,
.pt-cv-wrapper .btn-default[disabled]:active,
.pt-cv-wrapper .btn-default[disabled]:focus,
.pt-cv-wrapper .btn-default[disabled]:hover,
.pt-cv-wrapper fieldset[disabled] .btn-default,
.pt-cv-wrapper fieldset[disabled] .btn-default.active,
.pt-cv-wrapper fieldset[disabled] .btn-default.focus,
.pt-cv-wrapper fieldset[disabled] .btn-default:active,
.pt-cv-wrapper fieldset[disabled] .btn-default:focus,
.pt-cv-wrapper fieldset[disabled] .btn-default:hover {
  background-color: #fff;
  border-color: #ccc;
}
.pt-cv-wrapper .btn-default .badge {
  color: #fff;
  background-color: #333;
}
.pt-cv-wrapper .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.pt-cv-wrapper .btn-primary.focus,
.pt-cv-wrapper .btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.pt-cv-wrapper .btn-primary.active,
.pt-cv-wrapper .btn-primary:active,
.pt-cv-wrapper .btn-primary:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.pt-cv-wrapper .btn-primary.active.focus,
.pt-cv-wrapper .btn-primary.active:focus,
.pt-cv-wrapper .btn-primary.active:hover,
.pt-cv-wrapper .btn-primary:active.focus,
.pt-cv-wrapper .btn-primary:active:focus,
.pt-cv-wrapper .btn-primary:active:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-primary.focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-primary:focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.pt-cv-wrapper .btn-primary.active,
.pt-cv-wrapper .btn-primary:active,
.pt-cv-wrapper .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.pt-cv-wrapper .btn-primary.disabled,
.pt-cv-wrapper .btn-primary.disabled.active,
.pt-cv-wrapper .btn-primary.disabled.focus,
.pt-cv-wrapper .btn-primary.disabled:active,
.pt-cv-wrapper .btn-primary.disabled:focus,
.pt-cv-wrapper .btn-primary.disabled:hover,
.pt-cv-wrapper .btn-primary[disabled],
.pt-cv-wrapper .btn-primary[disabled].active,
.pt-cv-wrapper .btn-primary[disabled].focus,
.pt-cv-wrapper .btn-primary[disabled]:active,
.pt-cv-wrapper .btn-primary[disabled]:focus,
.pt-cv-wrapper .btn-primary[disabled]:hover,
.pt-cv-wrapper fieldset[disabled] .btn-primary,
.pt-cv-wrapper fieldset[disabled] .btn-primary.active,
.pt-cv-wrapper fieldset[disabled] .btn-primary.focus,
.pt-cv-wrapper fieldset[disabled] .btn-primary:active,
.pt-cv-wrapper fieldset[disabled] .btn-primary:focus,
.pt-cv-wrapper fieldset[disabled] .btn-primary:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.pt-cv-wrapper .btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.pt-cv-wrapper .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.pt-cv-wrapper .btn-success.focus,
.pt-cv-wrapper .btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.pt-cv-wrapper .btn-success.active,
.pt-cv-wrapper .btn-success:active,
.pt-cv-wrapper .btn-success:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.pt-cv-wrapper .btn-success.active.focus,
.pt-cv-wrapper .btn-success.active:focus,
.pt-cv-wrapper .btn-success.active:hover,
.pt-cv-wrapper .btn-success:active.focus,
.pt-cv-wrapper .btn-success:active:focus,
.pt-cv-wrapper .btn-success:active:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success.focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success:focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success:hover {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.pt-cv-wrapper .btn-success.active,
.pt-cv-wrapper .btn-success:active,
.pt-cv-wrapper .open > .dropdown-toggle.btn-success {
  background-image: none;
}
.pt-cv-wrapper .btn-success.disabled,
.pt-cv-wrapper .btn-success.disabled.active,
.pt-cv-wrapper .btn-success.disabled.focus,
.pt-cv-wrapper .btn-success.disabled:active,
.pt-cv-wrapper .btn-success.disabled:focus,
.pt-cv-wrapper .btn-success.disabled:hover,
.pt-cv-wrapper .btn-success[disabled],
.pt-cv-wrapper .btn-success[disabled].active,
.pt-cv-wrapper .btn-success[disabled].focus,
.pt-cv-wrapper .btn-success[disabled]:active,
.pt-cv-wrapper .btn-success[disabled]:focus,
.pt-cv-wrapper .btn-success[disabled]:hover,
.pt-cv-wrapper fieldset[disabled] .btn-success,
.pt-cv-wrapper fieldset[disabled] .btn-success.active,
.pt-cv-wrapper fieldset[disabled] .btn-success.focus,
.pt-cv-wrapper fieldset[disabled] .btn-success:active,
.pt-cv-wrapper fieldset[disabled] .btn-success:focus,
.pt-cv-wrapper fieldset[disabled] .btn-success:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.pt-cv-wrapper .btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.pt-cv-wrapper .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.pt-cv-wrapper .btn-info.focus,
.pt-cv-wrapper .btn-info:focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.pt-cv-wrapper .btn-info.active,
.pt-cv-wrapper .btn-info:active,
.pt-cv-wrapper .btn-info:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.pt-cv-wrapper .btn-info.active.focus,
.pt-cv-wrapper .btn-info.active:focus,
.pt-cv-wrapper .btn-info.active:hover,
.pt-cv-wrapper .btn-info:active.focus,
.pt-cv-wrapper .btn-info:active:focus,
.pt-cv-wrapper .btn-info:active:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-info.focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-info:focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-info:hover {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.pt-cv-wrapper .btn-info.active,
.pt-cv-wrapper .btn-info:active,
.pt-cv-wrapper .open > .dropdown-toggle.btn-info {
  background-image: none;
}
.pt-cv-wrapper .btn-info.disabled,
.pt-cv-wrapper .btn-info.disabled.active,
.pt-cv-wrapper .btn-info.disabled.focus,
.pt-cv-wrapper .btn-info.disabled:active,
.pt-cv-wrapper .btn-info.disabled:focus,
.pt-cv-wrapper .btn-info.disabled:hover,
.pt-cv-wrapper .btn-info[disabled],
.pt-cv-wrapper .btn-info[disabled].active,
.pt-cv-wrapper .btn-info[disabled].focus,
.pt-cv-wrapper .btn-info[disabled]:active,
.pt-cv-wrapper .btn-info[disabled]:focus,
.pt-cv-wrapper .btn-info[disabled]:hover,
.pt-cv-wrapper fieldset[disabled] .btn-info,
.pt-cv-wrapper fieldset[disabled] .btn-info.active,
.pt-cv-wrapper fieldset[disabled] .btn-info.focus,
.pt-cv-wrapper fieldset[disabled] .btn-info:active,
.pt-cv-wrapper fieldset[disabled] .btn-info:focus,
.pt-cv-wrapper fieldset[disabled] .btn-info:hover {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.pt-cv-wrapper .btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.pt-cv-wrapper .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.pt-cv-wrapper .btn-warning.focus,
.pt-cv-wrapper .btn-warning:focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.pt-cv-wrapper .btn-warning.active,
.pt-cv-wrapper .btn-warning:active,
.pt-cv-wrapper .btn-warning:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.pt-cv-wrapper .btn-warning.active.focus,
.pt-cv-wrapper .btn-warning.active:focus,
.pt-cv-wrapper .btn-warning.active:hover,
.pt-cv-wrapper .btn-warning:active.focus,
.pt-cv-wrapper .btn-warning:active:focus,
.pt-cv-wrapper .btn-warning:active:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-warning.focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-warning:focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-warning:hover {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.pt-cv-wrapper .btn-warning.active,
.pt-cv-wrapper .btn-warning:active,
.pt-cv-wrapper .open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.pt-cv-wrapper .btn-warning.disabled,
.pt-cv-wrapper .btn-warning.disabled.active,
.pt-cv-wrapper .btn-warning.disabled.focus,
.pt-cv-wrapper .btn-warning.disabled:active,
.pt-cv-wrapper .btn-warning.disabled:focus,
.pt-cv-wrapper .btn-warning.disabled:hover,
.pt-cv-wrapper .btn-warning[disabled],
.pt-cv-wrapper .btn-warning[disabled].active,
.pt-cv-wrapper .btn-warning[disabled].focus,
.pt-cv-wrapper .btn-warning[disabled]:active,
.pt-cv-wrapper .btn-warning[disabled]:focus,
.pt-cv-wrapper .btn-warning[disabled]:hover,
.pt-cv-wrapper fieldset[disabled] .btn-warning,
.pt-cv-wrapper fieldset[disabled] .btn-warning.active,
.pt-cv-wrapper fieldset[disabled] .btn-warning.focus,
.pt-cv-wrapper fieldset[disabled] .btn-warning:active,
.pt-cv-wrapper fieldset[disabled] .btn-warning:focus,
.pt-cv-wrapper fieldset[disabled] .btn-warning:hover {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.pt-cv-wrapper .btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.pt-cv-wrapper .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.pt-cv-wrapper .btn-danger.focus,
.pt-cv-wrapper .btn-danger:focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.pt-cv-wrapper .btn-danger.active,
.pt-cv-wrapper .btn-danger:active,
.pt-cv-wrapper .btn-danger:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.pt-cv-wrapper .btn-danger.active.focus,
.pt-cv-wrapper .btn-danger.active:focus,
.pt-cv-wrapper .btn-danger.active:hover,
.pt-cv-wrapper .btn-danger:active.focus,
.pt-cv-wrapper .btn-danger:active:focus,
.pt-cv-wrapper .btn-danger:active:hover,
.pt-cv-wrapper .open > .dropdown-toggle.btn-danger.focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-danger:focus,
.pt-cv-wrapper .open > .dropdown-toggle.btn-danger:hover {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.pt-cv-wrapper .btn-danger.active,
.pt-cv-wrapper .btn-danger:active,
.pt-cv-wrapper .open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.pt-cv-wrapper .btn-danger.disabled,
.pt-cv-wrapper .btn-danger.disabled.active,
.pt-cv-wrapper .btn-danger.disabled.focus,
.pt-cv-wrapper .btn-danger.disabled:active,
.pt-cv-wrapper .btn-danger.disabled:focus,
.pt-cv-wrapper .btn-danger.disabled:hover,
.pt-cv-wrapper .btn-danger[disabled],
.pt-cv-wrapper .btn-danger[disabled].active,
.pt-cv-wrapper .btn-danger[disabled].focus,
.pt-cv-wrapper .btn-danger[disabled]:active,
.pt-cv-wrapper .btn-danger[disabled]:focus,
.pt-cv-wrapper .btn-danger[disabled]:hover,
.pt-cv-wrapper fieldset[disabled] .btn-danger,
.pt-cv-wrapper fieldset[disabled] .btn-danger.active,
.pt-cv-wrapper fieldset[disabled] .btn-danger.focus,
.pt-cv-wrapper fieldset[disabled] .btn-danger:active,
.pt-cv-wrapper fieldset[disabled] .btn-danger:focus,
.pt-cv-wrapper fieldset[disabled] .btn-danger:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.pt-cv-wrapper .btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.pt-cv-wrapper .btn-link {
  color: #337ab7;
  font-weight: 400;
  border-radius: 0;
}
.pt-cv-wrapper .btn-link,
.pt-cv-wrapper .btn-link.active,
.pt-cv-wrapper .btn-link:active,
.pt-cv-wrapper .btn-link[disabled],
.pt-cv-wrapper fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pt-cv-wrapper .btn-link,
.pt-cv-wrapper .btn-link:active,
.pt-cv-wrapper .btn-link:focus,
.pt-cv-wrapper .btn-link:hover {
  border-color: transparent;
}
.pt-cv-wrapper .btn-link:focus,
.pt-cv-wrapper .btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.pt-cv-wrapper .btn-link[disabled]:focus,
.pt-cv-wrapper .btn-link[disabled]:hover,
.pt-cv-wrapper fieldset[disabled] .btn-link:focus,
.pt-cv-wrapper fieldset[disabled] .btn-link:hover {
  color: #777;
  text-decoration: none;
}
.pt-cv-wrapper .btn-group-lg > .btn,
.pt-cv-wrapper .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.pt-cv-wrapper .btn-group-sm > .btn,
.pt-cv-wrapper .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.pt-cv-wrapper .btn-group-xs > .btn,
.pt-cv-wrapper .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.pt-cv-wrapper .btn-block {
  display: block;
  width: 100%;
}
.pt-cv-wrapper .btn-block + .btn-block {
  margin-top: 5px;
}
.pt-cv-wrapper input[type="button"].btn-block,
.pt-cv-wrapper input[type="reset"].btn-block,
.pt-cv-wrapper input[type="submit"].btn-block {
  width: 100%;
}
.pt-cv-wrapper .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.pt-cv-wrapper .fade.in {
  opacity: 1;
}
.pt-cv-wrapper .collapse {
  display: none;
}
.pt-cv-wrapper .collapse.in {
  display: block;
}
.pt-cv-wrapper tr.collapse.in {
  display: table-row;
}
.pt-cv-wrapper tbody.collapse.in {
  display: table-row-group;
}
.pt-cv-wrapper .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.pt-cv-wrapper .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.pt-cv-wrapper .dropdown,
.pt-cv-wrapper .dropup {
  position: relative;
}
.pt-cv-wrapper .dropdown-toggle:focus {
  outline: 0;
}
.pt-cv-wrapper .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.pt-cv-wrapper .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.pt-cv-wrapper .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.pt-cv-wrapper .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.pt-cv-wrapper .dropdown-menu > li > a:focus,
.pt-cv-wrapper .dropdown-menu > li > a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.pt-cv-wrapper .dropdown-menu > .active > a,
.pt-cv-wrapper .dropdown-menu > .active > a:focus,
.pt-cv-wrapper .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.pt-cv-wrapper .dropdown-menu > .disabled > a,
.pt-cv-wrapper .dropdown-menu > .disabled > a:focus,
.pt-cv-wrapper .dropdown-menu > .disabled > a:hover {
  color: #777;
}
.pt-cv-wrapper .dropdown-menu > .disabled > a:focus,
.pt-cv-wrapper .dropdown-menu > .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}
.pt-cv-wrapper .open > .dropdown-menu {
  display: block;
}
.pt-cv-wrapper .open > a {
  outline: 0;
}
.pt-cv-wrapper .dropdown-menu-right {
  left: auto;
  right: 0;
}
.pt-cv-wrapper .dropdown-menu-left {
  left: 0;
  right: auto;
}
.pt-cv-wrapper .dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.pt-cv-wrapper .dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pt-cv-wrapper .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.pt-cv-wrapper .dropup .caret,
.pt-cv-wrapper .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  content: "";
}
.pt-cv-wrapper .dropup .dropdown-menu,
.pt-cv-wrapper .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .pt-cv-wrapper .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .pt-cv-wrapper .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.pt-cv-wrapper .btn-group,
.pt-cv-wrapper .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.pt-cv-wrapper .btn-group-vertical > .btn,
.pt-cv-wrapper .btn-group > .btn {
  position: relative;
  float: left;
}
.pt-cv-wrapper .btn-group-vertical > .btn.active,
.pt-cv-wrapper .btn-group-vertical > .btn:active,
.pt-cv-wrapper .btn-group-vertical > .btn:focus,
.pt-cv-wrapper .btn-group-vertical > .btn:hover,
.pt-cv-wrapper .btn-group > .btn.active,
.pt-cv-wrapper .btn-group > .btn:active,
.pt-cv-wrapper .btn-group > .btn:focus,
.pt-cv-wrapper .btn-group > .btn:hover {
  z-index: 2;
}
.pt-cv-wrapper .btn-group .btn + .btn,
.pt-cv-wrapper .btn-group .btn + .btn-group,
.pt-cv-wrapper .btn-group .btn-group + .btn,
.pt-cv-wrapper .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.pt-cv-wrapper .btn-toolbar {
  margin-left: -5px;
}
.pt-cv-wrapper .btn-toolbar .btn,
.pt-cv-wrapper .btn-toolbar .btn-group,
.pt-cv-wrapper .btn-toolbar .input-group {
  float: left;
}
.pt-cv-wrapper .btn-toolbar > .btn,
.pt-cv-wrapper .btn-toolbar > .btn-group,
.pt-cv-wrapper .btn-toolbar > .input-group {
  margin-left: 5px;
}
.pt-cv-wrapper
  .btn-group
  > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.pt-cv-wrapper .btn-group > .btn:first-child {
  margin-left: 0;
}
.pt-cv-wrapper
  .btn-group
  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pt-cv-wrapper .btn-group > .btn:last-child:not(:first-child),
.pt-cv-wrapper .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pt-cv-wrapper .btn-group > .btn-group {
  float: left;
}
.pt-cv-wrapper
  .btn-group
  > .btn-group:not(:first-child):not(:last-child)
  > .btn {
  border-radius: 0;
}
.pt-cv-wrapper
  .btn-group
  > .btn-group:first-child:not(:last-child)
  > .btn:last-child,
.pt-cv-wrapper
  .btn-group
  > .btn-group:first-child:not(:last-child)
  > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pt-cv-wrapper
  .btn-group
  > .btn-group:last-child:not(:first-child)
  > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pt-cv-wrapper .btn-group .dropdown-toggle:active,
.pt-cv-wrapper .btn-group.open .dropdown-toggle {
  outline: 0;
}
.pt-cv-wrapper .btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.pt-cv-wrapper .btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.pt-cv-wrapper .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.pt-cv-wrapper .btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pt-cv-wrapper .btn .caret {
  margin-left: 0;
}
.pt-cv-wrapper .btn-lg .caret {
  border-width: 5px 5px 0;
}
.pt-cv-wrapper .dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
.pt-cv-wrapper .btn-group-vertical > .btn,
.pt-cv-wrapper .btn-group-vertical > .btn-group,
.pt-cv-wrapper .btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.pt-cv-wrapper .btn-group-vertical > .btn-group > .btn {
  float: none;
}
.pt-cv-wrapper .btn-group-vertical > .btn + .btn,
.pt-cv-wrapper .btn-group-vertical > .btn + .btn-group,
.pt-cv-wrapper .btn-group-vertical > .btn-group + .btn,
.pt-cv-wrapper .btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.pt-cv-wrapper .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.pt-cv-wrapper .btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.pt-cv-wrapper .btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.pt-cv-wrapper
  .btn-group-vertical
  > .btn-group:not(:first-child):not(:last-child)
  > .btn {
  border-radius: 0;
}
.pt-cv-wrapper
  .btn-group-vertical
  > .btn-group:first-child:not(:last-child)
  > .btn:last-child,
.pt-cv-wrapper
  .btn-group-vertical
  > .btn-group:first-child:not(:last-child)
  > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.pt-cv-wrapper
  .btn-group-vertical
  > .btn-group:last-child:not(:first-child)
  > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.pt-cv-wrapper .btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.pt-cv-wrapper .btn-group-justified > .btn,
.pt-cv-wrapper .btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}
.pt-cv-wrapper .btn-group-justified > .btn-group .btn {
  width: 100%;
}
.pt-cv-wrapper .btn-group-justified > .btn-group .dropdown-menu {
  left: auto;
}
.pt-cv-wrapper [data-toggle="buttons"] > .btn input[type="checkbox"],
.pt-cv-wrapper [data-toggle="buttons"] > .btn input[type="radio"],
.pt-cv-wrapper
  [data-toggle="buttons"]
  > .btn-group
  > .btn
  input[type="checkbox"],
.pt-cv-wrapper [data-toggle="buttons"] > .btn-group > .btn input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.pt-cv-wrapper .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.pt-cv-wrapper .nav > li {
  position: relative;
  display: block;
}
.pt-cv-wrapper .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.pt-cv-wrapper .nav > li > a:focus,
.pt-cv-wrapper .nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.pt-cv-wrapper .nav > li.disabled > a {
  color: #777;
}
.pt-cv-wrapper .nav > li.disabled > a:focus,
.pt-cv-wrapper .nav > li.disabled > a:hover {
  color: #777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.pt-cv-wrapper .nav .open > a,
.pt-cv-wrapper .nav .open > a:focus,
.pt-cv-wrapper .nav .open > a:hover {
  background-color: #eee;
  border-color: #337ab7;
}
.pt-cv-wrapper .nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.pt-cv-wrapper .nav > li > a > img {
  max-width: none;
}
.pt-cv-wrapper .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.pt-cv-wrapper .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.pt-cv-wrapper .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.pt-cv-wrapper .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.pt-cv-wrapper .nav-tabs > li.active > a,
.pt-cv-wrapper .nav-tabs > li.active > a:focus,
.pt-cv-wrapper .nav-tabs > li.active > a:hover {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.pt-cv-wrapper .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.pt-cv-wrapper .nav-tabs.nav-justified > li {
  float: none;
}
.pt-cv-wrapper .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.pt-cv-wrapper .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .pt-cv-wrapper .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .pt-cv-wrapper .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.pt-cv-wrapper .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.pt-cv-wrapper .nav-tabs.nav-justified > .active > a,
.pt-cv-wrapper .nav-tabs.nav-justified > .active > a:focus,
.pt-cv-wrapper .nav-tabs.nav-justified > .active > a:hover {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .pt-cv-wrapper .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .pt-cv-wrapper .nav-tabs.nav-justified > .active > a,
  .pt-cv-wrapper .nav-tabs.nav-justified > .active > a:focus,
  .pt-cv-wrapper .nav-tabs.nav-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}
.pt-cv-wrapper .nav-pills > li {
  float: left;
}
.pt-cv-wrapper .nav-pills > li > a {
  border-radius: 4px;
}
.pt-cv-wrapper .nav-pills > li + li {
  margin-left: 2px;
}
.pt-cv-wrapper .nav-pills > li.active > a,
.pt-cv-wrapper .nav-pills > li.active > a:focus,
.pt-cv-wrapper .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #337ab7;
}
.pt-cv-wrapper .nav-stacked > li {
  float: none;
}
.pt-cv-wrapper .nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.pt-cv-wrapper .nav-justified {
  width: 100%;
}
.pt-cv-wrapper .nav-justified > li {
  float: none;
}
.pt-cv-wrapper .nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.pt-cv-wrapper .nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .pt-cv-wrapper .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .pt-cv-wrapper .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.pt-cv-wrapper .nav-tabs-justified {
  border-bottom: 0;
}
.pt-cv-wrapper .nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.pt-cv-wrapper .nav-tabs-justified > .active > a,
.pt-cv-wrapper .nav-tabs-justified > .active > a:focus,
.pt-cv-wrapper .nav-tabs-justified > .active > a:hover {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .pt-cv-wrapper .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .pt-cv-wrapper .nav-tabs-justified > .active > a,
  .pt-cv-wrapper .nav-tabs-justified > .active > a:focus,
  .pt-cv-wrapper .nav-tabs-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}
.pt-cv-wrapper .tab-content > .tab-pane {
  display: none;
}
.pt-cv-wrapper .tab-content > .active {
  display: block;
}
.pt-cv-wrapper .nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.pt-cv-wrapper .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pt-cv-wrapper .pagination > li {
  display: inline;
}
.pt-cv-wrapper .pagination > li > a,
.pt-cv-wrapper .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pt-cv-wrapper .pagination > li:first-child > a,
.pt-cv-wrapper .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pt-cv-wrapper .pagination > li:last-child > a,
.pt-cv-wrapper .pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pt-cv-wrapper .pagination > li > a:focus,
.pt-cv-wrapper .pagination > li > a:hover,
.pt-cv-wrapper .pagination > li > span:focus,
.pt-cv-wrapper .pagination > li > span:hover {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pt-cv-wrapper .pagination > .active > a,
.pt-cv-wrapper .pagination > .active > a:focus,
.pt-cv-wrapper .pagination > .active > a:hover,
.pt-cv-wrapper .pagination > .active > span,
.pt-cv-wrapper .pagination > .active > span:focus,
.pt-cv-wrapper .pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pt-cv-wrapper .pagination > .disabled > a,
.pt-cv-wrapper .pagination > .disabled > a:focus,
.pt-cv-wrapper .pagination > .disabled > a:hover,
.pt-cv-wrapper .pagination > .disabled > span,
.pt-cv-wrapper .pagination > .disabled > span:focus,
.pt-cv-wrapper .pagination > .disabled > span:hover {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pt-cv-wrapper .pagination-lg > li > a,
.pt-cv-wrapper .pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pt-cv-wrapper .pagination-lg > li:first-child > a,
.pt-cv-wrapper .pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pt-cv-wrapper .pagination-lg > li:last-child > a,
.pt-cv-wrapper .pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pt-cv-wrapper .pagination-sm > li > a,
.pt-cv-wrapper .pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pt-cv-wrapper .pagination-sm > li:first-child > a,
.pt-cv-wrapper .pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pt-cv-wrapper .pagination-sm > li:last-child > a,
.pt-cv-wrapper .pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pt-cv-wrapper .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.pt-cv-wrapper .thumbnail a > img,
.pt-cv-wrapper .thumbnail > img {
  margin-left: auto;
  margin-right: auto;
}
.pt-cv-wrapper a.thumbnail.active,
.pt-cv-wrapper a.thumbnail:focus,
.pt-cv-wrapper a.thumbnail:hover {
  border-color: #337ab7;
}
.pt-cv-wrapper .thumbnail .caption {
  padding: 9px;
  color: #333;
}
.pt-cv-wrapper .pt-cv-carousel {
  position: relative;
}
.pt-cv-wrapper .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.pt-cv-wrapper .carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.pt-cv-wrapper .carousel-inner > .item > a > img,
.pt-cv-wrapper .carousel-inner > .item > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .pt-cv-wrapper .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .pt-cv-wrapper .carousel-inner > .item.active.right,
  .pt-cv-wrapper .carousel-inner > .item.next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .pt-cv-wrapper .carousel-inner > .item.active.left,
  .pt-cv-wrapper .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .pt-cv-wrapper .carousel-inner > .item.active,
  .pt-cv-wrapper .carousel-inner > .item.next.left,
  .pt-cv-wrapper .carousel-inner > .item.prev.right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.pt-cv-wrapper .carousel-inner > .active,
.pt-cv-wrapper .carousel-inner > .next,
.pt-cv-wrapper .carousel-inner > .prev {
  display: block;
}
.pt-cv-wrapper .carousel-inner > .active {
  left: 0;
}
.pt-cv-wrapper .carousel-inner > .next,
.pt-cv-wrapper .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.pt-cv-wrapper .carousel-inner > .next {
  left: 100%;
}
.pt-cv-wrapper .carousel-inner > .prev {
  left: -100%;
}
.pt-cv-wrapper .carousel-inner > .next.left,
.pt-cv-wrapper .carousel-inner > .prev.right {
  left: 0;
}
.pt-cv-wrapper .carousel-inner > .active.left {
  left: -100%;
}
.pt-cv-wrapper .carousel-inner > .active.right {
  left: 100%;
}
.pt-cv-wrapper .carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.pt-cv-wrapper .carousel-control.left {
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.0001) 100%
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.0001) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0.0001))
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.0001) 100%
  );
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.pt-cv-wrapper .carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.0001) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.0001) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.0001)),
    to(rgba(0, 0, 0, 0.5))
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.0001) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.pt-cv-wrapper .carousel-control:focus,
.pt-cv-wrapper .carousel-control:hover {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.pt-cv-wrapper .carousel-control .glyphicon-chevron-left,
.pt-cv-wrapper .carousel-control .glyphicon-chevron-right,
.pt-cv-wrapper .carousel-control .icon-next,
.pt-cv-wrapper .carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}
.pt-cv-wrapper .carousel-control .glyphicon-chevron-left,
.pt-cv-wrapper .carousel-control .icon-prev {
  left: 50%;
  margin-left: -10px;
}
.pt-cv-wrapper .carousel-control .glyphicon-chevron-right,
.pt-cv-wrapper .carousel-control .icon-next {
  right: 50%;
  margin-right: -10px;
}
.pt-cv-wrapper .carousel-control .icon-next,
.pt-cv-wrapper .carousel-control .icon-prev {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.pt-cv-wrapper .carousel-control .icon-prev:before {
  content: "\2039";
}
.pt-cv-wrapper .carousel-control .icon-next:before {
  content: "\203a";
}
.pt-cv-wrapper .pt-cv-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.pt-cv-wrapper .pt-cv-carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}
.pt-cv-wrapper .pt-cv-carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.pt-cv-wrapper .pt-cv-carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.pt-cv-wrapper .pt-cv-carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .pt-cv-wrapper .carousel-control .glyphicon-chevron-left,
  .pt-cv-wrapper .carousel-control .glyphicon-chevron-right,
  .pt-cv-wrapper .carousel-control .icon-next,
  .pt-cv-wrapper .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .pt-cv-wrapper .carousel-control .glyphicon-chevron-left,
  .pt-cv-wrapper .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .pt-cv-wrapper .carousel-control .glyphicon-chevron-right,
  .pt-cv-wrapper .carousel-control .icon-next {
    margin-right: -15px;
  }
  .pt-cv-wrapper .pt-cv-carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .pt-cv-wrapper .pt-cv-carousel-indicators {
    bottom: 20px;
  }
}
.pt-cv-wrapper .btn-group-vertical > .btn-group:after,
.pt-cv-wrapper .btn-group-vertical > .btn-group:before,
.pt-cv-wrapper .btn-toolbar:after,
.pt-cv-wrapper .btn-toolbar:before,
.pt-cv-wrapper .clearfix:after,
.pt-cv-wrapper .clearfix:before,
.pt-cv-wrapper .container-fluid:after,
.pt-cv-wrapper .container-fluid:before,
.pt-cv-wrapper .container:after,
.pt-cv-wrapper .container:before,
.pt-cv-wrapper .nav:after,
.pt-cv-wrapper .nav:before,
.pt-cv-wrapper .row:after,
.pt-cv-wrapper .row:before {
  content: " ";
  display: table;
}
.pt-cv-wrapper .btn-group-vertical > .btn-group:after,
.pt-cv-wrapper .btn-toolbar:after,
.pt-cv-wrapper .clearfix:after,
.pt-cv-wrapper .container-fluid:after,
.pt-cv-wrapper .container:after,
.pt-cv-wrapper .nav:after,
.pt-cv-wrapper .row:after {
  clear: both;
}
.pt-cv-wrapper .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pt-cv-wrapper .pull-right {
  float: right !important;
}
.pt-cv-wrapper .pull-left {
  float: left !important;
}
.pt-cv-wrapper .hide {
  display: none !important;
}
.pt-cv-wrapper .show {
  display: block !important;
}
.pt-cv-wrapper .invisible {
  visibility: hidden;
}
.pt-cv-wrapper .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.pt-cv-wrapper .hidden {
  display: none !important;
}
.pt-cv-wrapper .affix {
  position: fixed;
}
.pt-cv-wrapper .text-left {
  text-align: left;
}
.pt-cv-wrapper .text-right {
  text-align: right;
}
.pt-cv-wrapper .text-center {
  text-align: center;
}
.pt-cv-wrapper .text-justify {
  text-align: justify;
}
.pt-cv-wrapper .text-nowrap {
  white-space: nowrap;
}
.pt-cv-wrapper .text-lowercase {
  text-transform: lowercase;
}
.pt-cv-wrapper .text-uppercase {
  text-transform: uppercase;
}
.pt-cv-wrapper .text-capitalize {
  text-transform: capitalize;
}
.pt-cv-wrapper .text-muted {
  color: #777;
}
.pt-cv-wrapper .text-primary {
  color: #428bca;
}
.pt-cv-wrapper .h1,
.pt-cv-wrapper .h2,
.pt-cv-wrapper .h3,
.pt-cv-wrapper .h4,
.pt-cv-wrapper .h5,
.pt-cv-wrapper .h6,
.pt-cv-wrapper h1,
.pt-cv-wrapper h2,
.pt-cv-wrapper h3,
.pt-cv-wrapper h4,
.pt-cv-wrapper h5,
.pt-cv-wrapper h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.pt-cv-view *,
.pt-cv-view :after,
.pt-cv-view :before {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.pt-cv-view {
  position: relative;
  clear: both;
}
.pt-cv-view:after {
  clear: both;
  content: "";
  display: block;
}
.pt-cv-page {
  position: relative;
}
.pt-cv-gls-group {
  clear: left;
}
.pt-cv-view strong,
.pt-cv-view strong * {
  font-weight: 600 !important;
}
.pt-cv-colsys {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 992px) {
  .pt-cv-colsys [data-cvc="11"] .col-md-1:nth-child(11n + 1),
  .pt-cv-colsys [data-cvc="12"] .col-md-1:nth-child(12n + 1),
  .pt-cv-colsys [data-cvc="2"] .col-md-6:nth-child(2n + 1),
  .pt-cv-colsys [data-cvc="3"] .col-md-4:nth-child(3n + 1),
  .pt-cv-colsys [data-cvc="4"] .col-md-3:nth-child(4n + 1),
  .pt-cv-colsys [data-cvc="5"] .col-md-2:nth-child(5n + 1),
  .pt-cv-colsys [data-cvc="6"] .col-md-2:nth-child(6n + 1),
  .pt-cv-colsys [data-cvc="7"] .col-md-1:nth-child(7n + 1),
  .pt-cv-colsys [data-cvc="8"] .col-md-1:nth-child(8n + 1),
  .pt-cv-colsys [data-cvc="9"] .col-md-1:nth-child(9n + 1),
  .pt-cv-colsys [data-cvc="10"] .col-md-1:nth-child(10n + 1) {
    clear: left !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pt-cv-colsys .col-sm-2:nth-child(5n + 1),
  .pt-cv-colsys .col-sm-2:nth-child(6n + 1),
  .pt-cv-colsys .col-sm-3:nth-child(4n + 1),
  .pt-cv-colsys .col-sm-4:nth-child(3n + 1),
  .pt-cv-colsys .col-sm-6:nth-child(2n + 1) {
    clear: left !important;
  }
}
@media (max-width: 767px) {
  .pt-cv-colsys .col-xs-2:nth-child(5n + 1),
  .pt-cv-colsys .col-xs-2:nth-child(6n + 1),
  .pt-cv-colsys .col-xs-3:nth-child(4n + 1),
  .pt-cv-colsys .col-xs-4:nth-child(3n + 1),
  .pt-cv-colsys .col-xs-6:nth-child(2n + 1) {
    clear: left !important;
  }
}
@media (min-width: 992px) {
  .pt-cv-colsys [data-cvc="5"] .pt-cv-content-item {
    width: 20%;
  }
  .pt-cv-colsys [data-cvc="7"] .pt-cv-content-item {
    width: 14.28571428%;
  }
  .pt-cv-colsys [data-cvc="8"] .pt-cv-content-item {
    width: 12.5%;
  }
  .pt-cv-colsys [data-cvc="9"] .pt-cv-content-item {
    width: 11.11111111%;
  }
  .pt-cv-colsys [data-cvc="10"] .pt-cv-content-item {
    width: 10%;
  }
  .pt-cv-colsys [data-cvc="11"] .pt-cv-content-item {
    width: 9.09090909%;
  }
}
.pt-cv-colsys .pt-cv-content-item {
  flex: none;
  max-width: initial;
}
.pt-cv-wrapper .row {
  display: block;
}
.pt-cv-view a,
.pt-cv-wrapper .btn {
  text-decoration: none !important;
  outline: 0 !important;
  font-style: normal;
}
.pt-cv-view a {
  pointer-events: auto;
}
.pt-cv-readmore {
  color: #fff;
  margin: 10px 0;
  max-width: 100%;
}
.pt-cv-content-item {
  padding-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.pt-cv-ifield > *,
.pt-cv-view .pt-cv-content-item > * {
  margin-bottom: 10px;
}
.pt-cv-collapsible .pt-cv-content-item > * {
  margin-bottom: 0 !important;
}
.pt-cv-title {
  margin-top: 0 !important;
}
h4.pt-cv-title {
  font-size: 18px;
}
.pt-cv-view .pt-cv-title {
  margin-bottom: 10px;
}
.pt-cv-title a {
  font-weight: 600;
  border-bottom: none;
}
.pt-cv-thumbnail {
  height: auto;
  max-width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  min-width: inherit !important;
}
.pt-cv-thumbnail.pull-left {
  margin-right: 15px !important;
}
.pt-cv-thumbnail.pull-right {
  margin-left: 15px;
}
.pt-cv-no-image {
  min-width: 80px;
  min-height: 80px;
}
.pt-cv-content,
.pt-cv-content * {
  font-weight: 400;
}
.pt-cv-meta-fields {
  font-size: 13px;
  margin-top: 0;
}
.pt-cv-meta-fields a {
  color: #41b7d8;
}
.pt-cv-pagination-wrapper {
  margin: 20px 0;
}
.pt-cv-view + .pagination {
  float: left;
  margin: 0 auto !important;
}
.pt-cv-view + .pagination > li {
  background: 0 0 !important;
}
.pt-cv-view + .pagination > li > a {
  cursor: pointer;
}
.pt-cv-spinner {
  width: 15px !important;
  height: 15px !important;
  margin-top: -25px;
  display: inline-block;
  opacity: 0 !important;
  filter: alpha(opacity=0);
  color: #0470ec;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}
.pt-cv-spinner.active {
  opacity: 1 !important;
  filter: alpha(opacity=100);
}
.pt-cv-clear-pagination {
  margin-bottom: 50px;
}
.pt-cv-pagination-wrapper {
  clear: both;
  position: relative;
}
.pt-cv-pgloadmore + .pt-cv-pagination-wrapper {
  overflow-anchor: none;
}
.pt-cv-pagination-wrapper .pt-cv-pagination.pagination {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0;
  padding: 0;
  margin: initial;
  min-height: initial;
  width: auto;
  display: inline-block;
}
.pt-cv-pagination li {
  display: inline !important;
  background-image: none !important;
}
.pt-cv-pagination li:after,
.pt-cv-pagination li:before {
  content: none !important;
}
.pt-cv-pagination li a {
  cursor: pointer;
  display: inline-block;
}
.pt-cv-pagination li.active a {
  border-color: rgba(66, 139, 202, 0.2) !important;
}
.pt-cv-pagination li a[href="#"] {
  pointer-events: none;
}
.pt-cv-collapsible .panel {
  display: block;
}
.pt-cv-collapsible .panel-heading {
  padding: 0;
}
.pt-cv-collapsible .panel-heading a {
  display: block;
  padding: 10px 15px;
}
.pt-cv-collapsible .panel-body {
  padding: 10px;
}
.pt-cv-view .collapse {
  display: none;
  visibility: hidden;
}
.pt-cv-view .collapse.in {
  display: block;
  visibility: visible;
  overflow: auto;
}
.pt-cv-collapsible .panel-heading br {
  display: none;
}
.pt-cv-collapsible {
  overflow-anchor: none;
}
.pt-cv-scrollable {
  margin-left: 0;
  margin-right: 0;
}
.pt-cv-scrollable .carousel-inner {
  opacity: 1;
}
.pt-cv-scrollable .pt-cv-carousel-caption {
  text-align: left;
  bottom: 15px;
  padding: 10px;
}
.pt-cv-scrollable .pt-cv-carousel-caption * {
  text-shadow: none;
}
.pt-cv-scrollable .pt-cv-title {
  padding-bottom: 0;
}
.pt-cv-scrollable .pt-cv-carousel-caption {
  margin-bottom: 10px !important;
}
.pt-cv-scrollable .pt-cv-thumbnail {
  width: 100%;
}
.pt-cv-carousel-caption:empty {
  display: none;
}
.pt-cv-scrollable .pt-cv-carousel .item {
  height: auto;
  margin: auto;
  min-height: 0;
  max-height: none;
  line-height: normal;
}
.pt-cv-scrollable .pt-cv-cap-w-img {
  background: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px #000;
  left: 15px;
  right: 15px;
}
.pt-cv-cap-w-img * {
  color: #fff;
}
.pt-cv-cap-w-img .pt-cv-title a {
  color: #fff !important;
}
.pt-cv-scrollable .pt-cv-cap-wo-img {
  position: relative !important;
  bottom: 0 !important;
  left: 0;
  right: 0;
}
.pt-cv-cap-wo-img * {
  color: #000;
}
.pt-cv-cap-wo-img .pt-cv-readmore {
  color: #fff;
}
.pt-cv-view .carousel-control {
  background-image: none !important;
  height: 30px;
  width: 40px;
  bottom: 0;
  top: auto;
  color: #00a100;
  cursor: pointer;
}
.pt-cv-view .pt-cv-carousel-indicators {
  bottom: 0;
  margin-bottom: 4px;
}
.pt-cv-view .pt-cv-carousel-indicators li {
  background: #cecece;
  border: 1px solid #cecece;
  margin: 0;
}
.pt-cv-view .pt-cv-carousel-indicators li.active {
  background: #428bca;
  border: 1px solid #428bca;
}
.pt-cv-2-col .pt-cv-title {
  clear: none !important;
}
@media (min-width: 480px) {
  .pt-cv-2-col .pt-cv-colwrap {
    display: table-cell;
    word-break: break-word;
  }
}
@media (max-width: 479px) {
  .pt-cv-2-col .pt-cv-colwrap {
    clear: both;
  }
}
.pt-cv-view .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pt-cv-view .panel-default {
  border-color: #ddd;
  padding-bottom: 0;
}
.pt-cv-view .panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.pt-cv-pagination:after,
.pt-cv-pagination:before {
  content: none !important;
}
.pt-cv-wrapper [class*="pt-cv-"] a {
  box-shadow: none;
}
.pt-cv-view p:empty {
  display: none;
}
.pt-cv-view .pt-cv-ifield {
  margin-bottom: 0 !important;
}
@media (max-width: 480px) {
  .pt-cv-nolf .pt-cv-2-col .pt-cv-thumbnail {
    float: none !important;
    margin: 0;
  }
}
@media print {
  .pt-cv-view a[href]:after {
    content: none !important;
  }
  .pt-cv-view .collapse {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
}
